<div class="usage-statistics">
  <h3>Statistics for:
    <div class="statistic-date">
      <%= select_tag 'run_date', options_for_select(@run_dates, @institution_statistics.run_date) %>
    </div>
  </h3>

  <% date = Date.parse("#{@institution_statistics.run_date}-01 00:00:00") %>

  <div class="statistics">
		<h4><%= @current_institution.full_name %></h4>
			
    <div class="statistics-row">
      <div class="statistic-card">
        <%= @institution_statistics.total_users %>
        <%= "Active User#{@institution_statistics.total_users == 1 ? '' : 's'}" %>
      </div>
  
      <div class="statistic-card">
        <%= @institution_statistics.new_users %> 
        <%= "New User#{@institution_statistics.new_users == 1 ? '' : 's'}" %>
      </div>
    </div>

    <div class="statistics-row">  
      <div class="statistic-card">
        <%= @institution_statistics.total_completed_plans %> 
        <%= "Completed Plan#{@institution_statistics.total_completed_plans == 1 ? '' : 's'}" %>
      </div>
  
      <div class="statistic-card">
        <%= @institution_statistics.new_completed_plans %> 
        <%= "New Completed Plan#{@institution_statistics.new_completed_plans == 1 ? '' : 's'}" %>
      </div>
    </div>
  </div>
	
  <div class="statistics">
		<h4>Systemwide</h4>
			
    <div class="statistics-row">
      <div class="statistic-card">
        <%= @global_statistics.total_users %>
        <%= "Active User#{@global_statistics.total_users == 1 ? '' : 's'}" %>
      </div>
  
      <div class="statistic-card">
        <%= @global_statistics.new_users %> 
        <%= "New User#{@global_statistics.new_users == 1 ? '' : 's'}" %>
      </div>
    </div>

    <div class="statistics-row">  
      <div class="statistic-card">
        <%= @global_statistics.total_completed_plans %> 
        <%= "Completed Plan#{@global_statistics.total_completed_plans == 1 ? '' : 's'}" %>
      </div>
  
      <div class="statistic-card">
        <%= @global_statistics.new_completed_plans %> 
        <%= "New Completed Plan#{@global_statistics.new_completed_plans == 1 ? '' : 's'}" %>
      </div>
    </div>
		
    <div class="statistics-row">  
      <div class="statistic-card" style="width: 450px;">
				<%= "Template of the month:" %><br /><%= "'#{@template_of_the_month.name}'" %> 
      </div>
  	</div>
		<div class="statistics-row">  
      <div class="statistic-card">
				Top 10 institutions by number of users
				<% @top_ten_by_users.each do |entry| %>
        	<%= "#{entry[:name]} - (#{entry.count} user#{entry.count == 1 ? '' : 's'})" %> 
        <% end %>
      </div>
			
      <div class="statistic-card">
				Top 10 institutions by number of plans
				<% @top_ten_by_plans.each do |entry| %>
        	<%= "#{entry[:name]} - (#{entry.count} plan#{entry.count == 1 ? '' : 's'})" %> 
        <% end %>
      </div>
    </div>
		
  </div>
</div>