<h2> Resources Available at <%= @current_institution.full_name %> </h2>
	
<table class="table table-striped">

	<thead>
		<tr>
			<th class="span4">Details</th>
			<th width="span1">Edit</th>
			<th>Institution</th>
			<th>Creation Date</th>
			<th>Last Modification Date</th>
		</tr>
	</thead>
	<tbody>
	<% @resource_contexts.each do |resource_context| %>
		<tr>
			<td>
				<div class="toggle-links">
					<%= resource_context.resource.nil? ? " " :  resource_context.resource.label %>
				</div>
			</td>
			<td class="span1"><%= link_to raw(''), edit_resource_path(resource_context.resource_id), :class => 'icon edit-user' %></td>
			<td><%= resource_context.institution.nil? ? " " :  resource_context.institution.nickname %></td>
			<td><%= resource_context.resource.nil? ? " " :  resource_context.resource.created_at.strftime("%m/%d/%Y %I:%M%p") %></td>
			<td><%= resource_context.resource.nil? ? " " :  resource_context.resource.updated_at.strftime("%m/%d/%Y %I:%M%p") %></td>

		</tr>
	<% end %>
	<tbody>
</table>

<div class="buttons pagination">	
	<%= link_to "View All", institutions_path(anchor: 'tab_tab2', scope: "all"), :method => :get, :class => "btn" %>	
	<%= paginate @resource_contexts %>
</div>
<div class="buttons">
	<%= button_to 'Create New Resource', new_resource_path, :method => :get, :class => "btn btn-green" %>
</div>