<h2 class="dashboard-heading"><span class="icon template-dmp"></span>Resources Available at </h2>
	
	<table class="table table-striped">

		<thead>
			<tr>
				<th class="span4">Details</th>
				<th>Edit</th>
				<th>Institution</th>
				<th>Creation Date</th>
				<th>Last Modification Date</th>
			</tr>
		</thead>
		<tbody>
		<% @resource_contexts.each do |resource_context| %>
			<tr>
				<td>
					<div class="toggle-links">
						<%=link_to (content_tag(:strong, resource_context.resource.label)), resource_context_path(resource_context), :id => "#{resource_context.resource.label}"%>
					</div>
				</td>
				<td><%= link_to "edit resource_context", edit_resource_context_path(resource_context) %></td>
				<td><%= resource_context.institution.nil? ? " " :  resource_context.institution.nickname %></td>
				<td><%= resource_context.resource.created_at.nil? ? " " :  resource_context.resource.created_at.strftime("%m/%d/%Y %I:%M%p") %></td>
				<td><%= resource_context.resource.updated_at.nil? ? " " :  resource_context.resource.updated_at.strftime("%m/%d/%Y %I:%M%p") %></td>
			</tr>
		<% end %>
		<tbody>
	</table>
		<div class="buttons pagination">
			<%#= link_to "View All", resources_path(:scope => "all"), :method => :get, :class => "btn", :id => 'view_all_resources'%>
			<%#= paginate @resources %>
		</div>
		</tr>
		</tbody>
	</table>
	<%= button_to 'Create New Resource', new_resource_path, :method => :get, :class => 'btn' %>
	<br/>