%table.table
  %thead
    %tr
      %th Name
      %th Username
      %th Email
      %th Remove
  %tbody
    - @institution_users.each do |user|
      %tr
          %td= user.full_name
          %td= user.login_id
          %td= user.email
          %td= link_to raw('<i class="icon-remove icon-white"></i>'), user, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn-danger'
%br/
= link_to 'Add New Institutional Administrator', new_user_path