<h5>Institutional Adminitrators</h5>
<hr/>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th width="85" class="align-center">Revoke Role</th>
    </tr>
  </thead>
  <tbody>
    <% @institution_users.each do |user| %>
      <tr>
          <td><%= user.full_name %></td>
          <td><%= user.login_id %></td>
          <td><%= user.email %></td>
          <td class="align-center"><%= link_to raw('<i class="icon-minus-sign icon-white"></i>'), remove_authorization_path(user_id: user.id, role_id: 5, p: 'institutions'), class: "img-polaroid btn-danger" %></td>
          
      </tr>
    <% end %>
   </tbody>
</table>
<br>

<div class="buttons row-fluid">
	<%= link_to 'Add New Institutional Administrator', add_authorization_path, method: :post, id: 'add_authorization_view'%>
</div>

<%= render partial: "/authorizations/add_authorization" , :locals => { :role_type => 5, :role_name => 'Institutional Administrator', :p => 'institutions'}%>



