<table class ="table table-striped">

	<div class="table-scope">
		
		<%= link_to "All(#{@all})", institutions_path(anchor: 'tab_tab4', scope: "all") %> 
		| 
		<%= link_to "Resources Editors(#{@resources_editor})",institutions_path(anchor: 'tab_tab4', scope:  "resources_editor")  %> 
		| 
		<%= link_to "Template Editor(#{@template_editor})", institutions_path(anchor: 'tab_tab4', scope: "template_editor")%> 
		| 
		<%= link_to "Institutional Administrator(#{@institutional_administrator})" , institutions_path(anchor: 'tab_tab4', scope: "institutional_administrator") %> 
		| 
		<%= link_to "Institutional Reviewers(#{@institutional_reviewer})",  institutions_path(anchor: 'tab_tab4', scope: "institutional_reviewer") %>
		|
		<%= link_to "DMP Administrators(#{@dmp_administrator})",  institutions_path(anchor: 'tab_tab4', scope: "dmp_administrator") %>
	</div>


		<thead>
		  <tr>
		    <th>User Name</th>
		    <th>Institution</th>
		    <th>Current Role</th>
		    <th width="span1">Edit User Role</th>
		  </tr>
		</thead>
		<tbody>
			<% @users.each do |user| %>     
		  	<tr class='user_row' id=<%="user_#{user.id}"%>>        
		  		<td><%= link_to user.full_name_last_first, edit_user_path(user) %></td>
		    	<td><%= link_to user.institution.full_name, edit_institution_path(user.institution) %></td>
		    	<td><%= user.role_names.join(' | ') %></td>
		     	<td class="span1"><%=link_to raw(''), edit_user_roles_inst_admin_path(user_id: user), :class => 'icon edit-user', :id => "edit_#{user.id}"%></td>           
		      </tr>       
		  <% end %>
		</tbody>
</table>


<table class ="table table-striped">

	<tr class='user_row'>  
		<td>

<%= form_tag(add_authorization_manage_users_path(anchor: 'tab_tab4'), method: 'post') do %>
			<div class="control-group">
					<ul>
						<% @roles.each do |role| %>
							<div id=<%="role_#{role.id}"%> >
						  	<li><%= check_box_tag "role_ids[]", role.id %>
						    <%= label_tag role.name, role.name, :class => 'checkbox-label' %></li>
							</div>
						<% end %>
					</ul>
				</div>

		</td>

		<td>

			<%= render partial: '/users/user_autocomplete_widget',
			:locals =>
				       {  user_role: 'template_editor',
				          #submit_text: 'Add As Template Editor',
				          submit_text: 'Grant Role',
				          submit_url: add_authorization_manage_users_path( anchor: 'tab_tab4'),
				          role_number: Role::TEMPLATE_EDITOR,
				          
				          item_description: 'template editor'
				       }
			%>
<%end%>
		</td>
	 </tr>
		
</table>

	