<div class="usage-statistics">
  <h3>Statistics for:
    <div class="statistic-date">
      <%= select_tag 'run_date', options_for_select(@run_dates, @institution_statistics.run_date) %>
    </div>
  </h3>

  <% date = Date.parse("#{@institution_statistics.run_date}-01 00:00:00") %>

  <div class="statistics">
		<h3><%= @current_institution.full_name %> Usage</h3>
			
    <div class="statistics-row">
      <div class="statistic-card">
        <%= @institution_statistics.total_users %>
        <%= " Total User#{@institution_statistics.total_users == 1 ? '' : 's'}" %>
      </div>
  
      <div class="statistic-card">
        <%= @institution_statistics.new_users %> 
        <%= " New User#{@institution_statistics.new_users == 1 ? '' : 's'} For #{@global_statistics.effective_month}" %>
      </div>
    </div>

    <div class="statistics-row">  
      <div class="statistic-card">
        <%= @institution_statistics.total_completed_plans %> 
        <%= " Total Completed Plan#{@institution_statistics.total_completed_plans == 1 ? '' : 's'}" %>
      </div>
  
      <div class="statistic-card">
        <%= @institution_statistics.new_completed_plans %> 
        <%= " New Completed Plan#{@institution_statistics.new_completed_plans == 1 ? '' : 's'} For #{@global_statistics.effective_month}"%>
      </div>
    </div>
  </div>
	
  <div class="statistics">
		<h3>Global Usage</h3>
			
    <div class="statistics-row">
      <div class="statistic-card">
        <%= @global_statistics.total_users %>
        <%= " Total User#{@global_statistics.total_users == 1 ? '' : 's'}" %>
      </div>
  
      <div class="statistic-card">
        <%= @global_statistics.new_users %> 
        <%= " New User#{@global_statistics.new_users == 1 ? '' : 's'} For #{@global_statistics.effective_month}" %>
      </div>
    </div>

    <div class="statistics-row">  
      <div class="statistic-card">
        <%= @global_statistics.total_completed_plans %> 
        <%= " Total Completed Plan#{@global_statistics.total_completed_plans == 1 ? '' : 's'}" %>
      </div>
  
      <div class="statistic-card">
        <%= @global_statistics.new_completed_plans %> 
        <%= " New Completed Plan#{@global_statistics.new_completed_plans == 1 ? '' : 's'} For #{@global_statistics.effective_month}" %>
      </div>
    </div>

    <div class="statistics-row">  
      <div class="statistic-card">
        <%= @global_statistics.total_public_plans %> 
        <%= " Total Public Plan#{@global_statistics.total_public_plans == 1 ? '' : 's'}" %>
      </div>
  
      <div class="statistic-card">
        <%= @global_statistics.new_public_plans %> 
        <%= " New Public Plan#{@global_statistics.new_public_plans == 1 ? '' : 's'} For #{@global_statistics.effective_month}" %>
      </div>
    </div>
		
    <div class="statistics-row">  
      <div class="statistic-card" style="width: 475px;">
				<%= "Top 5 Public Plans" %>
				<% @top_five_public_templates.each do |stat| %>
					<%= "'#{stat.name.slice(0..40)}' (#{stat.new_plans} new plan#{stat.new_plans == 1 ? '' : 's'}, #{stat.total_plans} total plan#{stat.total_plans == 1 ? '' : 's'})" %> 
				<% end %>
      </div>
  	</div>
		
  </div>
</div>