<div class="usage-statistics">
  <h3>Statistics for:
    <div class="statistic-date">
      <%= select_tag 'run_date', options_for_select(@run_dates, @institution_statistics.run_date) %>
    </div>
  </h3>

  <% date = Date.parse("#{@institution_statistics.run_date}-01 00:00:00") %>

  <div class="statistics">
		<h3><%= @current_institution.full_name %> Usage</h3>
			
		<div class="statistics-row">  
	    <%= usage_card_content('User', @institution_statistics.total_users, 
																@global_statistics.effective_month, true).html_safe %>
  
	    <%= usage_card_content('User', @institution_statistics.new_users, 
																@global_statistics.effective_month).html_safe %>
		</div>
		
		<div class="statistics-row">  
	    <%= usage_card_content('Completed Plan', @institution_statistics.total_completed_plans, 
																@global_statistics.effective_month, true).html_safe %>
  
	    <%= usage_card_content('Completed Plan', @institution_statistics.new_completed_plans, 
																@global_statistics.effective_month).html_safe %>
		</div>
  </div>
	
  <div class="statistics">
		<h3>Global Usage</h3>
			
		<div class="statistics-row">  
	    <%= usage_card_content('User', @global_statistics.total_users, 
																@global_statistics.effective_month, true).html_safe %>
  
	    <%= usage_card_content('User', @global_statistics.new_users, 
																@global_statistics.effective_month).html_safe %>
		</div>
		
		<div class="statistics-row">  
	    <%= usage_card_content('Completed Plan', @global_statistics.total_completed_plans, 
																@global_statistics.effective_month, true).html_safe %>
  
	    <%= usage_card_content('Completed Plan', @global_statistics.new_completed_plans, 
																@global_statistics.effective_month).html_safe %>
		</div>
		
		<div class="statistics-row">  
	    <%= usage_card_content('Public Plan', @global_statistics.total_public_plans, 
																@global_statistics.effective_month, true).html_safe %>
  
	    <%= usage_card_content('Public Plan', @global_statistics.new_public_plans, 
																@global_statistics.effective_month).html_safe %>
		</div>
		
    <div class="statistics-row">  
      <div class="statistic-card" style="width: 765px;">
				<%= "Top 5 Public Templates" %><br /><br />
				<% @top_five_public_templates.each do |stat| %>
					<%= "'#{stat[:name].slice(0..40)}' (#{stat[:new_plans]} new plan#{stat[:new_plans] == 1 ? '' : 's'}, #{stat[:total_plans]} total plan#{stat[:total_plans] == 1 ? '' : 's'})" %><br /> 
				<% end %>
      </div>
  	</div>
		
  </div>
</div>