<h2 class="dashboard-heading"><span class="icon inst-profile"></span>Institution Profile</h2>
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><%= link_to 'Institution Information', '#tab1', 'data-toggle' => 'tab' %></li>
    <li><%= link_to 'Institution Administrators', '#tab2', 'data-toggle' => 'tab' %></li>
    <li><%= link_to 'Institution Hierarchy', '#tab3', 'data-toggle' => 'tab' %></li>
    <li><%= link_to 'Manage Users', '#tab4', 'data-toggle' => 'tab' %></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <%= render 'form' %>
    </div>

    <div class="tab-pane" id="tab2">
      	<%= render 'institutional_administrators' %>
    </div>

    <div class="tab-pane" id="tab3">
    	<div class="institutions">
	      <%= nested_institutions @institutions.arrange(order: :created_at) %>
	    </div>
	    <div class="buttons">
	     <%= link_to 'Add New Institution', new_institution_path(5), :class => "btn btn-green" %>
	    </div>
    </div>

    <div class="tab-pane" id="tab4">
        <%= render 'manage_users' %>
    </div>

  </div>
</div>