%h1 Listing institutions

%table
  %tr
    %th Full name
    %th Nickname
    %th Desc
    %th Contact info
    %th Contact email
    %th Url
    %th Url text
    %th Shib entity
    %th Shib domain
    %th
    %th
    %th

  - @institutions.each do |institution|
    %tr
      %td= institution.full_name
      %td= institution.nickname
      %td= institution.desc
      %td= institution.contact_info
      %td= institution.contact_email
      %td= institution.url
      %td= institution.url_text
      %td= institution.shib_entity_id
      %td= institution.shib_domain
      %td= link_to 'Show', institution
      %td= link_to 'Edit', edit_institution_path(institution)
      %td= link_to 'Destroy', institution, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Institution', new_institution_path
