<h1 class="row-fluid"><span class="icon institution-profile"></span>New institution</h1>
<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><%= link_to 'Institution Information', '#tab1', 'data-toggle' => 'tab' %></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
			<% provide(:title, 'Institution Information') %>


			<%= form_for @current_institution, html:{ :class => 'form-horizontal', multipart: true}  do |f| %>
			  <%= render partial: "shared/errors", locals: {model: @current_institution } %>
			  <div class="control-group">
			    <%= f.label :full_name , "Institution Full Name", :class => "control-label required" %>
			    <div class="controls">
				    <%= f.text_field :full_name, :class => "input-xxlarge" %>
				  </div>
			  </div>

			  <div class="control-group">
			    <%= f.label :shib_entity_id, "Entity_id", :class => "control-label" %>
			    <div class="controls">
			      <%= f.text_field :shib_entity_id, readonly: @current_institution.is_shibboleth? %>
			    </div>
			  </div>

			  <div class="control-group">
			    <%= f.label :shib_domain , "Shibboleth Domain", :class => "control-label"%>
			    <div class="controls">
			      <%= f.text_field :shib_domain, readonly: @current_institution.is_shibboleth? %>
			    </div>
			  </div>

			  <div class="control-group">
			    <%= f.label :parent_id , "Parent Institution", :class => "control-label"%>
			    <div class="controls">


					<% if user_role_in?(:dmp_admin) %>

						<%= f.select :parent_id, 
			      	options_for_select(@categories), 
			      	{:prompt => 'Select', :include_blank => 'none'}
			      %>

					<% else %>

						<%= f.select :parent_id, 
			      	options_for_select(@sub_institutions), 
			      	{selected: @current_user.institution.parent_id},
			      	{disabled: true}
			      %>

			    <% end %>

			    </div>
			  </div>

			  <div class="control-group">
			    <%= f.label :nickname, "Institution short name, or acronym", :class => "control-label" %>
			    <div class="controls">
			      <%= f.text_field :nickname %>
			    </div>
			  </div>

			  <div class="control-group">
			    <%= f.label :url, "Institution URL", :class => "control-label" %>
			    <div class="controls">
			      <%= f.text_field :url_text, placeholder: "URL Text" %>
			      <%= f.text_field :url, placeholder: "URL" %>
			    </div>
			  </div>

			  <div class="control-group">
			    <%= f.label :contact_info, "Administrator Contact", :class => "control-label" %>
			    <div class="controls">
			      <%= f.text_field :contact_info, placeholder: "Name" %>
			      <%= f.text_field :contact_email, placeholder: "Email" %>
			    </div>
			  </div>

			  <div class="control-group">

			    <%= f.label 'Institutional Logo', :class => " control-label tip", 'data-toggle' => "tooltip", 'data-placement' => "left",  'title' => "Suggested Logo Size 170x60"  %>

			    <div class="controls">
			      <%= image_tag @current_institution.logo.url if @current_institution.logo? %>
			      <%= f.file_field :logo %>
			      <%= f.hidden_field :logo_cache %>
			    </div>
			  </div>

			  <div class="control-group">
			    <div class="controls">
			      <%= f.submit "Upload", :class => "btn" %>
			    </div>
			  </div>

			  <div class="control-group">
			    <%= f.label :desc , "Descriptive Text", :class => "control-label" %>
			    <div class="controls">
			      <%= f.text_area :desc, rows: 5, :class => "input-xxlarge" %>
			    </div>
			  </div>
			  <div class="buttons">
			    <%= f.submit "Save Changes", :class => "btn btn-green" %>
			    <%= button_tag "Cancel", type: :reset, :class => "btn" %>
			  </div>
			<% end %>


		</div>
  </div>
</div>
