<h1 class="row-fluid"><span class="icon institution-profile"></span>Partner Institutions</h1>
<br/>
<div class="row-fluid">
  <p>Partner institutions can configure the tool to point to their
    resources and services, provide customized help, and provide
    suggested answers to the questions asked by funding agencies.
    DMPTool users affiliated with partner institutions can login with
    their own institutional accounts. For more information see
    <%= link_to "About Partners", partners_path, :title => "About Partners" %>.
  </p>
  <p>Use the A-Z links below to narrow down the list by institution or
    use the search box to search for specific institutions.</p>
</div>
<br/>
<div class="row-fluid">
	<div class="span8">
		<%= link_to('A - F', { :s => 'a', :e => 'f' }, :class => 'btn viewA-F') %> 
		<%= link_to('G - L', { :s => 'g', :e => 'l' }, :class => 'btn viewG-L') %> 
		<%= link_to('M - S', { :s => 'm', :e => 's' }, :class => 'btn viewM-S') %> 
		<%= link_to('T - Z', { :s => 't', :e => 'z' }, :class => 'btn viewT-Z') %> 
		<%= link_to('All', { :s => 'a', :e => 'z' }, :class => 'btn viewA-Z') %>
	</div>
	<div class="search-area span4 pull-right">
			<%= form_tag('', {:method => :get}) do %>
				<div class="control-group pull-right">
					<%= search_field_tag(:q, params[:q], :class => 'input-large') %>
					<%= label_tag :q, "Search", :class => "icon search" %>
					<%= submit_tag('Search') %>
				</div>
			<% end %>
	</div>
</div>
<table class="table table-striped">
	<thead>
	  <tr>
	    <th class="span10">Name</th>
	    <th class="span1">Shibboleth enabled?</th>
	    <th class="span1">DMPTool Customized?</th>
	  </tr>
	</thead>
	<tbody>
  <% @institutions.each do |institution| %>
    <tr>
      <td><%= link_to institution.full_name, edit_institution_path(institution) %></td>
      <td class="span1"><% if institution.is_shibboleth? then %>
        <span class="icon confirm"></span>
      <% else %>
        
      <% end %></td>
      <td class="span1"><% if institution.is_customized? then %>
        <span class="icon confirm"></span>
      <% else %>
        
      <% end %></td>
    </tr>
  <% end %>
	</tbody>
</table>
<div class="buttons pagination">
  <%= link_to("View All", {:action=>"partners_list", :all=>"seriously"},
              {:class => "btn"})%>
  <%= paginate @institutions %>
</div>
