<div class="row-fluid">
	<div class="overview span8">
		<h3 class="dashboard-heading"><span class="icon overview"></span>Overview</h3>
		<table class="table table-striped table-condensed">
			<thead>
				<tr>
					<th>My DMPs</th>
					<th>My DMPs under review</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= link_to "#{current_user.owned_plans.count} plans I own" %></td>
					<td><% if (current_user.unique_plan_states & PlanState::REVIEW_STATES).empty? %>
						No DMPs are under review.
					<% else %>
						<% (current_user.unique_plan_states & PlanState::REVIEW_STATES).each do |state|%>
							<%= link_to "#{current_user.plans_by_state(state).count} #{state.capitalize}"%>
						<% end %>
					<% end %></td>
				</tr>
				<tr>
					<td><%= link_to "#{current_user.coowned_plans.count} plans i co-own" %></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<div class="buttons">
			<%= link_to "Create New", "#", :class => "btn btn-green" %>
		</div>
		
		<% if defined? @pending_review %>
		<h3 class="dashboard-heading"><span class="icon review"></span>DMPs For My Review</h3>
		<table class="table table-striped table-condensed">
			<tbody>
				<tr>
					<td><%= link_to "#{@pending_review} DMPs pending review" %></td>
				</tr>
				<tr>
					<td><%= link_to "#{@finished_review} DMPs finished review" %></td>
				</tr>
			</tbody>
		</table>
		<% end %>


	<% if defined? @requirements_templates %>
	<h3 class="dashboard-heading"><span class="icon template-dmp"></span>DMP Templates</h3>
	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th>Within my Institution</th>
				<th>Funder Requirements</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= link_to "#{@requirements_templates} DMP Templates only for my institution", requirements_templates_path(scope: 'institutional') %></td>
				<td><%= link_to "#{@public_requirements_templates} Public DMP Templates", requirements_templates_path(scope: 'public') %></td>
			</tr>
		</tbody>
	</table>
	<div class="buttons">
		<%= link_to "Create New", requirements_template_information_path, :method => :get, :class => "btn btn-green" %>
	</div>
	<% end %>


	<% if defined? @resource_templates %>
	<h3 class="dashboard-heading"><span class="icon template-resouce"></span>Resource Templates</h3>
	<table class="table table-striped table-condensed">
		<tbody>
			<tr>
				<td><%= link_to "#{@resource_templates} Resource templates", resource_templates_path %></td>
			</tr>
		</tbody>
	</table>
	<div class="buttons">
		<%= link_to "Create New", new_resource_template_path, :class => "btn btn-green" %>
	</div>
	<% end %>
	
	</div>
</div>