<div class="row-fluid">
	<div class="overview span8">
		<h2 class="dashboard-heading"><span class="icon overview"></span>Overview</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>My DMPs</th>
					<th>My DMPs under review</th>
				</tr>
			</thead>
			<tbody>
        <%
          #this layout is a PITA and really should NOT be a table, but since
          #the UI developer isn't going to change it, I'll do some gymnastics
          #to make things pretty within a table
           col1 = []
           col1[0] = link_to "#{current_user.owned_plans.count} plans I own"
           col1[1] = link_to "#{current_user.coowned_plans.count} plans i co-own"
           col2 = (current_user.unique_plan_states & PlanState::REVIEW_STATES).map do |state|
             link_to "#{current_user.plans_by_state(state).count} #{state.capitalize}"
           end
           if col2.length < 1
             col2[0] = "No DMPs are under review."
           end
           max_item = [col1.length, col2.length].max - 1
        %>
        <% 0.upto(max_item) do |i| %>
				<tr>
					<td><%= (col1[i].nil? ? '' : col1[i] ) %></td>
					<td><%= (col2[i].nil? ? '' : col2[i] ) %></td>
				</tr>
        <% end %>
			</tbody>
		</table>
		<div class="buttons">

			<!--The following id is used for testing purposes, please do not remove-->
			<%= link_to "Create New DMP", "#", :class => "btn btn-gray", :id => "create_new_DMP", :onclick => 'return false;' %>

		</div>
		
		<% if defined? @pending_review %>
		<h2 class="dashboard-heading"><span class="icon review"></span>DMPs For My Review</h2>
		<table class="table table-striped">
			<tbody>
				<tr>
					<td><%= link_to "#{@pending_review} DMPs pending review" %></td>
				</tr>
				<tr>
					<td><%= link_to "#{@finished_review} DMPs finished review" %></td>
				</tr>
			</tbody>
		</table>
		<% end %>


	<% if defined? @requirements_templates %>
	<h2 class="dashboard-heading"><span class="icon template-dmp"></span>DMP Templates</h2>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Within my Institution</th>
				<th>Funder Requirements</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
          <%= link_to "#{@requirements_templates} DMP Templates only for my institution",
                     requirements_templates_path(scope: 'institutional'), :id => "institutional_templates" %>
        </td>
				<!--The following id is used for testing purposes, please do not remove-->
				<td><%= link_to "#{@public_requirements_templates} Public DMP Templates", requirements_templates_path(scope: 'public'), :id => "public_templates" %></td>
			</tr>
		</tbody>
	</table>
	<div class="buttons">

		<!--The following id is used for testing purposes, please do not remove-->
		<%= link_to "Create New DMP Template", requirements_template_information_path, :method => :get, :class => "btn btn-green", :id => "create_new_DMP_template" %>

	</div>
	<% end %>
	<% if defined? @resource_templates %>
	<h2 class="dashboard-heading"><span class="icon template-resource"></span>DMP Template Customizations</h2>
	<table class="table table-striped">
		<tbody>
			<tr>
				<!--The following id is used for testing purposes, please do not remove-->
				<td>
          <%= link_to "#{@resource_templates} Customizations", resource_templates_path, :id => "resources_templates",
                        :onclick => 'return false;' %>
        </td>
			</tr>
		</tbody>
	</table>
	<div class="buttons">

		<!--The following id is used for testing purposes, please do not remove-->
		<%= link_to "Create New DMP Template Customization", new_resource_template_path, :class => "btn btn-gray",
                :id => "create_new_resource_template", :onclick => "return false"%>

	</div>
	<% end %>
	
	</div>
</div>