<div class=.'data_management_plans'>
  <p> List of published public data management plans organized by institutions. </p>
  <ul>
    <li><%= link_to 'American University','#' %></li>
    <li><%= link_to 'George Mason University','#' %></li>
    <li><%= link_to 'North Carolina State University','#' %></li>
    <li><%= link_to 'Smithsonian Institution','#' %></li>
    <li><%= link_to 'University of Arizona','#' %></li>
  </ul>
  <%= link_to 'View All', '#', class: 'button button-gray' %>
</div>