%strong Data Management Plans
%p List of published public data management plans. Show most recent ones organized by institutions.
.ol
  .li
    = link_to 'American University','#'
  %br
  .li
    = link_to 'George Mason University','#'
  %br
  .li
    = link_to 'North Carolina State University','#'
  %br
  .li
    = link_to 'Smithsonian Institution','#'
  %br
  .li
    = link_to 'University of Arizona','#'