<div class= 'data_management_plans'>
  <strong> Data Management Plans </strong>
  <p> List of published public data management plans. Show most recent ones organized by institutions. </p>
  <ol>
    <li><%= link_to 'American University','#' %></li>
    <br/>
    <li><%= link_to 'George Mason University','#' %></li>
    <br/>
    <li><%= link_to 'North Carolina State University','#' %></li>
    <br/>
    <li><%= link_to 'Smithsonian Institution','#' %></li>
    <br/>
    <li><%= link_to 'University of Arizona','#' %></li>
</div>