<div class='dmp_tool_news'>
	<p> Check out what's going on in the DMP Tool world. </p>
	<ul>
      <li><%= link_to 'DMPTool2 Project &ndash; April 2013 Report', '#' %></li>
	  <li><%= link_to 'Advisory boards established', '#' %></li>
	  <li><%= link_to 'Library Outreach Update: April 10, 2013', '#' %></li>
	  <li><%= link_to 'The Guide to Guides: New Wiki Page on Data', '#' %></li>
	  <li><%= link_to 'Announcing the DMPTool Webinar Series', '#' %></li>
	</ul>
	<%= link_to 'More News', '#', id: 'View All', class: 'button button-gray' %>
</div>