<%
 # This partial takes locals variables for guidance collection called "templates"
  # it also takes a variable called public with values true or false since
  # the layout differs for public items from the institution-only guidance
%>

<table class="table table-striped">
	<thead>
		<tr>
			<th class="span5"><%= (public ? 'Funder' : 'Institution') %></th>
			<th>Template</th>
			<th><%= (public ? 'Funder Links' : 'Institution Links') %></th>
			<th>Sample Plans</th>
		</tr>
	</thead>
	<tbody>
		<% templates.each do |t| %>
			<tr>
				<td><strong><%= t.institution.full_name %></strong></td>
				<td class="nowrap"><%= link_to t.name,	basic_requirements_template_path(t, format: :rtf ) %>
						<%= link_to '', basic_requirements_template_path(t, format: :rtf), :class => 'icon rtf' %>
				</td>
				<td class="nowrap">
					<% t.additional_informations.each do |info| %>
					<div class="samples">
						<%= link_to info.label, info.url %>
					</div>
					<% end %>
				</td>
				<td class="nowrap">
					<% t.sample_plans.each do |s| %>
					<div class="samples">
						<%= link_to s.label, s.url %>
						<%= link_to '', s.url, :class => 'icon pdf'%>
					</div>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<div class="buttons pagination">
	<%= link_to "View All", resource_templates_path(:scope => "all"), :method => :get, :class => "btn"%>
</div>
