<%
 # This partial takes locals variables for guidance collection called "templates"
  # it also takes a variable called public with values true or false since
  # the layout differs for public items from the institution-only guidance
%>

<table class="table table-striped">
	<thead>
		<tr>
			<th><%= (public ? 'Funder' : 'Institution') %></th>
			<th>Template</th>
			<th><%= (public ? 'Funder Links' : 'Institution Links') %></th>
			<th>Sample Plans</th>
		</tr>
	</thead>
	<tbody>
		<% templates.each do |t| %>
			<tr>
				<td><%= t.institution.full_name %></td>
				<td><%= link_to t.name,	basic_requirements_template_path(t, format: :rtf ) %>
						<%= link_to image_tag('/assets/rtf_icon.png'),	basic_requirements_template_path(t, format: :rtf ) %>
				</td>
				<td>
					<% t.additional_informations.each do |info| %>
						<div class="samples">
							<%= link_to info.label, info.url %>
						</div>
					<% end %>
				</td>
				<td>
					<% t.sample_plans.each do |s| %>
						<div class="samples">
							<%= link_to s.label, s.url %>
						</div>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>