<table class="table table-striped">
	<thead>
		<tr>			
      <th><%= link_to "Template", {order_scope2: "Template", scope2: @scope2}%></th>
      <th class="span5"><%= link_to (public ? 'Funder' : 'Institution'), {order_scope2: "Institution", scope2: @scope2}%></th>
      <th><%= link_to (public ? 'Funder Links' : 'Institution Links'), {order_scope2: "InstitutionLink", scope2: @scope2}%></th>
      <th><%= link_to "Sample Plans", {order_scope2: "SamplePlans", scope2: @scope2}%></th>
		</tr>
	</thead>
	<tbody>
		<% templates.each do |t| %>
			<tr>	
				
				<td><%= link_to t.name,	basic_requirements_template_path(t, format: :rtf ), :target => '_blank' %>
						<%= link_to '', basic_requirements_template_path(t, format: :rtf), :class => 'icon rtf', :target => '_blank' %>
				</td>
				<td><%= (t.institution ? t.institution.full_name: '') %></td>
				<td>
					<% t.additional_informations.each do |info| %>
					<div class="samples">
						<%= link_to info.label, info.url, :target => '_blank' %>
					</div>
					<% end %>
				</td>
				<td>
					<% t.sample_plans.each do |s| %>
					<div class="samples">
						<%= link_to s.label, s.url, :target => '_blank' %>
						<%= link_to '', s.url, :class => 'icon pdf', :target => '_blank' %>
					</div>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<% if @scope2 == "all" %>
	<div class="buttons pagination">
		<%= link_to "View Less", {:method => :get, order_scope2: @order_scope2, scope2: ""}, {:class => "btn"}%>
		<%= paginate @institution_templates, {:param_name => 'institutional_guidance_page', order_scope2: @order_scope2} %>
	</div>
<% else %>
	<div class="buttons pagination">
		<%= link_to "View All", {:method => :get, order_scope2: @order_scope2, scope2: "all"}, {:class => "btn"}%>
		<%= paginate @institution_templates, {:param_name => 'institutional_guidance_page', order_scope2: @order_scope2} %>
	</div>
<%end%>

