%strong How to Use
%p Overview of what DMP Tool can do. Links from DMP Tool Guide and video demo.
%br
.ol
  .li
    = link_to 'Who can use DMPTool', '#'
  %br
  .li
    = link_to 'Getting started', '#'
  %br
  .li
    = link_to 'Using the DMPTool', '#'
  %br
  .li
    = link_to 'Video demo', '#'
  %br
  .li
    = link_to 'Resources from IMLS', '#'