<div class='how_to_use'>
	<strong> How to Use</strong>
	<p> Overview of what DMP Tool can do. Links from DMP Tool Guide and video demo. </p>
	<br/>
	<ol>
	  <li><%= link_to 'Who can use DMPTool', '#' %></li>
	  <br/>
	  <li><%= link_to 'Getting started', '#' %></li>
	  <br/>
	  <li><%= link_to 'Using the DMPTool', '#' %></li>
	  <br/>
	  <li><%= link_to 'Video demo', '#' %></li>
	  <br/>
	  <li><%= link_to 'Resources from IMLS', '#' %></li>
</div>