<p>Overview of DMPTool features and functions that will help you create great data management plans.</p>
<ul>
	<li><%= link_to "A Walkthrough of the tool", help_path %></li>
	<li><%= link_to "About the Project", about_path %></li>
	<li><%= link_to "Video demo", video_path %></li>
	<li><%= link_to "DMP Resources", "#" %></li>
</ul>
<%= link_to "View All", "#", :class => "btn btn-gray" %>