<div class='how_to_use'>
	<p> Overview of what DMP Tool can do. Links from DMP Tool Guide and video demo. </p>
	<ul>
	  <li><%= link_to 'Who can use DMPTool', '#' %></li>
	  <li><%= link_to 'Getting started', '#' %></li>
	  <li><%= link_to 'Using the DMPTool', '#' %></li>
	  <li><%= link_to 'Video demo', '#' %></li>
	  <li><%= link_to 'Resources from IMLS', '#' %></li>
	</ul>
	<%= link_to 'View All', '#', id: 'View All', class: 'button button-gray' %>
</div>