<% @title_text = "Community Resources" %>
<% @display_menu = 'help' %>
<div class="static-page">
	<h1 class"title">Community Resources</h1>
	<hr/>
	
	<h2>Table of Contents</h2>
	<ul>
		<li><a title="Overview" href="#overview">Overview</a></li>
		<li><a title="Frequently Asked Questions" href="#faq">Frequently Asked Questions</a></li>
		<li><a title="Promotion Materials" href="#promotion">Promotion Materials</a></li>
		<li><a title="Data Management Primers" href="#primers">Data Management Primers</a></li>
		<li><a title="training Materials" href="#training">Training Materials</a></li>
		<li><a title="LibGuides" href="#libguides">LibGuides</li>
		<li><a title="Repository Selection Help" href="#repository">Repository Selection Help</a></li>
		<li><a title="DMPTool Webinars" href="#webinars">DMPTool Webinars</a></li>
		<li><a title="Data Management Guidance" href="#guidance">Data Management Guidance</a></li>
		<li><a title="Presentaiton and Press" href="#press">Presentations and Press</a></li>
	</ul>
	
	<h2 id="overview">Overview</h2>
	<p>The DMPTool Community Resources Library serves as a central location for information about the tool itself, resources for promoting use of the tool, and general data management best practices information. In the future we anticipate that this library of resources will be community-driven, providing DMPTool administrators a way to contribute to the resources listed here. </p>
	
	<h2 id="faq">Frequently Asked Questions</h2>
	<p>Visit our FAQ page, <a title="Frequently Asked Questions" href="http://dmptool.askbot.com" target="_blank">dmptool.askbot.com</a>, to find out answers to common questions, or to ask your own questions and get answers from the community.</p>
	
	<h2 id="promotion">Promotion Materials</h2>
	<p>Go to <%= link_to "Promote the DMPTool", promote_path %> page. Postcards, slide decks, and other materials to help institutional administrators spread the word about the DMPTool on their campus and engage in discussions with their institution's stakeholders about data management.</p>
	
	
	<h2 id="primers">Data Management Primers</h2>
	<ul>
		<li><a title="ICPSR Guide to Social Science Data Preperation and Archiving" href="http://www.icpsr.umich.edu/icpsrweb/content/deposit/guide/index.html" target="_blank">ICPSR Guide to Social Science Data Preparation and Archiving</a>. ICPSR is one of the premier social science data repositories. Their handbook on preparing data for archiving is extremely thorough, and will ensure high quality data.</li>
		<li><a title="UK data archive" href="http://www.data-archive.ac.uk/create-manage" target="_blank">UK data archive</a>. The UK Data Archive has an excellent knowledge base for the creation and management of data. These guides are an excellent place to start for data project management issues.</li>
		<li><a title="DataONE primer on data management" href="http://escholarship.org/uc/item/7tf5q7n3#page-1" target="_blank">DataONE primer on data management</a>. This PDF covers the basics of data management, arranged in the context of the data lifecycle and geared towards researchers.</li> <li> <a title="Data Management for Libraries: A LITA Guide" href="http://www.alastore.ala.org/detail.aspx?ID=10737" target="_blank">Data Management for Libraries: A LITA Guide.</a> A short guide on data management topics, focused on helping libraries understand data management to better provide services for researchers that they support.</li>
	</ul>
	
	<h2 id="training">Training Materials</h2>
	<ul>
		<li><a title="Digital Curation Training for All" href="http://www.dcc.ac.uk/training" target="_blank">Digital Curation Training for All</a>: a collection of slides, resources, and materials that cover the basics of research data management from the Digital Curation Centre.</li>
		<li><a title="MANTRA Course" href="http://datalib.edina.ac.uk/mantra/" target="_blank">MANTRA Course</a>. MANTRA is focused on providing educational materials for researchers on important data issues. These lessons are a great start for librarians looking to provide data management workshops.</li>
		<li><a title="DataONE data management education slide decks" href="http://www.dataone.org/education-modules" target="_blank">DataONE data management education slide decks</a></li>
		<li><a title="Uk Data Archive traning resources on managing and sharing data" href="http://data-archive.ac.uk/create-manage/training-resources" target="_blank">UK Data Archive training resources on managing and sharing data</a></li>
	</ul>
	
	<h2 id="libguides">LibGuides</h2>
	<p>Many academic libraries use <a title="LibGuides" href="http://springshare.com/libguides/" target="_blank">LibGuides</a> as a self-publishing tool to store reference information. We have listed some below that are great resources for data management.</p>
	<ul>
		<li><a title="California Polytechnic State University" href="http://libguides.calpoly.edu/content.php?pid=117228&sid=1011108" target="_blank">California Polytechnic State University</a></li>
		<li><a title="University of California, Irvine" href="http://libguides.lib.uci.edu/datamanagement" target="_blank">University of California, Irvine</a></li>
		<li><a title="University of California, Los Angeles" href="http://guides.library.ucla.edu/data-management" target="_blank">University of California, Los Angeles</a></li>
		<li><a title="Georgia Institute of Technology" href="http://libguides.gatech.edu/research-data" target="_blank">Georgia Institute of Technology</a></li>
		<li><a title="Massachusetts Institute of Technology" href="http://libraries.mit.edu/guides/subjects/data-management/index.html" target="_blank">Massachusetts Institute of Technology</a></li>
		<li><a title="Michigan State University" href="http://www.lib.msu.edu/about/diginfo/ldmp.jsp" target="_blank">Michigan State University</a></li>
		<li><a title="Boston College" href="http://libguides.bc.edu/dataplan" target="_blank">Boston College</a></li>
		<li><a title="Curtin University, Australia" href="http://libguides.library.curtin.edu.au/research-data-management"target="_blank">Curtin University, Australia</a></li>
	</ul>
	
	<h2 id="repository">Repository Selection Help</h2>
	<p>Choosing the right data repository goes a long way towards ensuring data are discoverable. The three websites here provide a database of repositories that can be searched on data type, keyword, and other features. </p>
	<ul>
		<li><a title="Databib" href="http://databib.org/" target="_blank">Databib</a></li>
		<li><a title="re3data" href="http://re3data.org" target="_blank">re3data</a></li>
		<li><a title="BioSharing" href="http://biosharing.org" target="_blank">BioSharing</a></li>
	</ul>
	
	<h2 id="webinars">DMPTool Webinars</h2>
	
	<h3>IMLS Webinar Series</h3>
	<p>As part of work funded by the Institute of Museum and Library Services, we hosted a webinar series on topics relating to data management planning. Recordings and slides are available from the <a title="DMPTool Blog" href="http://blog.dmptool.org/webinar-series" target="_blank">DMPTool Blog</a>. Topics include:</p>
	<ol>
		<li>Introduction to the DMPTool. May 28, 2013.</li>
		<li>Learning about data management: Resources, tools, materials you can use. June 4, 2013. </li>
		<li>Customizing the DMPTool for your institution. June 18, 2013.</li>
		<li>Environmental Scan: Who's important at your campus. June 25, 2013. </li>
		<li>Promoting institutional services with the DMPTool; EZID as example. July 9, 2013. </li>
		<li>Health Sciences and the DMPTool. July 16, 2013.</li>
		<li>Digital humanities and the DMPTool. July 30, 2013. </li>
		<li>Data curation profiles and the DMPTool. August 13, 2013. </li>
		<li>Talking points for meeting with institutional stakeholders. August 27, 2013. </li>
		<li>Beyond funder requirements: more extensive DMPs. October 1, 2013. </li>
		<li>Tools and resources that complement the DMPTool. October 15, 2013. </li>
	</ol>
	
	<h3>Other DMPTool webinars</h3>
	<ul>
		<li>Data Management Plans: Tips, Tricks and Tools. January 11, 2012. <a title="Recording" href="http://www.cdlib.org/services/uc3/webinars/20120111/index.html" target="_blank">Recording</a> and <a title="Slides" href="http://www.slideshare.net/UC3/data-management-plans-tips-tricks-and-tools" target="_blank">Slides</a></li>
		<li>DMPTool for Data Management Plans. October 19, 2011. <a title="Recording" href="http://www.cdlib.org/services/uc3/webinars/20111019/index.html" target="_blank">Recording</a> and <a title="Slides" href="http://www.slideshare.net/UC3/dmptool-webinar-20111019" target="_blank">Slides</a></li>
		<li>Data Management Planning Tool. July 14, 2011. <a title="Recording" href="http://www.cdlib.org/services/uc3/webinars/20110714/index.html" target="_blank">Recording</a> and <a title="Slides" href="http://www.cdlib.org/services/uc3/docs/UC3-webinar-DMP20110714.pptx" target="_blank">Slides</a></li>
	</ul>
	
	<h2 id="guidance">Data Management Guidance</h2>
	<p>Basic information about data management is available at <%= link_to "Data Management Guidance", dm_guidance_path %>. Topics include:</p>
	<ul>
		<li><%= link_to "Types of Data", dm_guidance_path(:anchor => "types") %></li>
		<li><%= link_to "File Formats", dm_guidance_path(:anchor => "formats") %></li>
		<li><%= link_to "Organizing Files", dm_guidance_path(:anchor => "organize") %></li>
		<li><%= link_to "Metadata: Data Documentation", dm_guidance_path(:anchor => "metadata") %></li>
		<li><%= link_to "Persistent Identifiers", dm_guidance_path(:anchor => "identifiers") %></li>
		<li><%= link_to "Security and Storage", dm_guidance_path(:anchor => "security") %></li>
		<li><%= link_to "Sharing and Archiving", dm_guidance_path(:anchor =>"share") %></li>
		<li><%= link_to "Citing Data", dm_guidance_path(:anchor => "cite") %></li>
		<li><%= link_to "Copyright and Privacy", dm_guidance_path(:anchor => "copyright") %></li>
	</ul>
	
	<h2 id="press">Presentations and Press about DMPTool</h2>
	<p>Visit the <a title="Presentations and Press" href="http://blog.dmptool.org/presentations-and-press/" target="_blank">Presentations and Press</a> page of the DMPTool Blog for a full list.
</div>
