%h3 Contact Us
%p Your message is about:
%br
= form_tag :id => "contact_us", :class => "form-horizontal" do
	.control-group
		= radio_button_tag :question_about, "using the dmptool"
		= label_tag :question_about_Using_the_DMP_Tool, "Using the DMP Tool", :class => "control-label"
		%br
		= radio_button_tag :question_about, 'Becoming a participating institution'
		= label_tag :question_about_becoming_a_participating_institution, "Becoming a participating institution", :class => "control-label"
		%br
		= radio_button_tag :question_about, "Other"
		= label_tag :question_about_Other, "Other", :class => "control-label"
	.control-group
		= label_tag :name, "Your Name", :class => "control-label"
		= text_field_tag :name
	.control-group
		= label_tag :email, "Email", :class => "control-label"
		= email_field_tag :email
	.control-group
		= label_tag :message, "Message", :class => "control-label"
		= text_area_tag "message", nil, :rows => 5, :cols => 35, placeholder: "Text input"
	%br
	= submit_tag "Submit", :class => "btn btn-green"
