<h2 class="dashboard-heading"><span class="icon funder-guidance"></span>Funder Guidance</h2>
<br/>
<div class="span8">
	<p>Use the A-Z links below to narrow down the list by institution or
		use the search box to search for specific DMP Templates.  Sample
		plans are not necessarily from the funder.</p>
</div>
<div class="search span4">
		<%= form_tag('', {:method => :get}) do %>
			<%= search_field_tag(:q, params[:q], :class => 'input-large') %>
			<span class="icon search"></span>
			<%= submit_tag('Search') %>
		<% end %>
</div>
<br/>
<div class="buttons-alpha row">
	<%= link_to('A-F', { :s => 'a', :e => 'f' }, :class => 'btn') %> 
	<%= link_to('G-L', { :s => 'g', :e => 'l' }, :class => 'btn') %> 
	<%= link_to('M-S', { :s => 'm', :e => 's' }, :class => 'btn') %> 
	<%= link_to('T-Z', { :s => 't', :e => 'z' }, :class => 'btn') %> 
	<%= link_to('View All', '', :class => 'btn') %>
</div>

<%= render partial: 'guidance_table', :locals => {templates: @public_templates, public: true} %>

<% if defined?(@institution_templates) && @institution_templates.length > 0 %>
<h2 class="dashboard-heading"><span class="icon inst-guidance"></span>Guidance Within Institution</h2>
	<div class="table-scope">
		<p>Below is a list of DMP templates available in your institution</p>
	</div>
	<%= render partial: 'guidance_table', :locals => {templates: @institution_templates, public: false} %>
<% end %>

