<div class="static-page">
	<h1>DMPTool Help</h1>
	<hr/>
	<h2><em>What do you want to do?</em></h2>
	<br/>
	<h2><a title="I want to see frequently asked questions and answers." href="http://dmptool.askbot.com" target="_blank">I want to see frequently asked questions and answers.</a></h2>
	<br/>
	<h2><%= link_to raw("I want to <strong>create</strong> a data management plan."), plan_template_information_path, :title => "I want to create a data management plan." %></h2>
	<br/>
	<h2><%= link_to raw("I want to <strong>administer</strong> the DMPTool."), users_path, :title => "I want to administer the DMPTool." if current_user %>
		<%= link_to raw("I want to <strong>administer</strong> the DMPTool."), choose_institution_path, :title => "I want to administer the DMPTool." if !current_user %>
	</h2>
	<br/>
	<h2><%= link_to raw("I want general <strong>data management guidance</strong>."), dm_guidance_path, :title => "I want general data management guidance." %></h2>
	<br/>
	<h2><%= link_to raw("I want to <strong>promote the DMPTool</strong> at my institution."), promote_path, :title => "I want to promote the DMPTool at my institution." %></h2>
	<br/>
	<h2><%= link_to raw("I want to access <strong>community resources</strong> for understanding and using the DMPTool."), community_resources_path, :title => "I want to access community resources for understanding and using the DMPTool." %></h2>
</div>