<div class="banner">
	<%= image_tag "banner_index.jpg", alt: "Data Management Plan Tool" %>
	<%= link_to "Learn More", "#", class: "btn btn-large" %>
</div>
<div class="container">
  <div class="buckets-header">
  	<div class="col col-triple">
  		<h2><span class="icon icon-data-plans"></span>Data Management Plans</h2>
  	</div>
  	<div class="col col-triple">
  		<h2><span class="icon icon-how-to"></span>How To Use</h2>
  	</div>
  	<div class="col col-triple">
  		<h2><span class="icon icon-news"></span>DMP Tool News</h2>
  	</div>
  </div>
  <div class="buckets">
    <div class="col col-triple">
      <%= render "data_management_plans" %>
    </div>
    <div class="col col-triple">
      <%= render "how_to_use" %>
    </div>
    <div class="col col-triple">
      <%= render "dmptool_news" %>
    </div>
  </div>
</div>