<div class="banner">
	<%= image_tag "banner_index.jpg", alt: "Data Management Plan Tool" %>
	<%= link_to "Learn More", "#", class: "btn btn-large" %>
</div>
<div class="container">
  <!--<div class=row-fluid>
    <div class=span4>
      <p> Create, share, review, and publish Data Management Plans conforming to institution andfunder requirements. </p>
      <br/>
      <%= button_to "Log In", login_path, class: "btn btn-large btn-primary", method: :get %>
      <%= link_to "Create a DMP Tool Account", new_user_path %>
    </div>
    <div class= span8>
      <%= holder_tag "600x250", "DMP tool image" %>
    </div>
  </div>-->
  <div class="buckets-header">
  	<div class="col col-triple">
  		<h2><span id="data-mgmt"></span>Data Management Plans</h2>
  	</div>
  	<div class="col col-triple">
  		<h2><span id="how-to"></span>How To Use</h2>
  	</div>
  	<div class="col col-triple">
  		<h2><span id="dmp-news"></span>DMP Tool News</h2>
  	</div>
  </div>
  <div class="buckets">
    <div class="col col-triple">
      <%= render "data_management_plans" %>
    </div>
    <div class="col col-triple">
      <%= render "how_to_use" %>
    </div>
    <div class="col col-triple">
      <%= render "dmptool_news" %>
    </div>
  </div>
</div>