<div class="banner row-fluid">
	<%= image_tag "banner_index.jpg", alt: "Data Management Plan Tool" %>
	<%= link_to "Learn More", "#", class: "btn btn-large" %>
</div>
<div class="buckets-header row-fluid">
  <div class="span4">
  	<h2><span class="icon data-plans"></span>Data Management Plans</h2>
  </div>
  <div class="span4">
  	<h2><span class="icon how-to"></span>How To Use</h2>
  </div>
  <div class="span4">
  	<h2><span class="icon news"></span>DMP Tool News</h2>
  </div>
</div>
<div class="buckets row-fluid">
  <div class="span4">
    <%= render "data_management_plans" %>
  </div>
  <div class="span4">
    <%= render "how_to_use" %>
  </div>
  <div class="span4">
    <%= render "dmptool_news" %>
  </div>
</div>