<div class="tab-content">

  <!-- .global_resources

r.template_resources

r.requirement_resources

r.institution_customization_resources(0)

r.template_customization_resources(0)

r.requirement_customization_resources(0)

-->
  <% CustomizationsController::TABS.each_with_index do |tab, index| %>
    <div class="tab-pane<%= (index==0 ? ' active': '') %>" id="tab<%= (index+1) %>">
      <%= render :partial => 'section_display',
                 :locals => {  :section_name => 'Global Resources',
                               :partial_name => tab[:partial],
                               :collection   => @requirement.global_resources.send(tab[:scope]),
                               :editable     => false }
      %>

      <%= render :partial => 'section_display',
                 :locals => {  :section_name => 'DMP Resources',
                               :partial_name => tab[:partial],
                               :collection   => @requirement.template_resources.send(tab[:scope]) +
                                                @requirement.requirement_resources.send(tab[:scope]),
                               :editable     => false }
      %>

      <%= render :partial => 'section_display',
                 :locals => {  :section_name => "#{@institution.name} Resources",
                               :partial_name => tab[:partial],
                               :collection   => @requirement.institution_customization_resources(@institution).send(tab[:scope]),
                               :editable     => false }
      %>

      <%= render :partial => 'section_display',
                 :locals => {  :section_name => "#{@requirements_template.name} for #{@institution.name} Resources",
                               :partial_name => tab[:partial],
                               :collection   => @requirement.template_customization_resources(@institution).send(tab[:scope]),
                               :editable     => false }
      %>

      <%= render :partial => 'section_display',
                 :locals => {  :section_name => 'Requirement Resources',
                               :partial_name => tab[:partial],
                               :collection   => @requirement.requirement_customization_resources(@institution).send(tab[:scope]),
                               :editable     => true }
      %>
    </div>
  <% end %>

</div>