<div class="tab-content">

  <% template_cust = (@customization.resource_level == "Container - Template") %>
  <% if user_role_in?(:dmp_admin) %>
    <% editable = true%>
  <%else%>
    <% editable = template_cust%>
  <%end%>

  <% @tabs.each_with_index do |tab, index| %>
    <div class="tab-pane<%= (index==0 ? ' active' : '') %>" id="tab<%= (index+1) %>">

      <% if tab[:requirement_only] %>
        <% # Tabs that skip levels one and two since they are only for requirements  %>
        <%= render :partial => 'section_display', #level 3
                   :locals => {:section_name  => 'DMP Resources',
                               :partial_name  => tab[:partial],
                               :collection    => @requirement.requirement_resources.send(tab[:scope]),
                               :editable      => editable, #editable if this is a template customization or if user: dmp_admin
                               :cust_level    => '3',
                               :tab_name      => tab[:name],
                               :tab_number    => index+1 }
        %>

      <% else %>

        <%= render :partial => 'section_display', #level 1
                   :locals => {:section_name  => 'Global Resources',
                               :partial_name  => tab[:partial],
                               :collection    => @requirement.global_resources.send(tab[:scope]),
                               :editable      => editable,
                               :cust_level    => '1',
                               :tab_name      => tab[:name],
                               :tab_number    => index+1 }
        %>

        <%= render :partial => 'section_display', #levels 2 + 3
                   :locals => {:section_name  => 'DMP Resources',
                               :partial_name  => tab[:partial],
                               :collection    => @requirement.template_resources.send(tab[:scope]) +
                                   @requirement.requirement_resources.send(tab[:scope]),
                               :editable      => editable, #editable if this is a template customization or if user: dmp_admin
                               :cust_level    => '2+3',
                               :tab_name      => tab[:name],
                               :tab_number    => index+1 }
        %>
      <% end %>

      <% unless template_cust #don't display these for template-only customization  %>
        <% unless tab[:requirement_only] %>
          <%= render :partial => 'section_display', #level 4
                     :locals => {:section_name => "#{@institution.name} Resources",
                                 :partial_name => tab[:partial],
                                 :collection => @requirement.institution_customization_resources(@institution).send(tab[:scope]),
                                 #:editable => !template_cust,
                                 :editable      => false,
                                 :cust_level    => '4',
                                 :tab_name      => tab[:name],
                                 :tab_number    => index+1 }
          %>

          <%= render :partial => 'section_display', #level 5
                     :locals => {:section_name => "#{@requirements_template.name} for #{@institution.name} Resources",
                                 :partial_name => tab[:partial],
                                 :collection => @requirement.template_customization_resources(@institution).send(tab[:scope]),
                                 #:editable => !template_cust,
                                 :editable      => true,
                                 :cust_level    => '5',
                                 :tab_name      => tab[:name],
                                 :tab_number    => index+1 }
          %>

        <% end %>

        <%= render :partial => 'section_display', #level 7
                   :locals => {:section_name => 'Requirement Resources',
                               :partial_name => tab[:partial],
                               :collection => @requirement.requirement_customization_resources(@institution).send(tab[:scope]),
                               #:editable      => !template_cust,
                               :editable      => true,
                               :cust_level    => '7',
                               :tab_name      => tab[:name],
                               :tab_number    => index+1 }
        %>


      <% end %>


      <p style="clear:both;">
        <%= link_to tab[:button_text],
                    select_resource_path(template_id: @requirements_template.id,
                                         requirement_id: @requirement.id,
                                         resource_level: 'requirement',
                                         customization_overview_id: @customization.id,
                                         custom_origin: "Details",
                                         tab: tab[:name],
                                         tab_number: "tab_tab#{index+1}",
                                         origin_url: smart_origin_url),
                    :method => :post, :class => 'btn btn-green' %>
      </p>
    </div>
  <% end %>

</div>