<%
# This partial takes the following local variables:
# section_name -- A string that displays a section name
# partial_name -- the name of the partial to call to display each line item
# collection -- the collection of items to display
# editable -- true or false value for whether this item should be editable
# cust_level -- The level (1-8, see resource_context model) that this customization is
# tab_number -- the tab number (1-4)
# tab_name -- the string name of the tab like "Guidance"
%>

<% if collection.length > 0 %>
  <h2 class="cust"><%= section_name %></h2>

  <% collection.each do |resource| %>
    <div style="clear:both">
      <div class="<%= editable ? 'editable_resource': '' %>">
        <%= render  :partial => partial_name,
                :locals => { :resource => resource, :editable => editable, :cust_level => cust_level } %>
      </div>

      <% if editable %>
        <div class="edit_icon_right">
          <% #pass these along: :resource, :resource_level, :customization_id, :template_id, :requirement_id, :tab, :tab_number, :custom_origin %>
          <% if cust_level == '4' %>
            <%= link_to raw(''),
             edit_resource_path(  id:                 resource.id,
                                  resource_level:     'requirement',
                                  customization_id:   @customization.id,
                                  template_id:        @requirements_template.id,
                                  requirement_id:     params[:requirement_id],
                                  tab:                tab_name,
                                  tab_number:         "tab_tab#{tab_number}",
                                  custom_origin:      'Details',
                                  origin_url:         request.original_url),
                :class => 'icon edit-user', :title => 'Edit Customization' %>
          <% else %>

            <%= link_to raw(''),
                        edit_customization_resource_path( id:                 resource.id,
                                                          resource_level:     'requirement',
                                                          customization_id:   @customization.id,
                                                          template_id:        @requirements_template.id,
                                                          requirement_id:     params[:requirement_id],
                                                          tab:                tab_name,
                                                          tab_number:         "tab_tab#{tab_number}",
                                                          custom_origin:      'Details',
                                                          origin_url:         request.original_url),
                        :class => 'icon edit-user', :title => 'Edit Customization' %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>