<h1 class="row-fluid" id="jump"><span class="icon template-details"></span>Customization Details</h1>
<h2><%= @requirements_template.name %></h2>
<div class="dmptool-page row-fluid">
  <div class="details span4">
    <div class="tree-view border-box">
      <p><strong>Template Outline</strong></p>
      <hr/>
      <div class="customization_tree">
        <ul>
          <%= render partial: 'shared/requirements_tree2', locals: { requirements: @requirements.roots } %>
        </ul>
      </div>
    </div>
  </div>
  <div class="tabbable span8">
    <ul class="nav nav-tabs">
      <% CustomizationsController::TABS.each_with_index do |tab, index| %>
        <li class="<%= (index==0 ? 'active' : '') %>"><a href="#tab<%= (index + 1) %>" data-toggle="tab"><%= tab %></a></li>
      <% end %>
    </ul>
    <div class="tab-content">
      <% CustomizationsController::TABS.each_with_index do |tab, index| %>
      <div class="tab-pane<%= (index==0 ? ' active': '') %>" id="tab<%= (index+1) %>">
          <%= render :partial => 'section_display',
              :locals => {  :section_name => 'Global Resources',
                            :partial_name => '',
                            :collection   => '',
                            :editable     => false }
          %>

          <%= render :partial => 'section_display',
                     :locals => {  :section_name => 'DMP Resources',
                                   :partial_name => '',
                                   :collection   => '',
                                   :editable     => false }
          %>

          <%= render :partial => 'section_display',
                     :locals => {  :section_name => "#{@institution.name} Resources",
                                   :partial_name => '',
                                   :collection   => '',
                                   :editable     => false }
          %>

          <%= render :partial => 'section_display',
                     :locals => {  :section_name => "#{@requirements_template.name} for #{@institution.name} Resources",
                                   :partial_name => '',
                                   :collection   => '',
                                   :editable     => false }
          %>

          <%# render :partial => 'section_display',
            #         :locals => {  :section_name => 'Requirement Resources',
            #                       :partial_name => '',
            #                       :collection   => '',
            #                       :editable     => false }
          %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<script type="text/javascript">
  tab_jump();
  add_tab_to_pagination();
</script>