<h1 class="row-fluid" id="jump"><span class="icon template-details"></span>Customization Details</h1>
<h2><%= @requirements_template.name %></h2>
<div class="dmptool-page row-fluid">
  <div class="details span4">
    <div class="tree-view border-box">
      <p><strong>Template Outline</strong></p>
      <hr/>
      <div class="customization_tree">
        <ul>
          <%= render partial: 'shared/requirements_tree2', locals: { requirements: @requirements.roots } %>
        </ul>
      </div>
    </div>
  </div>
  <div class="tabbable span8">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Guidance</a></li>
      <li><a href="#tab2" data-toggle="tab">Actionable Links</a></li>
      <li><a href="#tab3" data-toggle="tab">Suggested Response</a></li>
      <li><a href="#tab4" data-toggle="tab">Example Response</a></li>
    </ul>
    <div class="tab-content">

      <div class="tab-pane active" id="tab1">

        <%= render :partial => 'section_display',
            :locals => {  :section_name => 'Global Resources',
                          :partial_name => '',
                          :collection   => '',
                          :editable     => false }
        %>

        <%= render :partial => 'section_display',
                   :locals => {  :section_name => 'DMP Resources',
                                 :partial_name => '',
                                 :collection   => '',
                                 :editable     => false }
        %>

        <%= render :partial => 'section_display',
                   :locals => {  :section_name => "#{@institution.name} Resources",
                                 :partial_name => '',
                                 :collection   => '',
                                 :editable     => false }
        %>

        <%= render :partial => 'section_display',
                   :locals => {  :section_name => "#{@requirements_template.name} for #{@institution.name} Resources",
                                 :partial_name => '',
                                 :collection   => '',
                                 :editable     => false }
        %>

        <%= render :partial => 'section_display',
                   :locals => {  :section_name => 'Requirement Resources',
                                 :partial_name => '',
                                 :collection   => '',
                                 :editable     => false }
        %>

      </div>

      <div class="tab-pane" id="tab2">
        <%= render partial: 'institution_view' %>
      </div>

      <div class="tab-pane " id="tab3">
        <%= render partial: 'institution_view' %>
      </div>

      <div class="tab-pane" id="tab4">
        <%= render partial: 'institution_view' %>
      </div>

    </div>
  </div>
</div>