<div class="control-group">
	<%= f.label :item_value, :class => "control-label" %>
  <div class="controls">
	    <%= f.text_field(:value, :class => "input-medium") %>
	    <%= f.check_box(:default, :class => "requirement_enumerations_attributes") %>
	  	<%= label_tag :default, '(set default)', :class => 'checkbox-label' %>
    	<%= f.hidden_field :_destroy %>
    	<%= link_to(content_tag(:span, "", :class => "icon remove")+ 'Remove', '#', :class => "red remove_fields") %>
  </div>
</div>