<div class="requirements_group">
	<ul>
		<li>
			<% if requirement.group? %>
				<%= link_to requirement.text_brief, edit_requirements_template_requirement_path(requirement.requirements_template, requirement, node_type: 'group'), :class => "icon folder-open" %>
			<% else %>
				<%= link_to requirement.text_brief, edit_requirements_template_requirement_path(requirement.requirements_template, requirement), :class => "icon folder-open" %>
			<% end %>
			<% if requirement.group == false %>
				<%= link_to raw(''),
							[requirement.requirements_template, requirement], :method => :delete, id: "delete_requirement", :class => "icon remove", 
							data: { confirm: 'Are you sure?' } %>

			<% elsif requirement.is_childless? %>
				<%= link_to raw(''),
							new_requirements_template_requirement_path(@requirements_template, parent_id: requirement), :class => "icon add" %>
				<%= link_to raw(''),
							new_requirements_template_requirement_path(@requirements_template, parent_id: requirement, node_type: 'group'), :class => "add_requirements_sub_group icon new-folder" %>
				<%= link_to raw(''),
							[requirement.requirements_template, requirement], :method => :delete, id: "delete_requirement", :class => "icon remove", 
							data: { confirm: 'Are you sure?' } %>

			<% elsif (requirement.group == true  &&  requirement.has_children? && requirement.children.first.group == false ) %>
				<%= link_to raw(''),
							new_requirements_template_requirement_path(@requirements_template, parent_id: requirement), :class => "icon add" %>
				<%= link_to raw(''),
							[requirement.requirements_template, requirement], :method => :delete, id: "delete_requirement", :class => "icon remove", 
							data: { confirm: 'Are you sure?' } %>

			<% elsif (requirement.group == true  &&  requirement.has_children? && requirement.children.first.group == true ) %>
				<%= link_to raw(''),
							new_requirements_template_requirement_path(@requirements_template, parent_id: requirement, node_type: 'group'), :class => "add_requirements_sub_group icon new-folder" %>
				<%= link_to raw(''),
							[requirement.requirements_template, requirement], :method => :delete, id: "delete_requirement",
							data: { confirm: 'Are you sure?' } %>
			<% else %>
				<%= link_to raw(''),
							new_requirements_template_requirement_path(@requirements_template, parent_id: requirement), :class => "icon add" %>
				<%= link_to raw(''),
							new_requirements_template_requirement_path(@requirements_template, parent_id: requirement, node_type: 'group'), :class => "add_requirements_sub_group icon new-folder" %>
				<%= link_to raw(''),
							[requirement.requirements_template, requirement], :method => :delete, id: "delete_requirement", :class => "icon remove", 
							data: { confirm: 'Are you sure?' } %>
			<% end %>
		</li>
	</ul>
</div>