<div class="requirements_group" id="req_div_<%= requirement.id %>">
	<ul>
		<li>
			<% if requirement.group? %>
				<%= link_to(
                content_tag(:span, '', :class => 'icon folder-open') +
                requirement.text_brief,
                edit_requirements_template_requirement_path(requirement.requirements_template, requirement, node_type: 'group') + '#jump',
                class: 'requirements_text',
                id: "req_text_#{requirement.id}")
        %>
			<% else %>
				<%= link_to content_tag(:span, '', :class => 'icon requirement') +
                requirement.text_brief,
                edit_requirements_template_requirement_path(requirement.requirements_template, requirement) + '#jump',
                :class => 'requirements_text',
                :id => "req_text_#{requirement.id}"
        %>
			<% end %>
			<div class="actions">
				<% if requirement.group == false %>
					<%= link_to raw(''),
								[requirement.requirements_template, requirement], :method => :delete, id: 'delete_requirement', :class => 'icon remove', 
								data: { confirm: 'Are you sure?' } %>
	
				<% elsif requirement.is_childless? %>
					<%= link_to raw(''),
								new_requirements_template_requirement_path(@requirements_template, parent_id: requirement) + '#jump'+ '#jump', :class => 'icon add' %>
					<%= link_to raw(''),
								new_requirements_template_requirement_path(@requirements_template, parent_id: requirement, node_type: 'group')+ '#jump', :class => 'add_requirements_sub_group icon add-group' %>
					<%= link_to raw(''),
								[requirement.requirements_template, requirement], :method => :delete, id: 'delete_requirement', :class => 'icon remove', 
								data: { confirm: 'Are you sure?' } %>
	
				<% elsif (requirement.group == true  &&  requirement.has_children? && requirement.children.first.group == false ) %>
					<%= link_to raw(''),
								new_requirements_template_requirement_path(@requirements_template, parent_id: requirement)+ '#jump', :class => 'icon add' %>
					<%= link_to raw(''),
								[requirement.requirements_template, requirement], :method => :delete, id: 'delete_requirement', :class => 'icon remove', 
								data: { confirm: 'Are you sure?' } %>
	
				<% elsif (requirement.group == true  &&  requirement.has_children? && requirement.children.first.group == true ) %>
					<%= link_to raw(''),
								new_requirements_template_requirement_path(@requirements_template, parent_id: requirement, node_type: 'group')+ '#jump', :class => 'add_requirements_sub_group icon add-group' %>
					<%= link_to raw(''),
								[requirement.requirements_template, requirement], :method => :delete, id: 'delete_requirement', :class => 'icon remove', 
								data: { confirm: 'Are you sure?' } %>
				<% else %>
					<%= link_to raw(''),
								new_requirements_template_requirement_path(@requirements_template, parent_id: requirement)+ '#jump', :class => 'icon add' %>
					<%= link_to raw(''),
								new_requirements_template_requirement_path(@requirements_template, parent_id: requirement, node_type: 'group')+ '#jump', :class => 'add_requirements_sub_group icon add-group' %>
					<%= link_to raw(''),
								[requirement.requirements_template, requirement], :method => :delete, id: 'delete_requirement', :class => 'icon remove', 
								data: { confirm: 'Are you sure?' } %>
				<% end %>
			</div>
		</li>
	</ul>
</div>
