<p id="notice"><%= notice %></p>

<p>
  <b>Requirement Label:</b>
  <%= @requirement.text_brief %>
</p>
<p>
  <b>Detailed Question:</b>
  <%= @requirement.text_full %>
</p>
<p>
  <b>Obligation:</b>
  <%= @requirement.obligation %>
</p>
<p>
  <b>Question type:</b>
  <%= @requirement.requirement_type %>
</p>