<% @title_text = "DMP Template Details" %>
<% @display_menu = "dmp_templates:details" %>
<h1 class="row-fluid" id="jump"><span class="icon template-details"></span>DMP Template Details</h1>
<h2><%= @requirements_template.name %></h2>
<div class="row-fluid">
	<div class="details span4">
	  <div class="tree-view border-box" id="main_requirements_border">
      <div id="cover_dialog">
        <div>
          <%= image_tag("throbber.gif") %> Please wait a moment . . .
        </div>
      </div>
			
			<p><strong>Template Outline</strong></p>
			
			<% if !@has_plans %>
		  	<div class="actions">
			    <%= link_to(content_tag(:span, '', :class => 'icon add-group') + 'Add Group' + content_tag(:span, '', :title => 'Similar requirements may be grouped together under a single requirement &#8220;group&#8221;.', 'data-toggle' => "tooltip", 'data-placement' => 'top', 'data-html' => 'true', :class => 'icon questionmark tip'), new_requirements_template_requirement_path(@requirements_template, node_type: 'group') + '#jump') %>
			    <%=  raw('&nbsp;') %>
			    <%= link_to(content_tag(:span, '', :class => 'icon add-requirement') + 'Add Requirement' + content_tag(:span, '', :title => 'A requirement is the specific question that a researcher is to answer.', 'data-toggle' => "tooltip", 'data-placement' => 'top', 'data-html' => 'true', :class => 'icon questionmark tip'), new_requirements_template_requirement_path(@requirements_template) + '#jump') %>
			  </div>
				
				<div id="drop_before_first">
		    	<hr/>
		    </div>
	    <% end %>
			
			<div class="requirements-tree-view" id="main_requirements_tree">
				<% if !@has_plans %>
	      	<%= nested_requirements @requirements.arrange(order: :position) %>
				<% else %>
					<%= nested_requirements_view @requirements.arrange(order: :position) %>
				<% end %>
	    </div>
			
	  </div>
	  <div class="template-status border-box">
	    <p><strong>DMP Template Status:</strong>
	      <span id="status_<%= @requirements_template.id %>">
	      	<%= @requirements_template.active ? 'Active' : 'Inactive' %>
		  </span>
		  <%= content_tag(:span, '', :title => 'The template status is inactive by default, which means it will not be visible to DMPTool users. When your template is complete, select &#8220;activate&#8221; to make the template available to use.', 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'data-html' => 'true', :class => 'icon questionmark tip') %>
		  </p>
	  	<div>
		    <%= link_to activate_link_text(@requirements_template),
		      toggle_active_requirements_template_path(@requirements_template), remote: true, id: "activate_link_#{@requirements_template.id}", :class => 'btn' %>
	    </div>
      <div>
        <br/>
        <% if !@has_plans %>
          <%= link_to 'Delete', requirements_template_path(@requirements_template, after_url: requirements_templates_path), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn' %>
        <% else %>
          <%= link_to 'Delete', '', :class => 'btn', disabled: true, style: "pointer-events: none;" %><br/><br/>
          <p>This template cannot be deleted until all DMPs that use it have been removed.</p>
        <% end %>
      </div>
	  </div>
	</div>
	<div class="tabbable span8">
		<ul class="nav nav-tabs">
      <% if params[:node_type] == 'group'%>
	  		<li class="active"><%= link_to 'Group', '#tab1', :data => {:toggle => 'tab'} %></li>
	  	<% else %>
	  		<li class="active"><%= link_to 'Requirements', '#tab1', :data => {:toggle => 'tab'} %></li>
	  	<% end %>
		</ul>
	 	<div class="tab-content">
	  	<div class="tab-pane active" id="tab1">
				<% if !@has_plans %>
	  			<%= render 'form' %>
				<% else %>	
					<%= render 'show', locals: {notice: notice, requirement: @requirement} %>
				<% end %>
	  	</div>
		</div>
	</div>
</div>
<% referer_action %>
<% if (@referer_url[:controller] == 'requirements_templates' && @referer_url[:action] == 'new') %>
  <%= link_to '<< Back', edit_requirements_template_path(@requirements_template),  method: 'get', :class => 'btn btn-green pull-left', role: "button" %>
<% else %>
  <%= link_to '<< Back', :back,  method: 'get', :class => 'btn btn-green pull-left', role: "button" %>
<% end %>
