%h1 Listing requirements

%table
  %tr
    %th Order
    %th Parent requirement
    %th Text brief
    %th Text full
    %th Requirement type
    %th Obligation
    %th Default
    %th Requirements template
    %th
    %th
    %th

  - @requirements.each do |requirement|
    %tr
      %td= requirement.order
      %td= requirement.parent_requirement
      %td= requirement.text_brief
      %td= requirement.text_full
      %td= requirement.requirement_type
      %td= requirement.obligation
      %td= requirement.default
      %td= requirement.requirements_template_id
      %td= link_to 'Show', requirement
      %td= link_to 'Edit', edit_requirement_path(requirement)
      %td= link_to 'Destroy', requirement, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Requirement', new_requirement_path
