%h4  DMP Template Details
%hr
.row-fluid
  .span4
    %fieldset.template_outline
      %strong Template Outline
      %br
      = link_to 'Add Group', new_requirements_template_requirement_path(@requirements_template), id: 'add_requirement_group'
      %hr
        = render 'requirements_group'


    %br/

    %fieldset.template_status
      %strong DMP Template Status:
      = @requirements_template.active? ? 'Active' : 'Deactivated'
      %hr
      = link_to activate_link_text(@requirements_template)+ ' ' +'Template', toggle_active_requirements_template_path(@requirements_template), remote: true, id: "activate_link_#{@requirements_template.id}"
      %br/
      = link_to 'Delete Template', @requirements_template, :method => :delete, :data => { :confirm => 'Are you sure?' }

  .span8
    = render 'form'
