<h1 class="row-fluid" id="jump"><span class="icon template-details"></span>DMP Template Details</h1>
<h2><%= @requirements_template.name %></h2>
<div class="row-fluid">
	<div class="details span4">
	  <div class="tree-view border-box" id="main_requirements_border">
      <div id="cover_dialog">
        <div>
          <%= image_tag("/assets/throbber.gif") %> Please wait a moment . . .
        </div>
      </div>
	  	<p><strong>Template Outline</strong></p>
	  	<div class="actions">
		    <%= link_to(content_tag(:span, '', :class => 'icon add-group') + 'Add Group', new_requirements_template_requirement_path(@requirements_template, node_type: 'group') + '#jump') %>
		    <%=  raw('&nbsp;') %>
		    <%= link_to(content_tag(:span, '', :class => 'icon add-requirement') + 'Add Requirement', new_requirements_template_requirement_path(@requirements_template) + '#jump') %>
		  </div>
			<div id="drop_before_first">
	    	<hr/>
	    </div>
	    <div class="requirements-tree-view" id="main_requirements_tree">
	      <%= nested_requirements @requirements.arrange(order: :position) %>
	    </div>
	  </div>
	  <div class="template-status border-box">
	    <p><strong>DMP Template Status:</strong>
	     <span id="status_<%= @requirements_template.id %>">
	      <%= @requirements_template.active ? 'Active' : 'Inactive' %>
		    </span>
		  </p>
	  	<div>
		    <%= link_to activate_link_text(@requirements_template),
		      toggle_active_requirements_template_path(@requirements_template), remote: true, id: "activate_link_#{@requirements_template.id}", :class => 'btn' %>
	    </div>
	  </div>
	</div>
	<div class="tabbable span8">
		<ul class="nav nav-tabs">
      <% if params[:node_type] == 'group'%>
	  		<li class="active"><%= link_to 'Group', '#tab1', :data => {:toggle => 'tab'} %></li>
	  	<% else %>
	  		<li class="active"><%= link_to 'Requirements', '#tab1', :data => {:toggle => 'tab'} %></li>
	  	<% end %>
		</ul>
	 	<div class="tab-content">
	  	<div class="tab-pane active" id="tab1">
	  		<%= render 'form' %>
	  	</div>
		</div>
	</div>
</div>
