<h1 class="row-fluid" id="jump"><span class="icon template-details"></span>DMP Template Details</h1>
<h2><%= @requirements_template.name %></h2>
<div class="row-fluid">
	<div class="details span4">
	  <div class="tree-view border-box" id="main_requirements_border">
	  	<p><strong>Template Outline</strong></p>
	  	<div class="actions">
		    <%= link_to(content_tag(:span, '', :class => 'icon add-group') + 'Add Group', new_requirements_template_requirement_path(@requirements_template, node_type: 'group') + '#jump', :class => 'icon new') %>
		    <%=  raw('&nbsp;') %>
		    <%= link_to(content_tag(:span, '', :class => 'icon add-requirement') + 'Add Requirement', new_requirements_template_requirement_path(@requirements_template) + '#jump', :class => 'icon new add-requirement') %>
		  </div>
      <div id="drop_before_first">
	      <hr/>
      </div>
	    <div class="requirements_tree_view" id="main_requirements_tree">
	      <%= nested_requirements @requirements.arrange(order: :position) %>
	    </div>
	  </div>
	  <div class="template-status border-box">
	    <p><strong>DMP Template Status:</strong> 
	     <span id="status_<%= @requirements_template.id %>">
	      <%= @requirements_template.active ? 'Active' : 'Inactive' %>
		    </span>
		  </p>
	  	<div>
		    <%= link_to activate_link_text(@requirements_template),
		      toggle_active_requirements_template_path(@requirements_template), remote: true, id: "activate_link_#{@requirements_template.id}", :class => 'btn' %>
	    </div>
	  </div>
	</div>
	<div class="tabbable span8">
		<ul class="nav nav-tabs">
	  	<li class="active"><%= link_to 'Requirements', '#tab1', :data => {:toggle => 'tab'} %></li>
		</ul>
	 	<div class="tab-content">
	  	<div class="tab-pane active" id="tab1">
	  		<%= render 'form' %>
	  	</div>
		</div>
	</div>

  <style>
    a.ui-draggable-dragging {
      display: block;
      padding: 0 0 0 0;
      background-color: yellow;
      border-style: solid;
      border-width: 1px 1px 1px 1px;
      border-color: black;
    }

    div.highlight {
      background-color: yellow;
    }

    div#drop_before_first {
      width:100%;
      height: 23px;
      padding-top:3px;
    }
  </style>

  <script type="text/javascript">
    $( document).ready(function() {
      addEventsToTree();
    });

    function addEventsToTree(){
      $('a.requirements_text').draggable({
        containment: '#main_requirements_border',
        cursor: 'move',
        // snap: 'div.requirements_group',
        stack: 'div.requirements_group',
        revert: true
      });

      $('div.requirements_group').droppable( {
        drop: handleDropEvent
      });

      $('#drop_before_first').droppable( {
        drop: handleDropEvent
      });
    }

    function handleDropEvent( event, ui ) {
      $(event.target).draggable({
        revertDuration: 0
      });
      var draggable = ui.draggable;
      var drag_id = draggable.attr('id').match(/\d+$/g);
      if(event.target.id == 'drop_before_first'){
        var drop_id = event.target.id;
      }else{
        var drop_id = event.target.id.match(/\d+$/g);
      }

      // $.post("<%= reorder_requirements_path() %>", { drag_id: drag_id, drop_id: drop_id } );
      $.ajax({
        url: '<%= reorder_requirements_path() %>',
        type: 'post',
        data: { drag_id: drag_id, drop_id: drop_id },
        headers: {
          'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
        }
      });
    }

  </script>
</div>
