%p#notice= notice

%p
  %b Order:
  = @requirement.order
%p
  %b Parent requirement:
  = @requirement.parent_requirement
%p
  %b Text brief:
  = @requirement.text_brief
%p
  %b Text full:
  = @requirement.text_full
%p
  %b Requirement type:
  = @requirement.requirement_type
%p
  %b Obligation:
  = @requirement.obligation
%p
  %b Default:
  = @requirement.default
%p
  %b Requirements template:
  = @requirement.requirements_template_id
