<p id="notice"><%= notice %></p>

<p>
  <b>Order:</b>
  <%= @requirement.order %>
</p>
<p>
  <b>Parent requirement:</b>
  <%= @requirement.parent_requirement %>
</p>
<p>
  <b>Text brief:</b>
  <%= @requirement.text_brief %>
</p>
<p>
  <b>Text full:</b>
  <%= @requirement.text_full %>
</p>
<p>
  <b>Requirement type:</b>
  <%= @requirement.requirement_type %>
</p>
<p>
  <b>Obligation:</b>
  <%= @requirement.obligation %>
</p>
<p>
  <b>Default:</b>
  <%= @requirement.default %>
</p>
<p>
  <b>Requirements template:</b>
  <%= @requirement.requirements_template_id %>
</p>
