= form_for @user, html: { class: 'form-horizontal' } do |f|
  - if @user.errors[:base].any?
    .alert.alert-error.form-errors
      - @user.errors[:base].each do |msg|
        %p= msg

  .tabbable
    - unless @user.new_record?
      %ul.nav.nav-tabs
        %li.active
          = link_to 'Personal Information', '#tab1', 'data-toggle' => 'tab'
        %li
          = link_to 'Notification Preferences', '#tab2', 'data-toggle' => 'tab'
    .tab-content
      #tab1.tab-pane.active
        = render 'personal', f: f
      #tab2.tab-pane
        = render 'notifications' unless @user.new_record?

  .controls
    .actions
      - if @user.new_record?
        = f.submit 'Create Account', class: 'btn'
      - unless @user.new_record?
        = f.submit 'Save', class: 'btn'
        = link_to 'Cancel', edit_user_path(@user), class: 'btn'
