<%= form_for @user, html: { class: 'form-horizontal' } do |f| %>
  <% if @user.errors[:base].any? %>
    <div class="alert alert-error form-errors">
      <% @user.errors[:base].each do |msg| %>
        <p>
          <%= msg %>
        </p>
      <% end %>
    </div>
  <% end %>
  <div class="tabbable">
    <% unless @user.new_record? %>
      <ul class="nav nav-tabs">
        <li class="active">
          <%= link_to 'Personal Information', '#tab1', 'data-toggle' => 'tab' %>
        </li>
        <li>
          <%= link_to 'Notification Preferences', '#tab2', 'data-toggle' => 'tab' %>
        </li>
      </ul>
    <% end %>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <%= render 'personal', f: f %>
      </div>
      <div class="tab-pane" id="tab2">
        <%= render 'notifications' unless @user.new_record? %>
      </div>
    </div>
  </div>
  <div class="controls">
    <div class="actions">
      <% if @user.new_record? %>
        <%= f.submit 'Create Account', class: 'btn' %>
        <p>By clicking Create Account, you agree to our <%= link_to 'Terms of Use', '#'%> and <%= link_to 'Privacy Policy', '#' %>.</p>
      <% end %>
      <% unless @user.new_record? %>
        <%= f.submit 'Save', class: 'btn' %>
        <%= link_to 'Cancel', edit_user_path(@user), class: 'btn' %>
      <% end %>
    </div>
  </div>
<% end %>
