<table class="table table-striped">
	<thead>
	  <tr>
	    <th>Institution Name</th>
	    <th>Administrator</th>
	    <th>Parent Institution</th>
	  </tr>
  <thead>
  <tbody>
  <% @institutions.each do |institution| %>
    <tr class='user_row'>
      <td><%= link_to institution.full_name, edit_institution_path(institution) %></td>
			<td>
				<%= institution.contact_email %><br/>
      </td>
      <td><%= link_to institution.parent.try(:full_name), edit_institution_path(institution) unless institution.parent == nil %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="buttons pagination">
	<%= link_to "View All", users_path(:scope => "all_institutions", :anchor => 'tab2'), :method => :get, :class => "btn" %>
  <%= paginate @institutions %>
</div>
<%= link_to 'Add New Institution', new_institution_path(5), :class => "btn btn-green" %>
