<table class ="table table-striped table-bordered">
  <tr>
    <th> Institution Name </th>
    <th> Administrator </th>
    <th> Parent Institution </th>
  </tr>

  <% @institutions.each do |institution| %>
    <tr class='user_row'>
      <td><%= link_to institution.full_name, edit_institution_path(institution) %></td>
			<td>
				<%= institution.contact_email %><br/>
      </td>
      <td><%= link_to institution.parent.try(:full_name), edit_institution_path(institution) unless institution.parent == nil %></td>
    </tr>
  <% end %>
  
  <div class="pagination">
    <%= paginate @users %>
  </div>

</table>

<div class="btn-container">
  <%= link_to 'Add New Institution', new_institution_path(5), :class => "btn btn-green" %>
</div>