<p>Check or uncheck boxes for email notifications.</p>

<div>
  <p><strong>Users</strong></p>
	<div class="control-group">
		<%=  check_box_tag 'prefs[users][role_granted]', true, @user.prefs[:users][:role_granted] %>
		<%= label_tag 'prefs[users][role_granted]', 'A new user role is granted', :class => 'checkbox-label' %>
	</div>
</div>

<div>
	<p><strong>DMP owners and co-owners:</strong></p>
	<div class="control-group">
		<%=  check_box_tag 'prefs[dmp_owners_and_co][new_comment]', true, @user.prefs[:dmp_owners_and_co][:new_comment] %>
		<%= label_tag 'prefs[dmp_owners_and_co][new_comment]', 'A new comment has been added to my DMP', :class => 'checkbox-label' %>
    <br/>
    <%=  check_box_tag 'prefs[dmp_owners_and_co][submitted]', true, @user.prefs[:dmp_owners_and_co][:submitted] %>
    <%= label_tag 'prefs[dmp_owners_and_co][submitted]', 'A submitted DMP is approved, rejected or finished informal review', :class => 'checkbox-label' %>
		<br/>
    <%=  check_box_tag 'prefs[dmp_owners_and_co][vis_change]', true, @user.prefs[:dmp_owners_and_co][:vis_change] %>
    <%= label_tag 'prefs[dmp_owners_and_co][vis_change]', "My DMP's visibility has changed", :class => 'checkbox-label' %>
    <br/>
    <%=  check_box_tag 'prefs[dmp_owners_and_co][user_added]', true, @user.prefs[:dmp_owners_and_co][:user_added] %>
    <%= label_tag 'prefs[dmp_owners_and_co][user_added]', 'I have been made a co-owner of a DMP', :class => 'checkbox-label' %>
    <br/>
		<%=  check_box_tag 'prefs[dmp_owners_and_co][committed]', true, @user.prefs[:dmp_owners_and_co][:committed] %>
		<%= label_tag 'prefs[dmp_owners_and_co][committed]', 'A DMP is completed', :class => 'checkbox-label' %>


	</div>
</div>

<div class="<%= user_role_in?(:template_editor, :institutional_admin) ? '': 'hidden' %>">
	<p><strong>DMP Template editors:</strong></p>
	<div class="control-group">
		<%=  check_box_tag 'prefs[requirement_editors][committed]', true, @user.prefs[:requirement_editors][:committed] %>
		<%= label_tag 'prefs[requirement_editors][committed]', 'An institutional DMP template is activated', :class => 'checkbox-label' %>
		<br/>
		<%=  check_box_tag 'prefs[requirement_editors][deactived]', true, @user.prefs[:requirement_editors][:deactived] %>
		<%= label_tag 'prefs[requirement_editors][deactived]', 'An institutional DMP template is deactivated', :class => 'checkbox-label' %>
	</div>
</div>

<div class="<%= user_role_in?(:resource_editor, :institutional_admin) ? '': 'hidden' %>">
	<p><strong>Resources editors:</strong></p>
	<div class="control-group">
		<%=  check_box_tag 'prefs[resource_editors][deleted]', true, @user.prefs[:resource_editors][:deleted] %>
		<%= label_tag 'prefs[resource_editors][deleted]', 'A customization is deleted', :class => 'checkbox-label' %>
		<br/>
		<%=  check_box_tag 'prefs[resource_editors][associated_committed]', true, @user.prefs[:resource_editors][:associated_committed] %>
		<%= label_tag 'prefs[resource_editors][associated_committed]', 'A DMP Template associated with a customization is activated', :class => 'checkbox-label' %>
	</div>
</div>

<div class="<%= user_role_in?(:institutional_reviewer) ? '': 'hidden' %>">
	<p><strong>Institutional Reviewers:</strong></p>
	<div class="control-group">
		<%= check_box_tag 'prefs[institutional_reviewers][submitted]', true, @user.prefs[:institutional_reviewers][:submitted] %>
		<%= label_tag 'prefs[institutional_reviewers][submitted]', 'An Institutional DMP is submitted for review', :class => 'checkbox-label' %>
		<br/>
		<%= check_box_tag 'prefs[institutional_reviewers][new_comment]', true, @user.prefs[:institutional_reviewers][:new_comment] %>
		<%= label_tag 'prefs[institutional_reviewers][new_comment]', 'A new comment is added to an Institutional DMP', :class => 'checkbox-label' %>
		<br/>
		<%= check_box_tag 'prefs[institutional_reviewers][approved_rejected]', true, @user.prefs[:institutional_reviewers][:approved_rejected] %>
		<%= label_tag 'prefs[institutional_reviewers][approved_rejected]', 'An Institutional DMP is approved or rejected', :class => 'checkbox-label' %>
	</div>
</div>



