<p>
	<b>Users:</b>
	<br>
	<%=  check_box_tag 'prefs[users][role_granted]', true, @user.prefs[:users][:role_granted] %>
	A new user role is granted
</p>

<p>
	<b>DMP owners and co-owners:</b>
	<br>
	<%=  check_box_tag 'prefs[dmp_owners_and_co][new_comment]', true, @user.prefs[:dmp_owners_and_co][:new_comment] %>
	A new comment is added to the DMP

	<br>
	<%=  check_box_tag 'prefs[dmp_owners_and_co][commited]', true, @user.prefs[:dmp_owners_and_co][:commited] %>
	A DMP is committed

	<br>
	<%=  check_box_tag 'prefs[dmp_owners_and_co][published]', true, @user.prefs[:dmp_owners_and_co][:published] %>
	A DMP is published

	<br>
	<%=  check_box_tag 'prefs[dmp_owners_and_co][submitted]', true, @user.prefs[:dmp_owners_and_co][:submitted] %>
	A submitted DMP is approved or rejected
</p>

<p>
	<b>DMP Template editors:</b>
	<br>
	<%=  check_box_tag 'prefs[requirement_editors][commited]', true, @user.prefs[:requirement_editors][:commited] %>
	An institutional DMP template is committed	
	<br>
	<%=  check_box_tag 'prefs[requirement_editors][deactived]', true, @user.prefs[:requirement_editors][:deactived] %>
	An institutional DMP template is deactivated
	<br>
	<%=  check_box_tag 'prefs[requirement_editors][deleted]', true, @user.prefs[:requirement_editors][:deleted] %>
	An institutional DMP template is deleted
	
</p>

<p> 
	<b>Resources editors:</b>
	<br>
	<%=  check_box_tag 'prefs[resource_editors][commited]', true, @user.prefs[:resource_editors][:commited] %>
	An institutional resource template is committed
	<br>
	<%=  check_box_tag 'prefs[resource_editors][deactived]', true, @user.prefs[:resource_editors][:deactived] %>
	An institutional resource template is deactivated
	<br>
	<%=  check_box_tag 'prefs[resource_editors][deleted]', true, @user.prefs[:resource_editors][:deleted] %>
	An institutional resource template is deleted
	<br>
	<%=  check_box_tag 'prefs[resource_editors][associated_commited]', true, @user.prefs[:resource_editors][:associated_commited] %>
	A DMP Template associated with an Institutional Resource template is committed
</p>

<p> 
	<b>Institutional Reviewers:</b>
	<br>
	<%=  check_box_tag 'prefs[institutional_reviewers][submitted]', true, @user.prefs[:institutional_reviewers][:submitted] %>
	An Institutional DMP is submitted

	<br>
	<%=  check_box_tag 'prefs[institutional_reviewers][new_comment]', true, @user.prefs[:institutional_reviewers][:new_comment] %>
	A new comment is added to an Institutional DMP

	<br>
	<%=  check_box_tag 'prefs[institutional_reviewers][approved_rejected]', true, @user.prefs[:institutional_reviewers][:approved_rejected] %>
	An Institutional DMP is approved or rejected

</p>




