<%unless @user.new_record?%>
<p>Please update any info regarding your account.</p>
<p><strong>Name</strong></p>
<hr/>
<%end%>

<% errors = @user.errors[:login_id] %>
<% validation_class = errors.empty? ? {} : 'error' %>
<div class="control-group <%= validation_class %>">
  <%= f.label :login_id, 'Username', :class => 'control-label required' %>
  <div class="controls">
    <%= f.text_field :login_id, readonly: !@user.new_record?, :class => "input-xxlarge required" %>
    <span class="help-inline" style="display:block;height:0;">
      <%= errors.join (', ') %>
    </span>
  </div>
</div>

<% unless @user.new_record? %>
  <% errors = @user.errors[:first_name] %>
  <% validation_class = errors.empty? ? {} : 'error' %>
  <div class="control-group <%= validation_class %>">
    <%= f.label :first_name, :class => 'control-label required' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => "input-xxlarge required" %>
      <span class="help-inline">
        <%= errors.join (', ') %>
      </span>
    </div>
  </div>

  <% errors = @user.errors[:last_name] %>
  <% validation_class = errors.empty? ? {} : 'error' %>
  <div class="control-group <%= validation_class %>">
    <%= f.label :last_name, :class => 'control-label required' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => "input-xxlarge required" %>
        <span class="help-in-line">
          <%=errors.join (', ')%>
      </span>
    </div>
  </div>
<%end%>

<% if @user.new_record? %>
  <% @required = 'required' %>
<% else %>
  <% @required = '' %>
<%end%>

<% errors = @user.errors[:password] %>
<% validation_class = errors.empty? ? {} : 'error' %>
<div class="control-group <%= validation_class %>">
  
  <%= f.label :password, password_label(@user), :class => 'control-label '+@required %>
  <div class="controls">
    <%= f.password_field :password, :class => "input-xxlarge "+@required, disabled: session[:login_method] == 'shibboleth' %>
      <span class="help-in-line">
        <%=errors.join (', ')%>
    </span>
  </div>

</div>

<% errors = @user.errors[:password_confirmation] %>
<% validation_class = errors.empty? ? {} : 'error' %>
<div class="control-group  <%= validation_class %>">
  <%= f.label :password_confirmation, :class => 'control-label '+@required %>
  <div class="controls">
    <%= f.password_field :password_confirmation, :class => "input-xxlarge "+@required, disabled: session[:login_method] == 'shibboleth' %>
      <span class="help-in-line">
        <%=errors.join (', ')%>
    </span>
  </div>
</div>

<%unless @user.new_record?%>
  <p><strong>Contact Information</strong></p>
  <hr/>
<%end%>

<% errors = @user.errors[:email] %>
<% validation_class = errors.empty? ? {} : 'error' %>
<div class="control-group <%= validation_class%>">
  <%= f.label :email, :class => 'control-label required' %>
  <div class="controls">
    <%= f.text_field :email, :class => 'input-xxlarge required' %>
      <span class="help-in-line">
        <%=errors.join (', ')%>
      </span>
  </div>
</div>

<% errors = @user.errors[:institution_id] %>
<% validation_class = errors.empty? ? {} : 'error' %>
<div class="control-group  <%= validation_class %>">
  <%= f.label :institution_id, :class => 'control-label' %>
  <div class="controls">
    <% # filter institution list in my profile page only %>
    <% if @user.new_record? %>
      <%= f.select( :institution_id, 
          @institution_list, 
          {prompt: "-Select an Institution-"},
          :class => "input-xxlarge") %>
    <% else %>
      <%= f.select( :institution_id, 
        @institution_list, 
        {prompt: 'Select Institution'}, 
        :class => "input-xxlarge")%>
    <% end %>

    <span class="help-in-line">
      <%=errors.join (', ')%>
    </span>
  </div>
</div>

<% unless @user.new_record? %>
  <p><strong>DMP Options</strong></p>
	<hr/>
  <div class="control-group">
    <%= label_tag :my_roles, 'My Roles', :class => 'control-label' %>
    <div class="controls">
      <p><%= @user.role_names.join(' | ') %></p>
    </div>
  </div>
<% end %>

