<%unless @user.new_record?%>
  <p>Please update your account information.</p>
  <p><strong>Name</strong></p>
  <hr/>
<%end%>

<% errors = @user.errors[:login_id] %>
<% validation_class = errors.empty? ? {} : 'error' %>
<div class="control-group <%= validation_class %>">
  <%= f.label :login_id, 'Username', :class => 'control-label required' %>
  <div class="controls">
    <%= f.text_field :login_id, readonly: !@user.new_record?, :class => "input-xxlarge required", required: true %>
    <span class="help-inline" style="display:block;height:0;">
      <%= errors.join (', ') %>
    </span>
  </div>
</div>

<% unless @user.new_record? %>
  <% errors = @user.errors[:first_name] %>
  <% validation_class = errors.empty? ? {} : 'error' %>
  <div class="control-group <%= validation_class %>">
    <%= f.label :first_name, :class => 'control-label required' %>
    <div class="controls">
      <%= f.text_field :first_name, :class => "input-xxlarge required", required: true %>
      <span class="help-inline">
        <%= errors.join (', ') %>
      </span>
    </div>
  </div>

  <% errors = @user.errors[:last_name] %>
  <% validation_class = errors.empty? ? {} : 'error' %>
  <div class="control-group <%= validation_class %>">
    <%= f.label :last_name, :class => 'control-label required' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => "input-xxlarge required", required: true %>
        <span class="help-in-line">
          <%=errors.join (', ')%>
      </span>
    </div>
  </div>
<%end%>

<% if @user.new_record? %>
  <% @required = 'required' %>
<% else %>
  <% @required = '' %>
<%end%>

<% if session[:login_method] != 'shibboleth' %>

  <% errors = @user.errors[:password] %>
  <% validation_class = errors.empty? ? {} : 'error' %>
  <div class="control-group <%= validation_class %>">
    
    <%= f.label :password, password_label(@user), :class => 'control-label ' +@required %>
    <div class="controls">
      <%= f.password_field :password, :class => "input-xxlarge " +@required, required: true %>
        <span class="help-in-line">
          <%=errors.join (', ')%>
      </span>
    </div>

  </div>

  <% errors = @user.errors[:password_confirmation] %>
  <% validation_class = errors.empty? ? {} : 'error' %>
  <div class="control-group  <%= validation_class %>">
    <%= f.label :password_confirmation, :class => 'control-label '+@required %>
    <div class="controls">
      <%= f.password_field :password_confirmation, :class => "input-xxlarge " +@required, required: true %>
        <span class="help-in-line">
          <%=errors.join (', ')%>
      </span>
    </div>
  </div>

<%end%>

<%unless @user.new_record?%>
  <p><strong>Contact Information</strong></p>
  <hr/>
<%end%>

<% errors = @user.errors[:email] %>
<% validation_class = errors.empty? ? {} : 'error' %>
<div class="control-group <%= validation_class%>">
  <%= f.label :email, :class => 'control-label required' %>
  <div class="controls">
    <%= f.text_field :email, :class => 'input-xxlarge required', required: true %>
      <span class="help-in-line">
        <%=errors.join (', ')%>
      </span>
  </div>
</div>

<% errors = @user.errors[:institution_id] %>
<% validation_class = errors.empty? ? {} : 'error' %>
<div class="control-group  <%= validation_class %>">
  <%= f.label :institution_id, :class => 'control-label' %>
  <div class="controls">
    <% # filter institution list in my profile page only %>
    <% if @user.new_record? %>
      <%= f.select( :institution_id, 
          @institution_list, 
          {prompt: "-Select an Institution-"},
          :class => "input-xxlarge") %>
    <% else %>
      <%= f.select( :institution_id, 
        @institution_list, 
        {prompt: 'Select Institution'}, 
        :class => "input-xxlarge")%>
    <% end %>

    <span class="help-in-line">
      <%=errors.join (', ')%>
    </span>
  </div>
</div>

<% unless @user.new_record? %>
  <%if @user.role_names.any?%>
    <p><strong>DMP Options</strong></p>
	   <hr/>
    <div class="control-group">
      <p class="control-label">My Roles</p>
      <div class="controls">
        <p><%= @user.role_names.join(' | ') %></p>
      </div>
    </div>
  <%end%>
<% end %>

<% unless @user.new_record? %>
    <p><strong>Other Information</strong></p>
    <hr/>

    <% if @user.orcid_id.nil? || @user.orcid_id.blank? %>
      <div class="control-group">
        <%= label_tag :orcid_id, 'ORCID', :class => 'control-label' %>
        <input type="text" id="orcid_id" class="orcid_widget" name="user[orcid_id]" placeholder="xxxx-xxxx-xxxx-xxxx">
         <%= javascript_include_tag "orcid_widget" %>
        </input>
      </div>

    <% else %>
      
      <% @sub_orcid_id = @user.orcid_id.gsub("http://", "")%>
      <div class="control-group">
        <%= label_tag :orcid_id, 'ORCID', :class => 'control-label' %>
        <div class="controls everythingOnOneLine">
          <p><%= link_to @sub_orcid_id, @user.orcid_id %></p>
          &nbsp;&nbsp;&nbsp;
          <p><%= link_to 'Edit', '#', id: 'change_orcid' %></p>
          &nbsp;&nbsp;&nbsp;
          <p><%= link_to 'Delete', remove_orcid_path(user_id: @user), id: 'remove_orcid' %></p>
        </div>
      </div>

      <div class="control-group" id="orcid_input_box">
        <%= label_tag :orcid_id, 'ORCID', :class => 'control-label' %>
          <input type="text" id="update_orcid_id" class="orcid_widget" name="user[orcid_id]" placeholder="xxxx-xxxx-xxxx-xxxx">
           <%= javascript_include_tag "orcid_widget" %>
          </input>
      </div>

    <% end %>
<% end %>

























