<%unless @user.new_record?%>
	<b>Name</b>
<%end%>

<%errors = @user.errors[:login_id]%>
<%validation_class = errors.empty? ? {} : 'error'%>

<div class="control-group" id="validation_class">
	<%= f.label :login_id, 'Username', class: "control-label" %>
	<div class="controls">
		<%= f.text_field :login_id, readonly: !@user.new_record? %>
		<span class="help-inline"><%=errors.join (', ')%></span>
	</div>
</div>

<%unless @user.new_record?%>

	<%errors = @user.errors[:first_name]%>
	<%validation_class = errors.empty? ? {} : 'error'%>

	<div class="control-group" id="validation_class">
		<%= f.label :first_name, class: "control-label" %>
		<div class="controls">
			<%= f.text_field :first_name %>
			<span class="help-inline"><%=errors.join (', ')%></span>
		</div>
	</div>

	<%errors = @user.errors[:last_name]%>
	<%validation_class = errors.empty? ? {} : 'error'%>

	<div class="control-group" id="validation_class">
		<%= f.label :last_name, class: "control-label" %>
		<div class="controls">
			<%= f.text_field :last_name %>
			<span class="help-inline"><%=errors.join (', ')%></span>
		</div>
	</div>

<%end%>

<%errors = @user.errors[:password]%>
<%validation_class = errors.empty? ? {} : 'error'%>

<div class="control-group" id="validation_class">
	<%= f.label :password, password_label(@user), class: "control-label" %>
	<div class="controls">
		<%= f.password_field :password %>
		<span class="help-inline"><%=errors.join (', ')%></span>
	</div>
</div>

<%errors = @user.errors[:password_confirmation]%>
<%validation_class = errors.empty? ? {} : 'error'%>


<div class="control-group" id="validation_class">
	<%= f.label :password_confirmation, class: "control-label" %>
	<div class="controls">
		<%= f.password_field :password_confirmation %>
		<span class="help-inline"><%=errors.join (', ')%></span>
	</div>
</div>


<%errors = @user.errors[:email]%>
<%validation_class = errors.empty? ? {} : 'error'%>

<div class="control-group" id="validation_class">
	<%= f.label :email, class: "control-label"  %>
		<div class="controls">
			<%= f.text_field :email %>
			<span class="help-inline"><%=errors.join (', ')%></span>
		</div>
	</div>
</div>


<%errors = @user.errors[:institution_id]%>
<%validation_class = errors.empty? ? {} : 'error'%>

<div class="control-group" id="validation_class">
	<%= f.label :institution_id, class: "control-label" %>
	<div class="controls">
		
		<%# f.select( :institution_id, Institution.all.collect { |i| [i.full_name, i.id] }, {prompt: 'Select Institution'}, {disabled: @disabled}) %>

		<%= f.select( :institution_id, Institution.all.collect { |i| [i.full_name, i.id] }, {prompt: 'Select Institution'})%>

		<span class="help-inline"><%=errors.join (', ')%></span>
	</div>
</div>

<%unless @user.new_record?%>
	<b>DMP Options</b>
<%end%>
<div class="control-group">
	<%label_tag :my_roles, 'My Roles'%>
	<div class="controls">
		<%= @user.roles.map {|r| r.name}.join(' | ')%>
	</div>
</div>
























