<table class ="table table-striped">
	<thead>
	  <tr>
	    <th>User Name</th>
	    <th>Institution</th>
	    <th>Current Role</th>
	    <th width="span1">Edit User Role</th>
	    <th width="span1" class="align-center">Remove User</th>
	  </tr>
	</thead>
	<tbody>
	<% @users.each do |user| %>     
  	<tr class='user_row' id=<%="user_#{user.id}"%>>        
    	<td><%= link_to user.full_name, edit_user_path(user) %></td>
    	<td><%= link_to user.institution.full_name, edit_institution_path(user.institution) %></td>
    	<td><%= user.role_names.join(' | ') %></td>
     	<td class="span1"><%=link_to raw(''), edit_user_roles_path(user_id: user), :class => 'icon edit-user', :id => "edit_#{user.id}"%></td>
    	<td class="span1"><%= link_to raw(''), user, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'icon remove-user' %></td>           
      </tr>       
  <% end %>
	</tbody>
</table>
<div class="buttons pagination">
	<%= link_to 'View All', users_path(:scope => 'all_users'), :method => :get, :class => 'btn' %>
  <%= paginate @users %>
</div>

