<h1 class="row-fluid"><span class="icon administrator"></span>Edit User Roles</h1>
<div class="tabbable">
	<ul class="nav nav-tabs">
		<li class="active"><%= link_to 'User Roles', '#tab1', 'data-toggle' => 'tab' %></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="tab1">
				<%= form_tag(update_user_roles_path(user_id: @user.id, q: @user.email), method: 'post') do %>
				<p><strong><%= @user.first_name %> Current Roles:</strong></p>
				<hr/>
				<div class="control-group">
					<ul>
						<% @roles.each do |role| %>
							<div id=<%="role_#{role.id}"%> >
						  	<li><%= check_box_tag "role_ids[]", role.id, checked = @user.has_role?(role.id), :id => "#{role.id}"  %>
						    <%= label_tag role.id, role.name, :class => 'checkbox-label' %></li>
							</div>
						<% end %>
					</ul>
				</div>
				<br/>
				<div class="buttons">
				<%=  submit_tag 'Save Changes',  :class => 'btn btn-green' %>
				<%= link_to 'Back', users_path(q: @user.email), :class => 'btn' %>
			</div>
		<%end%>
		</div>
	</div>
</div>



