<% @title_text = "Create Account" %>
<h1 class="row-fluid"><span class="icon profile"></span>Create Account</h1>
<div class="login row-fluid">
	
	<%= form_for @user, html: { :class => 'form-horizontal' } do |f| %>
		<%= render partial: "shared/errors", locals: {model: @user } %>    	 
	  <%= render 'personal', f: f %>
	  <br>
		<div class="actions pull-left">
      <%= link_to "<< back", :back, :class => "btn " %>
    </div>
    <div class="actions pull-right">
      <%= button_tag 'Cancel', type: :reset, :class => "btn" %>   
      <%= f.submit 'Create Account', :class => "btn" %>   
    </div> 
	<% end %>

	<br>
	
	<div class="login terms">
		<p>
			By clicking <strong>Create Account</strong>,you agree to our <%= link_to 'Terms of Use', '#', :title => "DMPTool Terms of Use", :target => "_blank" %> 	and <%= link_to 'Privacy Policy', '#', :title => "DMPTool Privacy Policy", :target => "_blank" %>.
		</p>
	</div>
	
</div>
