<% # this partial should take a local of requirements for its level in the tree  %>

<% requirements.each do |requirement| %>

  <% if requirement.is_group? %>
    <li class="nested_requirements" id="requirement_<%= requirement.id %>">
    	<div class="icons">
      	<span class="icon icon-folder-open"></span>
      <%= requirement.text_brief %>
      <%# link_to requirement.text_brief,
                  customization_requirement_path(@customization, requirement_id: requirement.id, node_type: 'group') %>
      <ul>
        <%= render partial: 'shared/requirements_tree2', locals: {requirements: requirement.children} %>
      </ul>
    </li>
  <% else %>
    <li class="listed_requirement <%= (requirement.id.to_s == params[:requirement_id] ? 'current' : '') %>" id="requirement_<%= requirement.id %>">
    	<div class="icons">
     		<span class="icon requirement"></span>
     	</div>
      <% if requirement.id.to_s == params[:requirement_id] %>
        <%= requirement.text_brief %>
      <% else %>
        <%= link_to requirement.text_brief,
                    customization_requirement_path(@customization, requirement_id: requirement.id, node_type: 'requirement'),
                    {class: 'requirement_direct_link'}
        %>
      <% end %>
    </li>
  <% end %>
<% end %>
