<br/>
<h2 class="dashboard-heading"><span class="icon select"></span>Select DMP Template</h2>
<br/>
<%= form_tag('', {:method => :get}) do %>
<div class="span8">
  <p>Select one of the funder DMP Templates listed to proceed to the next step. The type of template chosen can affect what information you will need to provide in the following steps.</p>
  <div class="buttons-alpha row">
    <%= link_to('A-F', { :s => 'a', :e => 'f' }, :class => 'btn') %>
    <%= link_to('G-L', { :s => 'g', :e => 'l' }, :class => 'btn') %>
    <%= link_to('M-S', { :s => 'm', :e => 's' }, :class => 'btn') %>
    <%= link_to('T-Z', { :s => 't', :e => 'z' }, :class => 'btn') %>
    <%= link_to('View All', { :s => '', :e => '' }, :class => 'btn') %>
  </div>
</div>
<div class="search-area span4">
  <%= search_field_tag(:q, params[:q], :class => 'input-large') %>
  <span class="icon search"></span>
  <%= submit_tag('Search') %>
</div>
<% end %>
  <br/>
<div class="span8">
  <% unless @rt_tree.empty? %>
    <%= form_tag(@submit_to, method: "get", id: 'requirements_template_form') do %>
      <ul>
        <% @rt_tree.each do |k, v| %>
          <% if v.nil? %>
            <li>
              <div class="option_area">
                <%= radio_button_tag(:requirements_template_id, k.id, false, :class => 'req_chooser') %>
                <i class="icon-file"></i>
              </div>
              <div class="label_area">
                <%= label_tag("requirements_template_id_#{k.id}", k.name) %>
              </div>
            </li>
          <% else %>
            <li>
              <div class="option_area">
                <a href="#" class="accordioner" id="inst_opener1_<%= k.id %>">
                  <i class="icon-chevron-right" id="inst_chevron_<%= k.id %>"></i>
                </a>
                <i class="icon-folder-close" id="<%= "inst_folder_#{k.id}" %>"></i>
              </div>
              <div class="label_area folder_label">
                <%= link_to(k.name, '#', :id => "inst_opener2_#{k.id}", :class => 'accordioner') %>
              </div>
            </li>
              <ul class="closed_list" id="<%= "inst_list_#{k.id}" %>">
                <% v.each do |i| %>
                  <li>
                    <div class="option_area">
                      <%= radio_button_tag(:requirements_template_id, i.id, false, :class => 'req_chooser') %>
                      <i class="icon-file"></i>
                    </div>
                    <div class="label_area">
                      <%= label_tag("requirements_template_id_#{i.id}", i.name) %>
                    </div>
                  </li>
                <% end %>
              </ul>
          <% end %>
        <% end %>
      </ul>
      <div style="clear:both"></div>
      <%= link_to(@back_text, @back_to, method: :get, :class => "btn pull-left") %>
      <%= submit_tag(@submit_text, id: 'next', method: :get, :class => "btn pull-right") %>
    <% end %>
  <% else %>
    No results were found for your search terms, please modify your search terms to show results.
  <% end %>
  &nbsp;
</div>

<div id="dialog" title="Please select a DMP Template">
  You must select a DMP template before continuing.
</div>

<script type="text/javascript">
  $('.accordioner').click(function(event) {
    event.preventDefault();
    var target_id = event.target.id.replace(/^inst_[a-z0-9]+_/g, '');
    // console.log(target_id);

    //toggle folder
    var icon = $('#inst_folder_' + target_id);
    var new_icon_class = ( icon.attr('class') == 'icon-folder-close' ? 'icon-folder-open' : 'icon-folder-close' );
    icon.removeClass(icon.attr('class')).addClass(new_icon_class);

    //toggle chevrons
    icon = $('#inst_chevron_' + target_id);
    new_icon_class = ( icon.attr('class') == 'icon-chevron-right' ? 'icon-chevron-down' : 'icon-chevron-right' );
    icon.removeClass(icon.attr('class')).addClass(new_icon_class);

    //hide/show list under
    var list = $('#inst_list_' + target_id);
    list.toggle('fold');

  });

  $('#requirements_template_form').on('submit', function(e){
    var selected = $('input[name=requirements_template_id]:checked', '#requirements_template_form').val();
    if(selected == undefined){
      $('#dialog').dialog('open');
      e.preventDefault();
    }else{
      // let it go ahead
    }
  });

  $('#dialog').dialog({
      autoOpen: false,
      width: 400,
      height: 100,
      modal: true,
      closeOnEscape: true,
      draggable: true,
      resizable: false,
      autoOpen: false,
      title: "Please Select a Template ",
      show: {
        effect: "blind",
        duration: 1000
      },
      hide: {
        effect: "toggle",
        duration: 1000
      },
      open: function()
      {
        $("#dialog").dialog("open");
      },
      close: function() {
        $('#dialog').dialog("close");
      }
  });
</script>