<h2> <%= @template_name %>  
	<% unless safe_has_role?(Role::DMP_ADMIN) %>
		
		for <%= @customization_institution_name %> 

	<% end %>
	
	Resources 
</h2>
	
<table class="table table-striped">

	<thead>
		<tr>
			<th class="span4">Details</th>
			<th>Unlink from customization</th>
			<th width="span1">Edit</th>
			<th>Institution</th>
			<th>Creation Date</th>
			<th>Last Modification Date</th>
		</tr>
	</thead>
	<tbody>
	<% @resource_contexts.each do |resource_context| %>
		<tr>
			<td>
				<div class="toggle-links">
					<%= resource_context.resource.nil? ? " " :  resource_context.resource.label %>
				</div>
			</td>
			<td><%= link_to 'Unlink from Customization', 
						unlink_resource_path(resource_id: resource_context.resource.id, 
                            				template_id: @customization.requirements_template_id, 
                                            customization_id: @customization.id,
                                            institution_id: @customization.institution_id,
                                            unlink_from_customization: true),  
                                  			method: :post %>  
            </td>
			<td class="span1"><%= link_to raw(''), edit_customization_resource_path(id: resource_context.resource_id, customization_id: @customization.id), :class => 'icon edit-user' %></td>
			<td><%= resource_context.institution.nil? ? " " :  resource_context.institution.nickname %></td>
			<td><%= resource_context.created_at.nil? ? " " :  resource_context.created_at.strftime("%m/%d/%Y %I:%M%p") %></td>
			<td><%= resource_context.updated_at.nil? ? " " :  resource_context.updated_at.strftime("%m/%d/%Y %I:%M%p") %></td>

		</tr>
	<% end %>
	<tbody>
</table>




<div class="buttons">
	<%= button_to 'Add another Resource', 
								select_resource_path(template_id: @template.id, 
								customization_overview_id: @resource_context.id), 
								:method => :post, 
								:class => "btn btn-green" %>
</div>
