<h2 class="dashboard-heading"><span class="icon overview"></span>DMP Template Overview</h2>
<table class="table table-striped" >
  <thead>
    <tr>
      <th class="span1 valign-middle"></th>
      <th>Name</th>
      <th>Institution</th>
      <th>Status</th>
      <th>Visibility</th>
      <th>Creation Date</th>
      <th>Last Modification Date</th>
    </tr>
  </thead>
  <tbody>
  <% @requirements_templates.each do |requirements_template| %>
    <tr>
      <td class="selected_requirements_template span1"><%= radio_button_tag :requirements_template_id, requirements_template.id %></td>
      <td class="selected_requirements_template_name" ><%= requirements_template.name %></td>
      <td><%= requirements_template.institution.full_name %></td>
      <td><%= requirements_template.active ? "Active" : "Inactive" %></td>
      <td><%= requirements_template.visibility.capitalize %></td>
      <td><%= requirements_template.created_at.strftime("%m/%d/%Y %I:%M%p") %></td>
      <td><%= requirements_template.updated_at.strftime("%m/%d/%Y %I:%M%p") %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="buttons pagination">
  <%= link_to( "View All" , new_resource_template_path(show_all: 'true'), :class => "btn") %>
  <%= paginate @requirements_templates %>
</div>
