<h1 class="row-fluid"><span class="icon resource-template"></span>DMP Template Customizations</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="span4">
      	<%= link_to "Name", {scope: @scope, order_scope: "Name"}%>
      </th>
      <th>
      	<%= link_to "Associated DMP Template", {scope: @scope, order_scope: "Template"}%>
      </th>
      <th>
      	<%= link_to "Institution", {scope: @scope, order_scope: "Institution"}%>
      </th>
      <th>
      	<%= link_to "Creation Date", {scope: @scope, order_scope: "Creation_Date"}%>
      </th>
      <th>
      	<%= link_to "Last Modification Date", 
      				{scope: @scope, 
              order_scope: "Last_Modification_Date"}
        %>
      </th>
    </tr>
  </thead>
  <tbody>
	<% @resource_contexts.each do |resource_context| %>
		<tr>
			<td class="resource_contexts_name">
				<div class="toggle-links">
					<%= content_tag(:strong, resource_context.name) %>
					<div class="template-links">
						<%= link_to 'Overview', edit_resource_context_path(resource_context) %> |
            <%= link_to 'Details', customization_requirement_path(resource_context.id) %> |
            <%= link_to 'Delete', 
            				delete_resource_context_path(resource_context: resource_context), 
                    method: :delete,
                    confirm: "Are you sure?",
                    :class => "delete" %>


					</div>
				</div>
			</td>
			<td>
				<%= resource_context.requirements_template.nil? ? " " : resource_context.requirements_template.name %>
			</td>
			<td>
				<%= resource_context.institution.nil? ? " " :  resource_context.institution.full_name %>
			</td>
			<td>
				<%= resource_context.created_at.nil? ? " " :  resource_context.created_at.strftime("%m/%d/%Y %I:%M%p") %>
			</td>
			<td>
				<%= resource_context.updated_at.nil? ? " " :  resource_context.updated_at.strftime("%m/%d/%Y %I:%M%p") %>
			</td>
		</tr>
	<% end %>
	<% if @resource_contexts.empty? %>
		<tr>
  		<td colspan="5">You have no template customizations</td>
  	</tr>
	<% end %>
  </tbody>
</table>


<% if @scope == "all" %>
  <div class="buttons pagination">
    <%= link_to "View Less", resource_contexts_path(scope: "less", order_scope: @order_scope ), :method => :get, :class => "btn"%>
    <%= paginate @resource_contexts %>
  </div>
<% else %>
  <div class="buttons pagination">
    <%= link_to "View All", resource_contexts_path(scope: "all", order_scope: @order_scope ), :method => :get, :class => "btn"%>
    <%= paginate @resource_contexts %>
  </div>
<%end%>

<%= link_to 'Create New Customization', dmp_for_customization_path, :class => "btn btn-green" %>

















