<h1 class="row-fluid"><span class="icon resource-template"></span>Existing Resources 


<% unless safe_has_role?(Role::DMP_ADMIN) %>
	for <%= current_user.institution.full_name %> </h2>
<% end %>
</h1>

<div> 

<br>

</div>

<div><%= render 'resource_search' %></div>

<%= form_tag copy_selected_customization_resource_path, :method => :post  do %>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Select</th>		
				
				<th class="span4"><%= link_to "Details", {scope: "Details"}%></th>	
				<th><%= link_to "Type", {scope: "Type"} %></th>			
				<th><%= link_to "Institution", {scope: "Institution"}%></th>
				<th><%= link_to "Creation Date", {scope: "Creation_Date"}%></th>
				<th><%= link_to "Last Modification Date", {scope: "Last_Modification_Date"}%></th>
				<th>Level</th>
				<th width="span1">Edit</th>
			</tr>
		</thead>
		<tbody>

			<% @resource_contexts.each do |resource_context| %>
				<tr>
					<td class="span1"><%= radio_button_tag :resource, resource_context.resource_id, checked: false %></td>	
					
					<td>
						<div class="toggle-links">
							<%= resource_context.resource.nil? ? " " : resource_context.resource.label %>
						</div>
					</td>
					<td><%= resource_context.resource.nil? ? " " : resource_context.resource.resource_type %></td>	
					<td><%= resource_context.institution.nil? ? " " :  resource_context.institution.nickname %></td>
					<td><%= resource_context.created_at.nil? ? " " :  resource_context.created_at.strftime("%m/%d/%Y %I:%M%p") %></td>
					<td><%= resource_context.updated_at.nil? ? " " :  resource_context.updated_at.strftime("%m/%d/%Y %I:%M%p") %></td>
					<td><%= resource_context.resource_level %></td>
					<td class="span1"><%= link_to raw(''), edit_customization_resource_path(id: resource_context.resource_id, customization_id: @customization_overview_id), :class => 'icon edit-user' %></td>
				</tr>
			<% end %>
		<tbody>
	</table>

	<div class="buttons pagination">	
		<%= paginate @resource_contexts %>
	</div>


	<%= hidden_field_tag :template_id, @template_id  %>

	<%= hidden_field_tag :customization_overview_id, @customization_overview_id %>

	<div class="buttons">
		<%= submit_tag 'Submit',  :class => "btn btn-green" %>	
	</div>


<%end%>

<div class="buttons">
	<%= button_to 'Add another Resource', 
						new_customization_resource_path(template_id: @template_id, 
						customization_overview_id: @customization_overview_id), 
						:method => :post, 
						:class => "btn btn-green" %>	
</div>
