= render 'requirements_templates'
%br/
.form-horizontal
  = form_for @resource_template do |f|
    - if @resource_template.errors.any?
      #error_explanation
        %h2= "#{pluralize(@resource_template.errors.count, "error")} prohibited this resource_template from being saved:"
        %ul
          - @resource_template.errors.full_messages.each do |msg|
            %li= msg

    %strong Basic Information
    %hr/

    = f.hidden_field :requirements_template_id, id: 'requirements_template_id'
    .control-group
      = f.label :template_name,"Template Name", class: "control-label"
      .controls
        = f.text_field :name, class: "input-xlarge"

    = render partial: 'date_fields' , locals: { f: f } unless @resource_template.new_record?

    .control-group
      = f.label :institution, class: "control-label"
      .controls
        = f.hidden_field :institution_id, value: current_user.institution.id
        = text_field_tag :institution_name, current_user.institution.full_name, disabled: true, class: "input-xlarge"

    %strong Optional Information
    %hr/
    .control-group
      = f.label :institutional_widget, "Institutional Widget",  class: "control-label"
      .controls
        = f.email_field :widget_url, class: "input-xlarge"
    .control-group
      = f.label :review_requirement, "Review Requirement", class: "control-label"
      .controls
        = f.radio_button :review_type, :formal_review, class: "radio inline"
        Formal Review Required
        = f.radio_button :review_type, :informal_review, class: "radio inline"
        Informal Review Required
        = f.radio_button :review_type, :no_review, class: "radio inline"
        No Review Required

    %hr/
    .actions
      = f.submit 'Save Changes', class: 'btn btn-success pull-left', method: 'post'
