.form-horizontal
  = form_for @resource_template do |f|
    - if @resource_template.errors.any?
      #error_explanation
        %h2= "#{pluralize(@resource_template.errors.count, "error")} prohibited this resource_template from being saved:"
        %ul
          - @resource_template.errors.full_messages.each do |msg|
            %li= msg

    %h4 Resource Template Overview
    %br
    %strong Basic Information
    %hr

    .control-group
      = f.label :template_name, class: "control-label"
      .controls
        = f.text_field :name
    .control-group
      = f.label :institution, class: "control-label"
      .controls
        = f.text_field :institution_id
        / will replace the institution.id field above with this line as and the login functionality is complete
        / = f.text_field current_user.institution.full_name, disabled: true
    = render partial: 'date_fields' , locals: { f: f } unless @resource_template.new_record?

    %strong Optional Information
    %hr
    .control-group
      = f.label :institutional_contact, class: "control-label"
      .controls
        = f.text_field :contact_info, placeholder: "Label"
        = f.text_field :contact_email, placeholder: "URL"
    .control-group
      = f.label :institutional_widget, class: "control-label"
      .controls
        = f.text_field :widget_url
    .control-group
      = f.label :review_requirement, class: "control-label"
      .controls
        = f.radio_button :review_type, :formal_review, class: "radio inline"
        Formal Review Required
        = f.radio_button :review_type, :informal_review, class: "radio inline"
        Informal Review Required
        = f.radio_button :review_type, :no_review, class: "radio inline"
        No Review Required

    %hr
    .actions
      = f.submit 'Save Changes', class: 'btn btn-success pull-left', method: 'post'
