= form_for @resource_template do |f|
  - if @resource_template.errors.any?
    #error_explanation
      %h2= "#{pluralize(@resource_template.errors.count, "error")} prohibited this resource_template from being saved:"
      %ul
        - @resource_template.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :institution_id
    = f.number_field :institution_id
  .field
    = f.label :requirements_template_id
    = f.number_field :requirements_template_id
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :active
    = f.check_box :active
  .field
    = f.label :mandatory_review
    = f.check_box :mandatory_review
  .field
    = f.label :widget_url
    = f.text_field :widget_url
  .actions
    = f.submit 'Save'
