%br/
%h4 Resource Editors
%br
%table.table.table-striped.table-condensed
  %thead
    %tr
      %th Name
      %th Username
      %th Email
      %th Remove Role

  %tbody
  - @users.each do |user|
    %tr

      %td= user.full_name
      %td= user.login_id
      %td= user.email
      %td= link_to raw('<i class="icon-minus-sign icon-white"></i>'), remove_resource_editor_role_path(user_id: user.id), class: "img-polaroid btn-danger"

.pagination
= paginate @users