<h2 class="dashboard-heading"><span class="icon template-editor"></span>Resource Editors</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th> Name </th>
      <th> Username </th>
      <th> Email </th>
      <th class="span1"> Revoke Role </th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.full_name %></td>
      <td><%= user.login_id %></td>
      <td><%= user.email %></td>
      <td class="span1"><%= link_to raw(''), remove_authorization_path(user_id: user.id, role_id: 2, p: 'resource_templates'), :class => "icon remove", :data => { :confirm => 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="buttons pagination">
	<%= paginate @users %>
</div>
<%= link_to 'Add New Editor', add_role_path, method: :post, id: 'add_role_view', :class => "btn btn-green" %>