<h2 class="dashboard-heading"><span class="icon template-resource"></span>DMP Template Customizations</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="span4">Name</th>
      <th>Associated DMP Template</th>
      <th>Institution</th>
      <th>Creation Date</th>
      <th>Last Modification Date</th>
    </tr>
  </thead>
  <tbody>
  <% @resource_templates.each do |resource_template| %>
    <tr>
      <td class="resource_template_name">
				<div class="toggle-links">
        	<%= link_to (content_tag(:strong, resource_template.name)), resource_template_resources_path(resource_template) %>
        	<div class="template-links">
        		<%= (link_to 'Overview', edit_resource_template_path(resource_template))+' | '+(link_to 'Details',resource_template_resources_path(resource_template))+' | '+(link_to 'Delete', resource_template_path(resource_template), :class => "delete",  method: :delete, data: { confirm: 'Are you sure?' }) %>
        	</div>
        </div>
      </td>
      <td>
        <%= resource_template.requirements_template.nil? ? " " : resource_template.requirements_template.name %>
      </td>
      <td>
        <%= resource_template.institution.full_name %>
      </td>
      <td>
        <%= resource_template.created_at.strftime("%m/%d/%Y %I:%M%p") %>
      </td>
      <td>
        <%= resource_template.updated_at.strftime("%m/%d/%Y %I:%M%p") %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="buttons pagination">
	<%= link_to "View All", resource_templates_path(:scope => "all"), :method => :get, :class => "btn"%>
	<%= paginate @resource_templates %>
</div>
<!-- To be replaced with the commented out path -->
<%#= button_to 'Create New Customization', select_dmp_template_path, :method => :get, :class => 'btn' %>
<%= button_to 'Create New Customization', new_resource_template_path, :method => :get, :class => 'btn' %>







