<h5> Resource Templates </h5>
<br/>

<%= link_to(content_tag(:span, "All (#{@all}) ", class: "current" ), scope: "all") %>
|
<%= link_to(content_tag(:span, "Active (#{@active}) ", class: "current"), scope: "active") %>
|
<%= link_to(content_tag(:span, "Inactive (#{@inactive}) ", class: "current"), scope: "inactive") %>

<br/>
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th> Name </th>
      <th> Institution </th>
      <th> Status </th>
      <th> Creation Date </th>
      <th> Last Modification Date </th>
    </tr>
  </thead>
  <tbody>
  <% @resource_templates.each do |resource_template| %>
    <tr>
      <td class="resource_template_name">
        <%= link_to resource_template.name, resource_template_resources_path(resource_template) %>
      </td>
      <td>
        <%= resource_template.institution.full_name %>
      </td>
      <td id="status_<%= resource_template.id %>">
        <%= resource_template.active? ? 'Active' : 'Inactive' %>
      </td>
      <td>
        <%= resource_template.created_at.strftime("%m/%d/%Y %I:%M%p") %>
      </td>
      <td>
        <%= resource_template.updated_at.strftime("%m/%d/%Y %I:%M%p") %>
      </td>
    </tr>
    <tr>
      <td class="show_on_hover" colspan="7">
        <%= (link_to 'Overview', edit_resource_template_path(resource_template))+'|'+(link_to 'Details',resource_template_resources_path(resource_template))+'|'+(link_to activate_link_text(resource_template), toggle_active_resource_template_path(resource_template),remote: true, id: "activate_link_#{resource_template.id}")+'|'+(link_to 'Copy', copy_existing_resource_template_path(resource_template))+'|'+(link_to 'Delete', resource_template_path(resource_template),  method: :delete, data: { confirm: 'Are you sure?' }) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="pagination">
  <%= paginate @resource_templates %>
</div>

<%= button_to 'Create Resource template', resource_template_information_path, :method => :get, class: 'btn' %>

<br>

<%= render 'remove_resource_editor_role' %>

<%= link_to 'Add New Editor', add_role_path, method: :post, id: 'add_role_view' %>

<%= render partial: "/authorizations/add_authorization" , :locals => { :role_type => 2, :role_name => 'Resources Editor'}%>

