<p id="notice"><%= notice %></p>

<p>
  <b> Institution: </b>
  <%= @resource_template.institution_id %>
</p>
<p>
  <b> Requirements template: </b>
  <%= @resource_template.requirements_template_id %>
</p>
<p>
  <b> Name: </b>
  <%= @resource_template.name %>
</p>
<p>
  <b> Active: </b>
  <%= @resource_template.active %>
</p>
<p>
  <b> Mandatory review: </b>
  <%= @resource_template.review_type %>
</p>
<p>
  <b> Widget url: </b>
  <%= @resource_template.widget_url %>
</p>

<%= link_to 'Edit', edit_resource_template_path(@resource_template) %>
\|
<%= link_to 'Back', resource_templates_path %>
