<div class="row-fluid">
	<div class="existing_template span6">
		<h5> Copy an Existing DMP Template </h5>
		<p> Select an existing resource template below and edit the template information and details. </p>
		<%= form_tag copy_existing_resource_template_path, method: 'get' do %>
			<table class="table table-condensed span6">
				<thead>
					<tr>
						<th></th>
						<th> Name </th>
						<th> Status </th>
					</tr>
				</thead>
				<tbody>
				<% @resource_templates.each do |resource_template| %>
					<tr>
						<td><%= radio_button_tag :resource_template, resource_template.id, checked: false %></td>
						<td><%= resource_template.name %></td>
						<td><%= resource_template.active ? "active" : "inactive" %></td>
					</tr>
				<% end %>
				<t/body>
			</table>
			<div class="actions span6">
				<%= submit_tag 'Template Information >>', class: 'btn btn-warning' %>
			</div>
		<% end %>
	</div>
	<div class="new_template span6">
		<h5> Create New DMP Template </h5>
		<p> Input basic and optional information of the new resource template and edit the template details. </p>
		<br/>
		<%= button_to 'Template Information >>', new_resource_template_path, :method => :get, class: 'btn btn-warning' %>
	</div>
</div>
