.form-horizontal
= form_for [@resource_template, @resource], url: new_resource_template_resource_path do |f|
  - if @resource.errors.any?
    #error_explanation
      %h2= "#{pluralize(@resource.errors.count, "error")} prohibited this resource from being saved:"
      %ul
        - @resource.errors.full_messages.each do |msg|
          %li= msg
  .control_group
    = f.hidden_field :resource_template_id
  .control_group
    = f.label :resource_type
    .controls
      = f.select :resource_type, options_for_select([:actionable_url, :expository_guidance, :example_response, :suggested_response]), include_blank: true
  .control_group
    = f.label :value
    .controls
      = f.text_field :value
  .control_group
    = f.label :label
    .controls
      = f.text_field :label
  .control_group
    = f.hidden_field :requirement_id
  .actions
    = f.submit 'Save'
