<div class="form-horizontal">
  <%= form_for [resource.resource_template, resource] do |f| %>

    <% if resource.errors.any? %>
      <div id="error_explanation">
        <h2>= "#{pluralize(resource.errors.count, "error")} prohibited this resource from being saved:"</h2>
        <ul>
          <% resource.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset>
      <div class="control-group">
        <%= f.text_field :resource_template_id %>
        <%= f.text_field :requirement_id %>
      </div>

      <div class="control-group">
        <%= f.label :resource_type, "Resource Type", class: "control-label" %>
        <div class="controls">
          <%= f.select :resource_type, 
          		options_for_select([ :actionable_url, :expository_guidance, :example_response, :suggested_response], resource.resource_type) %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :details, "Details", class: "control-label" %>
        <div class="controls">
          <%= f.text_field :label, placeholder: "URL Label" %>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <%= f.text_field :value, placeholder: "URL" %>
        </div>
      </div>

      <div class="actions pull-right">
        <%= f.submit 'Save Changes', class: "btn" %>
        <%= button_tag 'Cancel', type: :reset, class: "btn" %>
      </div>
    </fieldset>

  <% end %>
</div>