<h2> New Resource For  <%= @current_institution.full_name %> </h2>


  <%= form_for @resource, html: { :class => 'form-horizontal' } do |f| %>

    <%= render partial: "shared/errors", locals: {model: @resource } %>

    <fieldset>
      <div class="control-group">
        <%= f.label :resource_type, "Resource Type", :class => "control-label" %>
        <div class="controls">
          <%= f.select :resource_type,
          		options_for_select([ ['Links', :actionable_url], ['Guidance', :help_text] ], @resource.resource_type) %>
        </div>
      </div>

      <div class="control-group">

        <%= f.label :label_label, "Resource Label", :class => "control-label", id: "label_label" %>

        <div class="controls">
          <%= f.text_field :label, placeholder: "Enter a name for this Resource", :class => "input-xlarge" %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :text, "Text", :class => "control-label", id: "text" %>
        <div class="controls">
          <%= f.text_area :text, size: "20x10",placeholder: "Enter the text", :class => "input-xlarge" %>
        </div>
      </div>


      <div class="control-group">
         <%= f.label :value, "Value", :class => "control-label", id: "value_label" %>
        <div class="controls">
          <%= f.text_field :value, placeholder: "URL", :class => "input-xlarge" %>
        </div>
      </div>

      <div class="actions pull-left">
        <%= link_to '<< Back',
                institutions_path(anchor: 'tab_tab2'),
                :class => "btn" %>
      </div>

      <div class="actions pull-right">
        <%= button_tag 'Cancel', type: :reset, :class => "btn" %>
        <%= f.submit 'Save Changes', :class => "btn" %>
      </div>

      <%= hidden_field_tag :origin_url, smart_origin_url %>
      <%= hidden_field_tag :tab_number, params[:tab_number] %>


    </fieldset>
  <% end %>
