<h2> New Resource for <%= @template_name %> </h2>


  <%= form_for @resource, url: create_customization_resource_path(template_id: @template_id, 
                          current_institution_id: @current_institution_id,
                          customization_overview_id: @customization_overview_id), 
                          html: { :class => 'form-horizontal' } do |f| %>

    <%= render partial: "shared/errors", locals: {model: @resource } %>

    <fieldset>
      <div class="control-group">
        <%= f.label :resource_type, "Resource Type", :class => "control-label" %>
        <div class="controls">
          <%= f.select :resource_type,
          		options_for_select([:actionable_url, :help_text, :example_response, :suggested_response], @resource.resource_type) %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :label_label, "Label", :class => "control-label", id: "label_label" %>
        <div class="controls">
          <%= f.text_field :label, placeholder: "Enter a name for this Resource", :class => "input-xlarge" %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :text, "Text", :class => "control-label", id: "text" %>
        <div class="controls">
          <%= f.text_area :text, size: "20x10",placeholder: "Enter the text", :class => "input-xlarge" %>
        </div>
      </div>
      

      <div class="control-group">
         <%= f.label :value_label, "Value", :class => "control-label", id: "value_label" %>
        <div class="controls">
          <%= f.text_field :value, placeholder: "URL", :class => "input-xlarge" %>
        </div>
      </div>

      <div class="actions pull-right">
        <%= f.submit 'Save Changes', :class => "btn" %>
        <%= button_tag 'Cancel', type: :reset, :class => "btn" %>
      </div>
    </fieldset>
  <% end %>

