<div class="control-group" >
	<%= f.label :funder_links, class: 'control-label' %>
	<div class="controls" >
		<%= f.text_field :label, placeholder: 'Link Label' %>
		<%= f.text_field :url, placeholder: 'Link Url' %>
		<%= f.hidden_field :_destroy %>
		<%= link_to "Remove", '#', class: "remove_fields" %>
	</div>
</div>