<div class="control-group">
	<%= f.label :label, 'Funder links', :class => 'control-label' %>
	<%= f.label :url, 'Link Url', :class => 'hide' %>
	<div class="controls">
		<%= f.text_field :label, placeholder: 'Link Label' %>
		<%= f.text_field :url, placeholder: 'Link Url' %>
		<%= f.hidden_field :_destroy %>
		<%= link_to(content_tag(:span, '', :class => 'icon remove') + 'Remove', '#', :class => 'red remove_fields') %>
	</div>
</div>