<h1 class="row-fluid"><span class="icon overview"></span>DMP Template Overview</h1>
<div class="tabbable">
	<ul class="nav nav-tabs">
		<li class="active"><%= link_to 'Basic Information', '#tab1', :data => {:toggle => 'tab'} %></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="tab1">
			<%= form_for @requirements_template, html: { :class => 'form-horizontal' } do |f| %>
        <%= render partial: "shared/errors", locals: {model: @requirements_template } %>

				<div class="control-group">
					<%= f.label :name, 'Template name', :class => 'control-label required' %>
					<div class="controls">
						<%= f.text_field :name, :class => 'longfield' %>
					</div>
				</div>

				<div class="control-group">
					<label class="control-label required">Visibility</label>
					<div class="controls checkbox-controls">
						<%= f.radio_button :visibility, :public, :class => 'radio inline', :id => 'public'  %>
						<%= label_tag :public, 'public', :class => 'radio-label'%><br/>
						<%= f.radio_button :visibility, :institutional, :class => 'radio inline', :id => 'institutional'  %>
						<%= label_tag :institutional, 'institutional', :class => 'radio-label'%>
					</div>
				</div>

				<%= render partial: 'date_fields' , locals: { f: f } unless @requirements_template.new_record? %>


				<% if user_role_in?(:dmp_admin) %>
					<div class="control-group" >
						<%= f.label :institution_id, :class => "control-label" %>
						<div class="controls" >
							<%= collection_select(:requirements_template, :institution_id, Institution.all, :id, :full_name, { selected:  current_user.institution.root_id}, :class => 'longfield') %>
						</div>
					</div>

				<% elsif user_role_in?(:institutional_admin)%>

					<div class="control-group" >
						<%= f.label :institution_id, :class => "control-label" %>
						<div class="controls" >
							<%= f.select(:institution_id,
											current_user.institution.subtree.map {|r| [r.full_name,r.id] },
											{ selected:  current_user.institution.root_id}, :class => 'longfield') %>
						</div>
					</div>
				<% else %>
					<div class="control-group" >
						<%= f.label :institution_id, :class => 'control-label' %>
						<div class="controls" >
							<%= f.hidden_field :institution_id, value: current_user.institution.id %>
							<%= text_field_tag :institution_name, current_user.institution.full_name, disabled: true, :class => 'longfield' %>
						</div>
					</div>
				<% end %>

				<p><strong>Optional Information</strong></p>
				<hr/>
				<div class="control-group">
					<%= label_tag :start_date, "Start Date", :class => "control-label" %>
					<div class="controls">
						<%= f.text_field :start_date, value: @requirements_template.start_date.blank? ? " " : @requirements_template.start_date.strftime('%m/%d/%Y'), id: 'start_date', :class => 'datepicker shortfield' %>
					</div>
				</div>

				<div class="control-group">
					<%= label_tag :end_date, "End Date", :class => 'control-label' %>
					<div class="controls">
						<%= f.text_field :end_date, value: @requirements_template.end_date.blank? ? " " : @requirements_template.end_date.strftime('%m/%d/%Y'), id: 'end_date', :class => 'datepicker shortfield' %>
					</div>
				</div>

				<div class="control-group">
					<p class="control-label">Review requirement</p>
					<div class="controls checkbox-controls">
						<%= f.radio_button :review_type, :formal_review, :class => 'radio inline', :id => 'formal_review' %>
						<%= label_tag :formal_review, 'Review Required', :class => 'radio-label' %><br/>
						<%= f.radio_button :review_type, :informal_review, :class => 'radio inline', :id => 'informal_review' %>
						<%= label_tag :informal_review, 'Informal Review Allowed', :class => 'radio-label' %><br/>
						<% unless @requirements_template.new_record? %>
							<%= f.radio_button :review_type, :no_review, :class => 'radio inline', :id => 'no_review' %>
						<% else %>
							<%= f.radio_button :review_type, :no_review, :class => 'radio inline', :id => 'no_review', checked: true %>
						<% end %>
						<%= label_tag :no_review, 'No Review Needed', :class => 'radio-label' %>
					</div>
				</div>

				<div class="control-group">
					<%= f.fields_for :additional_informations do |builder| %>
						<%= render 'additional_information_fields', f: builder %>
					<% end %>
					<%= link_to_add_fields 'Add Funder Link', f, :additional_informations %>
				</div>

				<div class="control-group">
					<%= f.fields_for :sample_plans do |builder| %>
						<%= render 'sample_plan_fields', f: builder %>
					<% end %>
					<%= link_to_add_fields 'Add Sample Plan', f , :sample_plans %>
				</div>
				<br/>

				<div class="buttons">
					<%= f.submit 'Save Changes', name: 'save_changes', :class => 'btn btn-green' %>
					<%= button_tag 'Cancel', type: :reset, :class => 'btn'%>
					<% unless @requirements_template.new_record? %>
					  <%= f.submit "Template Details >>", name: 'save_and_template_details', :class => 'btn btn-success pull-right' %>
					<% else %>
						<%= button_tag 'Template Details >>', disabled: true,  :class => 'btn pull-right' %>
	         <% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>
