<h3 class="dashboard-heading"><span class="icon template-editor"></span>DMP Template Editors</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th> Name </th>
      <th> Username </th>
      <th> Email </th>
      <th> Remove Role </th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.full_name %></td>
      <td><%= user.login_id %></td>
      <td><%= user.email %></td>
      <td><%= link_to raw('<i class="icon-minus-sign icon-white"></i>'), remove_requirements_editor_role_path(user_id: user.id), class: "img-polaroid btn-danger" %></td>
    </tr>
  <% end %>
  	<tr>
  		<td colspan="7" class="full"><%= link_to 'Add New Editor', add_requirements_editor_role_path, method: :post, :id => 'add_requirements_editor_role_view', :class => "btn btn-green" %></td>
  	</tr>
  </tbody>
</table>

<div class="pagination">
  <%= paginate @users %>
</div>