<% @title_text = "DMP Templates" %>
<h1 class="row-fluid"><span class="icon dmp-template"></span>DMP Templates</h1>

<div class="table-scope">
	<%= link_to "All (#{@all})", {scope: "all_limited", order_scope: @order_scope, all_scope: @all_scope}, :class => "all_limited" %>
	|
	<%= link_to "Active  (#{@active})", {scope: "active", order_scope: @order_scope, all_scope: @all_scope}, :class => "active" %>
	|
	<%= link_to "Inactive (#{@inactive})", {scope: "inactive", order_scope: @order_scope, all_scope: @all_scope}, :class => "inactive" %>
	|
	<%= link_to "Institution only (#{@institutional})", {scope: "institutional", order_scope: @order_scope, all_scope: @all_scope}, :class => "institutional" %>
	|
	<%= link_to "Public (#{@public})", {scope: "public", order_scope: @order_scope, all_scope: @all_scope}, :class => "public" %>
</div>
<table class="table table-striped" id="dmp_templates">
	<thead>
		<tr>
      <th class="span4">
      	<%= link_to "Template Name", {order_scope: "Name", scope: @scope, all_scope: @all_scope}%>
      </th>
      <th class="span3">
      	<%= link_to "Institution", {order_scope: "Institution", scope: @scope, all_scope: @all_scope}%>
      </th>
      <th>
      	<%= link_to "Status", {order_scope: "Status", scope: @scope, all_scope: @all_scope}%>
      </th>
      <th>
      	<%= link_to "Visibility", {order_scope: "Visibility", scope: @scope, all_scope: @all_scope}%>
      </th>
      <th>
      	<%= link_to "Creation Date", 
      				{order_scope: "Creation_Date", scope: @scope, all_scope: @all_scope}%>
      </th>
      <th>
      	<%= link_to "Last Modification Date", 
      				{order_scope: "Last_Modification_Date", scope: @scope, all_scope: @all_scope}%>
      </th>
    </tr>
	</thead>
	<tbody>
	<% @requirements_templates.each do |requirements_template| %>
		<tr>
			<td class="requirements_template_name">
				<div class="toggle-links">
					
					<%=content_tag(:strong, requirements_template.name)%>

					<% if user_role_in?(:dmp_admin) %>
						<div class="template-links">
							<%= (link_to "Overview", edit_requirements_template_path(requirements_template))+" | "+
									(link_to "Details",requirements_template_requirements_path(requirements_template), :class => "details")+" | "+
									(link_to activate_link_text(requirements_template), 
										toggle_active_requirements_template_path(requirements_template),remote: true, id: "activate_link_#{requirements_template.id}", 
										:class => "ajax")+" | "+
									(link_to "Customize", new_resource_context_path(requirements_template_id: requirements_template, institution_id: requirements_template.institution_id))%>
						</div>
					
					<% elsif user_role_in?(:institutional_admin) && (current_user.institution.subtree_ids.include?(requirements_template.institution_id))%>
						<div class="template-links">
							<%= (link_to "Overview", edit_requirements_template_path(requirements_template))+" | "+
									(link_to "Details",requirements_template_requirements_path(requirements_template), :class => "details")+" | "+
									(link_to activate_link_text(requirements_template), 
										toggle_active_requirements_template_path(requirements_template),remote: true, id: "activate_link_#{requirements_template.id}", 
										:class => "ajax")+" | "+
									(link_to "Customize", new_resource_context_path(requirements_template_id: requirements_template, institution_id: requirements_template.institution_id))%>
						</div>

					<% elsif user_role_in?(:institutional_admin) && (!current_user.institution.subtree_ids.include?(requirements_template.institution_id))%>
						<div class="template-links">
							<%= (link_to "Customize", new_resource_context_path(requirements_template_id: requirements_template, institution_id: requirements_template.institution_id))%>
						</div>

					<%elsif user_role_in?(:template_editor) && user_role_in?(:resource_editor) && (current_user.institution.subtree_ids.include?(requirements_template.institution_id))%>
						<div class="template-links">
							<%= (link_to "Overview", edit_requirements_template_path(requirements_template))+" | "+
									(link_to "Details",requirements_template_requirements_path(requirements_template), :class => "details")+" | "+
									(link_to activate_link_text(requirements_template), 
										toggle_active_requirements_template_path(requirements_template),remote: true, id: "activate_link_#{requirements_template.id}", 
										:class => "ajax")+" | "+
									(link_to "Customize", new_resource_context_path(requirements_template_id: requirements_template, institution_id: requirements_template.institution_id))%>
						</div>

					<%elsif user_role_in?(:template_editor) && user_role_in?(:resource_editor) && (!current_user.institution.subtree_ids.include?(requirements_template.institution_id))%>
						<div class="template-links">
							<%= (link_to "Customize", new_resource_context_path(requirements_template_id: requirements_template, institution_id: requirements_template.institution_id))%>
						</div>

					<%elsif user_role_in?(:template_editor) && !user_role_in?(:resource_editor) && (!current_user.institution.subtree_ids.include?(requirements_template.institution_id))%>
					<div class="template-links">
						<br>
					</div>

					<%elsif user_role_in?(:template_editor) && !user_role_in?(:resource_editor) && (current_user.institution.subtree_ids.include?(requirements_template.institution_id))%>
					<div class="template-links">
						<div class="template-links">
							<%= (link_to "Overview", edit_requirements_template_path(requirements_template))+" | "+
									(link_to "Details",requirements_template_requirements_path(requirements_template), :class => "details")+" | "+
									(link_to activate_link_text(requirements_template), 
										toggle_active_requirements_template_path(requirements_template),remote: true, id: "activate_link_#{requirements_template.id}", 
										:class => "ajax")%>
					</div>
				
					<%elsif (user_role_in?(:resource_editor))%>
						<div class="template-links">
							<%= (link_to "Customize", new_resource_context_path(requirements_template_id: requirements_template, institution_id: requirements_template.institution_id))%>
						</div>
						
					<%else%>
						<div class="template-links">
							<br>
						</div>
					<%end%>

				</div>
			</td>
			<td><%= requirements_template.institution.nil? ? " " :  requirements_template.institution.full_name %></td>
			<td id="status_#{requirements_template.id}"><%= requirements_template.active ? "Active" : "Inactive" %></td>
			<td><%= requirements_template.visibility.capitalize %></td>
			<td><%= requirements_template.created_at.nil? ? " " :  requirements_template.created_at.strftime("%m/%d/%Y %I:%M%p") %></td>
			<td><%= requirements_template.updated_at.nil? ? " " :  requirements_template.updated_at.strftime("%m/%d/%Y %I:%M%p") %></td>
		</tr>
	<% end %>
	<tbody>
</table>


<% if @all_scope == "all" %>
	<div class="buttons pagination">
		<%= link_to "View Less", requirements_templates_path(:all_scope => "", order_scope: @order_scope, scope: @scope), :method => :get, :class => "btn", role: "button" %>
		<%= paginate @requirements_templates %>
	</div>
<% else %>
	<div class="buttons pagination">
		<%= link_to "View All", requirements_templates_path(:all_scope => "all", order_scope: @order_scope, scope: @scope), :method => :get, :class => "btn", role: "button", :id => "view_all_templates" %>
		<%= paginate @requirements_templates %>
	</div>
<%end%>

<%= button_to "Create New Template >>", new_requirements_template_path, :method => :get, :class => "btn"  %>








