<h5> DMP Templates </h5>
<br/>

<%= link_to "All", scope: "all" %>
|
<%= link_to "Active", scope: "active" %>
|
<%= link_to "Inactive", scope: "inactive" %>
|
<%= link_to "Institutional-Only", scope: "institutional" %>
|
<%= link_to "Public", scope: "public" %>

<br/>
<table class="table table-striped table-condensed">
	<thead>
		<tr>
			<th> Name </th>
			<th> Version </th>
			<th> Institution </th>
			<th> Status </th>
			<th> Visibility </th>
			<th> Creation Date </th>
			<th> Last Modification Date </th>
		</tr>
		<tr>
			<th></th>
		</tr>
	</thead>
	<tbody>
	<% @requirements_templates.each do |requirements_template| %>
		<tr>
			<td class='requirements_template_name'><%=link_to requirements_template.name, requirements_template_requirements_path(requirements_template) %> </td>
			<td><%= requirements_template.version %></td>
			<td><%= requirements_template.institution.full_name %></td>
			<td id="status_#{requirements_template.id}"><%= requirements_template.active ? "Active" : "Inactive" %></td>
			<td><%= requirements_template.visibility.capitalize %></td>
			<td><%= requirements_template.created_at.strftime("%m/%d/%Y %I:%M%p") %></td>
			<td><%= requirements_template.updated_at.strftime("%m/%d/%Y %I:%M%p") %></td>
		</tr>

		<tr>
			<td class='show_on_hover', colspan: "7"><%= (link_to 'Overview', edit_requirements_template_path(requirements_template))+'|'+(link_to 'Details',requirements_template_requirements_path(requirements_template))+'|'+(link_to activate_link_text(requirements_template), toggle_active_requirements_template_path(requirements_template),remote: true, id: "activate_link_#{requirements_template.id}", class: 'ajax')+'|'+(link_to 'Copy', copy_existing_requirements_template_path(requirements_template))+'|'+(link_to 'Delete', requirements_template_path(requirements_template), method: :delete, data: { confirm: 'Are you sure?' }) %></td>
		</tr>
	</tbody>
	<% end %>
	<div class="pagination">
	<%= paginate @requirements_templates %>
	</div>
</table>
<%= button_to 'Create New template', requirements_template_information_path, :method => :get, class: 'btn btn-primary' %>

<%= link_to 'Add New Editor', add_role_path, method: :post, id: 'add_role_view' %>
<%= render partial: 'resource_templates/add_role' %>