<div class="table-header">
	<h3><span id="dmp-templates"></span>DMP Templates</h3>
</div>
<div class="table-scope">
<%= link_to "All", "#", scope: "all", :class => "current" %>
|
<%= link_to "Active", scope: "active" %>
|
<%= link_to "Inactive", scope: "inactive" %>
|
<%= link_to "Institutional-Only", scope: "institutional" %>
|
<%= link_to "Public", scope: "public" %>
</div>

<table class="table table-striped table-condensed">
	<thead>
		<tr>
			<th> Name </th>
			<th class="cell-narrow"> Version </th>
			<th> Institution </th>
			<th> Status </th>
			<th> Visibility </th>
			<th> Creation Date </th>
			<th> Last Modification Date </th>
		</tr>
	</thead>
	<tbody>
	<% @requirements_templates.each do |requirements_template| %>
		<tr>
			<td class="requirements_template_name"><%=link_to(content_tag(:strong, "Requirements Template Test"), requirements_template_requirements_path(requirements_template)) %><br/>
				<%= (link_to "Overview", edit_requirements_template_path(requirements_template))+" | "+(link_to "Details",requirements_template_requirements_path(requirements_template))+" | "+(link_to activate_link_text(requirements_template), toggle_active_requirements_template_path(requirements_template),remote: true, id: "activate_link_#{requirements_template.id}", class: "ajax")+" | "+(link_to "Copy", copy_existing_requirements_template_path(requirements_template))+" | "+(link_to "Delete", requirements_template_path(requirements_template), :class => "delete", method: :delete, data: { confirm: "Are you sure?" }) %>
			</td>
			<td class="cell-narrow"><%= requirements_template.version %></td>
			<td><%= requirements_template.institution.full_name %></td>
			<td id="status_#{requirements_template.id}"><%= requirements_template.active ? "Active" : "Inactive" %></td>
			<td><%= requirements_template.visibility.capitalize %></td>
			<td><%= requirements_template.created_at.strftime("%m/%d/%Y %I:%M%p") %></td>
			<td><%= requirements_template.updated_at.strftime("%m/%d/%Y %I:%M%p") %></td>
		</tr>
	<% end %>
		<tr>
			<td colspan="7" class="table-buttons"><%= link_to "View All", "#", :class => "btn btn-silver" %>
				<%= link_to "Create New", requirements_template_information_path, :method => :get, :class => "btn btn-silver" %>
			</td>
		</tr>
	</tbody>
</table>

<div class="table-header">
	<h3><span id="dmp-editors"></span>DMP Templates</h3>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Username</th>
			<th>Email</th>
			<th>Remove</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong>First Last</strong></td>
			<td>Username</td>
			<td><%= link_to "username@example.com", "#" %></td>
			<td class="cell-narrow"><%= link_to "", "#", :class => "remove" %></td>
		</tr>
		<tr>
			<td><strong>First Last</strong></td>
			<td>Username</td>
			<td><%= link_to "username@example.com", "#" %></td>
			<td class="cell-narrow"><%= link_to "", "#", :class => "remove" %></td>
		</tr>
		<tr>
			<td><strong>First Last</strong></td>
			<td>Username</td>
			<td><%= link_to "username@example.com", "#" %></td>
			<td class="cell-narrow"><%= link_to "", "#", :class => "remove" %></td>
		</tr>
		<tr>
			<td><strong>First Last</strong></td>
			<td>Username</td>
			<td><%= link_to "username@example.com", "#" %></td>
			<td class="cell-narrow"><%= link_to "", "#", :class => "remove" %></td>
		</tr>
		<tr>
			<td><strong>First Last</strong></td>
			<td>Username</td>
			<td><%= link_to "username@example.com", "#" %></td>
			<td class="cell-narrow"><%= link_to "", "#", :class => "remove" %></td>
		</tr>
		<tr>
			<td colspan="7" class="table-buttons"><%= link_to "View All", "#", :class => "btn btn-silver" %>
				<%= link_to "Create New", requirements_template_information_path, :method => :get, :class => "btn btn-silver" %>
			</td>
		</tr>
	</tbody>
</table>
<!--<div class="pagination">
	<%= paginate @requirements_templates %>
</div>-->
<!--<%= button_to "Create New template", requirements_template_information_path, :method => :get, class: "btn btn-primary" %>
<%= link_to "Add New Editor", add_role_path, method: :post, id: "add_role_view" %>-->
<%= render partial: "resource_templates/add_role" %>