<p id=notice><%= notice %></p>

<p>
  <b> Institution: </b>
  <%= @requirements_template.institution_id %>
</p>
<p>
  <b> Name: </b>
  <%= @requirements_template.name %>
</p>
<p>
  <b> Active: </b>
  <%= @requirements_template.active %>
</p>
<p>
  <b> Start date: </b>
  <%= @requirements_template.start_date %>
</p>
<p>
  <b> End date: </b>
  <%= @requirements_template.end_date %>
</p>
<p>
  <b> Visibility: </b>
  <%= @requirements_template.visibility %>
</p>
<p>
  <b> Version: </b>
  <%= @requirements_template.version %>
</p>
<p>
  <b> Parent: </p>
  <%= @requirements_template.parent_id %>
</p>
<p>
  <b> Review Type: </p>
  <%= @requirements_template.review_type %>
</p>

<%= link_to 'Edit', edit_requirements_template_path(@requirements_template) %>
|
<%= link_to 'Back', requirements_templates_path %>
