<div class="row-fluid">
	<h3 class="dashboard-heading"><span class="icon create-new"></span>Create New DMP</h3>
		<div class="span6">
			<h4>Copy an Existing DMP Template</h4>
			<p>Select an existing requirements template below and edit the template information and details.</p>
	
			<%= form_tag copy_existing_requirements_template_path, method: :get do %>
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="narrow"></th>
							<th> Name </th>
							<th> Status </th>
						</tr>
					</thead>
					<tbody>
					<% @requirements_templates.each do |requirements_template| %>
						<tr>
							<td class="narrow"><%= radio_button_tag :requirements_template, requirements_template.id, checked: false %></td>
							<td><%= requirements_template.name %></td>
							<td><%= requirements_template.active ? "active" : "inactive" %></td>
						</tr>
					<% end %>
						<tr>
							<td colspan="7" class="full">
								<%= submit_tag "Template Information", :class => "btn" %>
							</td>
						</tr>
					</tbody>
				</table>
			<% end %>
		</div>
	
		<div class="span6">
			<h4>Create New DMP Template</h4>
			<p>Input basic and optional information of the new requirements template and edit the template details.</p>
			<%= button_to "Template Information", new_requirements_template_path, :method => :get, :class => "btn" %>
		</div>
	</div>
</div>
