.row-fluid
	%div.existing_template.span6
		%h5 Copy an Existing DMP Template
		%p Select an existing requirements template below and edit the template information and details.
		= form_tag copy_existing_template_path, method: 'get' do
			%table.table.table-condensed.span6
				%thead
					%tr
						%th
						%th Name
						%th Status
				%tbody
				- @requirements_templates.each do |requirements_template|
					%tr
						%td= radio_button_tag :requirements_template, requirements_template.id, checked: false
						%td= requirements_template.name
						%td= requirements_template.active ? "active" : "inactive"
			.actions.span6
				= submit_tag 'Template Information', class: 'btn btn-primary'

	%div.new_template.span6
		%h5 Create New DMP Template
		%p Input basic and optional information of the new requirements template and edit the template details.
		%br
		=button_to 'Template Information', new_requirements_template_path, :method => :get, class: 'btn btn-primary'