<div class="row-fluid">
	<div class="existing_template span6" >
		<h5> Copy an Existing DMP Template </h5>
		<p> Select an existing requirements template below and edit the template information and details. </p>

		<%= form_tag copy_existing_requirements_template_path, method: 'get' do %>
			<table class"table table-condensed span6"
				<thead>
					<tr>
						<th></th>
						<th> Name </th>
						<th> Status </th>
					</tr>
				</thead>
				<tbody>
				<% @requirements_templates.each do |requirements_template| %>
					<tr>
						<td><%= radio_button_tag :requirements_template, requirements_template.id, checked: false %></td>
						<td><%= requirements_template.name %></td>
						<td><%= requirements_template.active ? "active" : "inactive" %></td>
					</tr>
				<% end %>
				</tbody>
			</table>
			<br/>
		<%= submit_tag 'Template Information', class: 'btn btn-primary' %>
		<% end %>
	</div>

	<div class="new_template span6"
		<h5> Create New DMP Template </h5>
		<p> Input basic and optional information of the new requirements template and edit the template details. </p>
		<br/>
		<%= button_to 'Template Information', new_requirements_template_path, :method => :get, class: 'btn btn-primary' %>
	</div>
</div>