<div class= 'global_resources'>
	<% unless @requirement.global_resources.actionable_url.empty? %>
    <h3> General Resources</h3>
  <ul>
    <%# global resources for this requirement, Stephen's case #1 %>
    <% (@requirement.global_resources.actionable_url).each do |resource| %>
      <li><%= link_to resource.label, fix_url(resource.value), target: '_blank' %></li>
    <% end %>
  </ul>
  <% end %>
</div>

<div class= 'template_resources'>
	<% unless @requirement.template_resources.actionable_url.empty? %>
  <h3> General Resources</h3>
  <ul>
    <%# template resources for this requirement, Stephen's case #2 %>
    <% (@requirement.template_resources.actionable_url).each do |resource| %>
      <li><%= link_to resource.label, fix_url(resource.value), target: '_blank' %></li>
    <% end %>
  </ul>
  <% end %>
</div>

<div class= 'requirement_resources'>
	<% unless @requirement.requirement_resources.actionable_url.empty? %>
  <h3> General Resources</h3>
  <ul>
    <%# requirement resources for this requirement, Stephen's case #3 %>
    <% (@requirement.requirement_resources.actionable_url).each do |resource| %>
      <li><%= link_to resource.label, fix_url(resource.value), target: '_blank' %></li>
    <% end %>
  </ul>
  <% end %>
</div>

<div class= 'institution_customization_resources'>
	<% unless @requirement.institution_customization_resources(current_user.institution_id).actionable_url.empty? %>
  <h3> <%= current_user.institution.name %> Resources </h3>
  <ul>
    <%# institution customization resources for this requirement, Stephen's case #4 %>
    <% (@requirement.institution_customization_resources(current_user.institution_id).actionable_url).each do |resource| %>
      <li><%= link_to resource.label, fix_url(resource.value), target: '_blank' %></li>
    <% end %>
  </ul>
 	<% end %>
</div>

<div class= 'template_customization_resources'>
	<% unless @requirement.template_customization_resources(current_user.institution_id).actionable_url.empty? %>
  <h3> <%= @requirements_template.name %> for <%= current_user.institution.name %> Resources"</h3>
  <ul>
    <%# template customization resources for this requirement, Stephen's case #5 %>
    <% (@requirement.template_customization_resources(current_user.institution_id).actionable_url).each do |resource| %>
      <li><%= link_to resource.label, fix_url(resource.value), target: '_blank' %></li>
    <% end %>
  </ul>
  <% end %>
</div>

<div class= 'requirement_customization_resources'>
  <%# requirement customization resources for this requirement, Stephen's case #7 %>
	<ul>
		<% @url_resources.each do |resource| %>
			<li><%= link_to resource.label, fix_url(resource.value), target: '_blank' %></li>
		<% end %>
	</ul>
</div>