<%= link_to "Submit", 
						plan_plan_states_committed_path(@plan), 
						method: :post, id: "done-target", 
						class: "hidden btn btn-green pull-right" %>
							
<% if @customization_review == "formal" %>
  <% if state(@plan) == :submitted || state(@plan) == :rejected %>
  	<%= link_to "Submit for Review", plan_plan_states_submitted_path(@plan), disabled: true, :class => "btn btn-green pull-right" %>
  <% elsif state(@plan) == :new || state(@plan) == :revised %>
  	<%= link_to "Submit for Review", plan_plan_states_submitted_path(@plan), method: :post, :class => "btn btn-green pull-right" %>
  <% elsif state(@plan) == :committed%>
		<%= link_to "Done", "#", disbaled: true,
								class: "btn btn-green pull-right confirm_visibility_link", 
								'data-planid': @plan.id, 'data-visibility': @plan.visibility %>
  <% elsif state(@plan) == :approved %>
		<%= link_to "Done", "#", method: :post,
								class: "btn btn-green pull-right confirm_visibility_link", 
								'data-planid': @plan.id, 'data-visibility': @plan.visibility %>
  <% end %>

<% elsif @customization_review == "informal" %>
  <% if state(@plan) == :submitted %>
    <%= link_to "Request Feedback", plan_plan_states_submitted_path(@plan), disabled: true, :class => "btn btn-green pull-right" %>
  <% elsif state(@plan) == :new || state(@plan) == :revised %>
    <%= link_to "Request Feedback", plan_plan_states_submitted_path(@plan), method: :post, :class => "btn btn-green pull-right" %>
		<%= content_tag(:span, '', :title => '<p>Request feedback on your Plan from an administrator at your institution.</p>', 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'data-html' => 'true', :class => 'icon questionmark tip pull-right') %>
		<%= link_to "Done", "#", method: :post,
								class: "btn btn-green pull-right confirm_visibility_link", 
								'data-planid': @plan.id, 'data-visibility': @plan.visibility %>
		<%= content_tag(:span, '', :title => '<p>Complete your Plan.</p>', 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'data-html' => 'true', :class => 'icon questionmark tip pull-right') %>
  <% elsif state(@plan) == :committed %>
		<%= link_to "Done", "#", disabled: true,
								class: "btn btn-green pull-right confirm_visibility_link", 
								'data-planid': @plan.id, 'data-visibility': @plan.visibility %>
  <% elsif state(@plan) == :reviewed %>
		<%= link_to "Done", "#", method: :post,
								class: "btn btn-green pull-right confirm_visibility_link", 
								'data-planid': @plan.id, 'data-visibility': @plan.visibility %>
  <% end %>

<% elsif @customization_review == "no" %>
  <% if state(@plan) == :committed %>
		<%= link_to "Done", "#", disabled: true,
								class: "btn btn-green pull-right confirm_visibility_link", 
								'data-planid': @plan.id, 'data-visibility': @plan.visibility %>
  <% else %>
		<%= link_to "Done", "#", method: :post,
								class: "btn btn-green pull-right confirm_visibility_link", 
								'data-planid': @plan.id, 'data-visibility': @plan.visibility %>
  <% end %>

<% elsif (@customization_review == nil && @template_review == "formal") %>
  <% if state(@plan) == :submitted || state(@plan) == :rejected %>
    <%= link_to "Request Feedback", plan_plan_states_submitted_path(@plan), disabled: true, :class => "btn btn-green pull-right" %>
  <% elsif state(@plan) == :new || state(@plan) == :revised %>
    <%= link_to "Request Feedback", plan_plan_states_submitted_path(@plan), method: :post, :class => "btn btn-green pull-right" %>
  <% elsif state(@plan) == :committed%>
		<%= link_to "Done", "#", disabled: true,
								class: "btn btn-green pull-right confirm_visibility_link", 
								'data-planid': @plan.id, 'data-visibility': @plan.visibility %>
  <% elsif state(@plan) == :approved %>
		<%= link_to "Done", "#", method: :post,
								class: "btn btn-green pull-right confirm_visibility_link", 
								'data-planid': @plan.id, 'data-visibility': @plan.visibility %>
  <% end %>

<% elsif (@customization_review == nil && @template_review == "informal") %>
  <% if state(@plan) == :submitted %>
    <%= link_to "Request Feedback", plan_plan_states_submitted_path(@plan), disabled: true, :class => "btn btn-green pull-right" %>
  <% elsif state(@plan) == :new || state(@plan) == :revised %>
    <%= link_to "Request Feedback", plan_plan_states_submitted_path(@plan), method: :post, :class => "btn btn-green pull-right" %>
		<%= content_tag(:span, '', :title => '<p>Request feedback on your Plan from an administrator at your institution.</p>', 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'data-html' => 'true', :class => 'icon questionmark tip pull-right') %>
		<%= link_to "Done", "#", method: :post,
								class: "btn btn-green pull-right confirm_visibility_link", 
								'data-planid': @plan.id, 'data-visibility': @plan.visibility %>
		<%= content_tag(:span, '', :title => '<p>Complete your Plan.</p>', 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'data-html' => 'true', :class => 'icon questionmark tip pull-right') %>
  <% elsif state(@plan) == :committed %>
		<%= link_to "Done", "#", disabled: true,
								class: "btn btn-green pull-right confirm_visibility_link", 
								'data-planid': @plan.id, 'data-visibility': @plan.visibility %>
  <% elsif state(@plan) == :reviewed %>
		<%= link_to "Done", "#", method: :post,
								class: "btn btn-green pull-right confirm_visibility_link", 
								'data-planid': @plan.id, 'data-visibility': @plan.visibility %>
  <% end %>

<% elsif (@customization_review == nil && @template_review == "no") %>
  <% if state(@plan) == :committed %>
		<%= link_to "Done", "#", disabled: true,
								class: "btn btn-green pull-right confirm_visibility_link", 
								'data-planid': @plan.id, 'data-visibility': @plan.visibility %>
  <% else %>
		<%= link_to "Done", "#", method: :post,
								class: "btn btn-green pull-right confirm_visibility_link", 
								'data-planid': @plan.id, 'data-visibility': @plan.visibility %>
  <% end %>

<% elsif (@customization_review == nil && @template_review == nil) %>
  <h3 class="red pull-right"><strong>Review Process is not defined for the associated DMP Template</strong></h3>

<% end %>
