<%#= form_tag(change_visibility_path, id: "visibility_form", method: :post, html: { :class => "form-horizontal"}) do %>
<%= form_tag(change_visibility_path, id: "visibility_form", method: :post) do %>

  <%= hidden_field_tag(:plan_id, plan_id, id: 'shared_plan_id') %>
  <%#= hidden_field_tag(:visibility, visibility, id: 'shared_visibility') %>
  <div class="control-group">
    <div class="controls checkbox-controls">
      <%= radio_button_tag :visibility, :public%>
      <%= label_tag :visibility_public, 
										'Publicly on the web. Your DMP will appear on the Public DMPs page of this site.', 
										class: 'radio-label',
										title: 'Share publicly: anyone can view, copy and or download the plan.' %><br/>

      <%= radio_button_tag :visibility, :institutional  %>
      <%= label_tag :visibility_institutional, 
										"With others from #{current_user.institution.full_name}", 
										class: 'radio-label',
										title: 'Shared with institution: anyone logged in from your institution can view, copy and or download the plan.' %><br/>

      <%= radio_button_tag :visibility, :private %>
      <%= label_tag :visibility_private, 
										'Private (owners, co-owners, and admins only) See <a href="/terms_of_use" style="text-decoration: underline;">Terms of Use</a>.'.html_safe, 
										class: 'radio-label', 
										title: 'Private: only owners and co-owners can view the plan. Administrators at your institution can view all plans for program development purposes.' %><br/>

      <%if current_user.institution.has_children? || current_user.institution.parent %>
        <%= radio_button_tag :visibility, :unit %>
        <%= label_tag :visibility_unit, 
											"Within your institution/sub-institution unit only.", 
                      class: 'radio-label',
											title: '' %><br />
      <%end%>

      <%= radio_button_tag :visibility, :test  %>
      <%= label_tag :visibility_test, 
										"Test or practice plan", 
										class: 'radio-label',
										title: 'Test: select if you are exploring the tool and/or creating a practice plan that you will not submit with a proposal.' %>
    </div>
  </div>
  <br/>

<% end %>