<%= form_tag(change_visibility_path, method: :post, html: { :class => "form-horizontal"}) do %>
  <%= hidden_field_tag(:plan_id, plan_id, id: 'shared_plan_id') %>
  <div class="control-group">
    <div class="controls checkbox-controls">
      <%= radio_button_tag :visibility, :institutional %>
      <%= label_tag :visibility_institutional, "With others from #{current_user.institution.full_name}", :class => 'radio-label' %><br/>
      <%= radio_button_tag :visibility, :public %>
      <%= label_tag :visibility_public, 'Publicly on the web', :class => 'radio-label' %><br/>
      <%= radio_button_tag :visibility, :private %>
      <%= label_tag :visibility_private, '...Or keep it Private', :class => 'radio-label'%>
    </div>
  </div>
  <br/>
  <div>
  <%= submit_tag "Share", :class => 'btn btn-success', method: 'post' %>
  </div>
<% end %>
