= form_for @plan do |f|
  - if @plan.errors.any?
    #error_explanation
      %h2= "#{pluralize(@plan.errors.count, "error")} prohibited this plan from being saved:"
      %ul
        - @plan.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :requirements_templates_id
    = f.number_field :requirements_templates_id
  .field
    = f.label :solicitation_identifier
    = f.text_field :solicitation_identifier
  .field
    = f.label :submission_deadline
    = f.datetime_select :submission_deadline
  .field
    = f.label :visibility
    = f.text_field :visibility
  .actions
    = f.submit 'Save'
