<h1 class="row-fluid"><span class="icon overview"></span>DMP Overview</h1>
<div class="tabbable">
  <ul class="nav-tabs">
    <li class="active"><a href="#" data-toggle="tab">DMP Overview</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <%= form_for @plan, html: { :class => 'form-horizontal' }  do |f| %>
        <%= render partial: "shared/errors", locals: {model: @plan } %>

        <div class="control-group">
          <%= f.label :requirements_template_name, 'DMP Template', :class => 'control-label' %>
          <div class="controls">
            <% if @plan.new_record? && current_page?(controller: 'plans', action: 'new') %>
              <%= f.hidden_field :requirements_template_id, value: params[:requirements_template_id], id: 'dmp_template_id' %>
              <%= text_field_tag(:selected_requirement_template, requirements_template(params[:requirements_template_id]), id: 'selected_requirement_template_name', :class => 'input-xxlarge', disabled: true) %>
            <% elsif @plan.new_record? && current_page?(controller: 'plans', action: 'copy_existing_template') %>
              <%= f.hidden_field :requirements_template_id, value: @plan.requirements_template_id, id: 'dmp_template_id' %>
              <%= text_field_tag(:selected_requirement_template, requirements_template(@plan.requirements_template_id), id: 'selected_requirement_template_name', :class => 'input-xxlarge', disabled: true) %>
            <% else %>
              <%= f.hidden_field :requirements_template_id, value: @plan.requirements_template_id, id: 'dmp_template_id' %>
              <%= text_field_tag(:selected_requirement_template, requirements_template(@plan.requirements_template_id), id: 'selected_requirement_template_name', :class => 'input-xxlarge', disabled: true) %>
            <% end %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :name , 'DMP Plan', :class => 'control-label' %>
          <div class="controls">
            <%= f.text_area :name , :class => 'input-block-level', id: "some-textarea", :class => 'wysihtml5' %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :solicitation_identifier , 'Solicitation Identifier ', :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :solicitation_identifier  , :class => 'input-xxlarge'%>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :submission_deadline, 'Submission Deadline',:class => "control-label" %>
          <div class="controls">
            <%= f.text_field :submission_deadline, value: @plan.submission_deadline.blank? ? " " : @plan.submission_deadline.strftime('%m/%d/%Y'), id: 'submission_deadline', :class => 'datepicker' %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :visibility, :class => 'control-label' %>
          <div class="controls checkbox-controls">
            <%= f.radio_button :visibility, :public, :class => 'radio inline', :id => 'public'  %>
            <%= label_tag :public, 'public', :class => 'radio-label'%><br/>
            <%= f.radio_button :visibility, :institutional, :class => 'radio inline', :id => 'institutional'  %>
            <%= label_tag :institutional, 'institutional', :class => 'radio-label'%><br/>
            <%= f.radio_button :visibility, :private, :class => 'radio inline', :id => 'private', checked: true  %>
            <%= label_tag :private, 'private', :class => 'radio-label'%>
          </div>
        </div>
        <div class="control-group">
          <label class ="control-label"> Coowners: </label>
          <div class="controls">
            <p><%= link_to "Add Coowners", add_coowner_plan_path(@plan), method: :post, id: 'add_coonwers_view' %></p>
          </div>
        </div>

        <% unless @plan.new_record? %>
          <% if owner_role(@plan) || (safe_has_role?(Role::INSTITUTIONAL_REVIEWER)) %>
            <div class="control-group">
              <label class ="control-label"> Comments: </label>
              <div class="controls">
                <p><%= link_to "Add Comments", '#', remote: true, id: 'add_comments_link' %></p>
              </div>
            </div>
          <% end %>
        <hr/>
        <div class="control-group">
          <label class ="control-label"> Current Status: </label>
          <div class="controls">
            <strong><%= @plan.plan_states.last.state.to_s.capitalize %></strong><%= link_to "(Show History)", plan_plan_states_path(@plan) %>
          </div>
        </div>
        <% if safe_has_role?(Role::INSTITUTIONAL_REVIEWER) || safe_has_role?(Role::DMP_ADMIN) %>
          <div class="control-group">
            <label class ="control-label"> Reviewer Comments: </label>
            <div class="controls">
              <p><%= link_to "View", '#', id: 'view_reviewer_comments' %></p>
              <fieldset id = "reviewer_comments">
                <legend>Comments<%= link_to raw('<i class="icon-chevron-up pull-right"></i>'), '#', id: 'hide_reviewer_comments' %></legend>
                <%= render partial: 'comments/index' %>
              </fieldset>
            </div>
          </div>
        <% end %>
        <% if safe_has_role?(Role::DMP_ADMIN) || owner_role(@plan) %>
          <div class="control-group">
            <label class ="control-label"> Owner Comments: </label>
            <div class="controls">
              <p><%= link_to "View", '#', id: 'view_owner_comments' %></p>
              <fieldset id = "owner_comments">
                <legend>Comments<%= link_to raw('<i class="icon-chevron-up pull-right"></i>'), '#', id: 'hide_owner_comments' %></legend>
                <%= render partial: 'comments/index' %>
              </fieldset>
            </div>
          </div>
        <% end %>
        <hr/>

        <div class="control-group">
          <label class ="control-label"> Visibility: </label>
          <div class="controls">
            <p> This DMP is <span style="color:blue;"><%=@plan.visibility.capitalize %></span> </p>
            <p><%= link_to "Change Settings", '#', remote: true, id: 'change_visibility_link' %></p>
          </div>
        </div>

        <hr/>

        <div class="control-group">
          <label class ="control-label"> Available Actions: </label>
            <div class="controls">
            <p><%= link_to "Preview DMP", "#" %> |
              <%= link_to "Submit DMP", "#" %> |
              <%= link_to "Deactivate DMP", "#" %> |
              <%= link_to "Delete DMP",@plan, method: :delete,  style: 'color:red;', data: { confirm: 'Are you sure?', :id => 'delete_template' }%>
            </p>
          </div>
        </div>

        <% end %>

        <div class="buttons">
          <%= f.submit 'Save Changes', :class => 'btn btn-success pull-left', method: 'post' %>
          <%= button_tag 'Cancel', type: :reset, :class => 'btn btn-success'%>
        </div>
        <%= render partial: 'change_visibility', locals: {:plan_id => params[:id]} %>
        <%= render partial: 'comments/form', locals: {:plan_id => params[:id]} %>
      <% end %>
    </div>
  </div>
</div>