<div class= 'requirement_instruction'>
	<strong>Instruction :</strong>
	<span><%= @requirement.text_full %></span>
</div>
<br/>
<strong>Guidance :</strong>
<div class= 'global_resources'>
  <% unless @requirement.global_resources.guidance.empty? %>
  <h3> Global Resources </h3>
  <ul>
    <%# global resources for this requirement, Stephen's case #1 %>
    <% (@requirement.global_resources.guidance).each do |resource| %>
    <li>
      <p class="cust_label">
        <%= resource.label %>
      </p>
      <p class="cust_text">
        <%= resource.text %>
      </p>
    </li>
    <% end %>
  </ul>
  <% end %>
</div>

<div class= 'template_resources'>
  <% unless @requirement.template_resources.guidance.empty? %>
  <h3> DMP Resources </h3>
  <ul>
    <%# global resources for this requirement, Stephen's case #1 %>
    <% ( @requirement.template_resources.guidance).each do |resource| %>
      <li>
        <p class="cust_label">
          <%= resource.label %>
        </p>
        <p class="cust_text">
          <%= resource.text %>
        </p>
      </li>
    <% end %>
  </ul>
  <% end %>
</div>

<div class= 'requirement_resources'>
  <% unless @requirement.requirement_resources.guidance.empty? %>
  <h3> Requirement Resources </h3>
  <ul>
    <%# global resources for this requirement, Stephen's case #1 %>
    <% ( @requirement.requirement_resources.guidance).each do |resource| %>
      <li>
        <p class="cust_label">
          <%= resource.label %>
        </p>
        <p class="cust_text">
          <%= resource.text %>
        </p>
      </li>
    <% end %>
  </ul>
  <% end %>
</div>

<div class= 'institution_customization_resources'>
  <% unless @requirement.institution_customization_resources(current_user.institution_id).guidance.empty? %>
  <h3> <%= current_user.institution.name %> Resources </h3>
  <ul>
    <%# institution customization resources for this requirement, Stephen's case #4 %>
    <% (@requirement.institution_customization_resources(current_user.institution_id).guidance).each do |resource| %>
      <li>
        <p class="cust_label">
          <%= resource.label %>
        </p>
        <p class="cust_text">
          <%= resource.text %>
        </p>
      </li>
    <% end %>
  </ul>
  <% end %>
</div>

<div class= 'template_customization_resources'>
  <% unless @requirement.template_customization_resources(current_user.institution_id).guidance.empty? %>
  <h3> <%= @requirements_template.name %> for <%= current_user.institution.name %> Resources"</h3>
  <ul>
    <%# template customization resources for this requirement, Stephen's case #5 %>
    <% (@requirement.template_customization_resources(current_user.institution_id).guidance).each do |resource| %>
      <li>
        <p class="cust_label">
          <%= resource.label %>
        </p>
        <p class="cust_text">
          <%= resource.text %>
        </p>
      </li>
    <% end %>
  </ul>
  <% end %>
</div>

<div class= 'requirement_customization_resources'>
  <h3> Requirement Customization Resources </h3>
  <%# requirement customization resources for this requirement, Stephen's case #7 %>
  <ul>
    <% @guidance_resources.each do |resource| %>
      <li>
        <p class="cust_label">
          <%= resource.label %>
        </p>
        <p class="cust_text">
          <%= resource.text %>
        </p>
      </li>
    <% end %>
  </ul>
</div>