<% # This partial takes a local plan variable %>

<table>
  <tr>
    <td><strong>DMP Template:</strong></td>
    <% unless plan.requirements_template.nil? %>
      <td><%= plan.requirements_template.name %></td>
    <% else %>
       <td></td>
    <% end %>
    <td><strong>Solicitation Number:</strong></td>
    <td><%= plan.solicitation_identifier || "[not specified]" %></td>
  </tr>
  <tr>
    <td><strong>Institution:</strong></td>
    <% unless plan.owner.nil? %>
      <td><%= plan.owner.institution.name %></td>
    <% else %>
       <td></td>
    <% end %>
    <td><strong>Submission Deadline:</strong></td>
    <td><%= plan.submission_deadline || "[not specified]" %></td>
  </tr>
  <tr>
    <td><strong>DMP Name:</strong></td>
    <td><%= plan.name %></td>
    <td></td>
    <td></td>
  </tr>
</table>
<hr/>
<div class="row-fluid">
</div>
<div class="dmp-preview">
  <%= render(partial: "requirement",
             collection: (plan.requirements_template.requirements.order(:position).roots),
             locals: { heading: "" }) %>
</div>