<h1 class="row-fluid"><span class="icon dmp-template"></span>History</h1>

<table class="table table-striped" id="dmp_planstates">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Owner</th>
      <th>Status</th>
      <th>Last Modification Date</th>
    </tr>
  </thead>
  <tbody>
    <% @planstates.each do |planstate| %>
      <tr>
        <td class="span1"><%= check_box_tag :planstate, planstate.id %></td>
        <td><%= plan_name(planstate)%></td>
        <td><%= plan_user(planstate) %></td>
        <td><%= planstate.state %></td>
        <td><%= planstate.updated_at.strftime("%m/%d/%Y %I:%M%p") %></td>
      </tr>
    <% end %>
  <tbody>
</table>
<div class="buttons pagination">
	<%= link_to "View All", plans_path(:scope => "all"), :method => :get, :class => "btn", :id => 'view_all_plans'%>
	<%= paginate @plans %>
</div>
<%= button_to 'Delete Selected DMPs', plan_path(@plan), method: :delete, data: { confirm: 'Are you sure?' } %>