<table class="table table-striped">
  <thead>
    <tr>
      <th class="span5">Plan Title</th>
      <th>Funder Template</th>
      <th>Institution</th>
      <th>Owner</th>
      <th>Download</th>
    </tr>
  </thead>
  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td class="plan_name">
          <div class="toggle-links">
            <strong><%= plan.name %></strong>
          </div>
        </td>
        <td class="nowrap">
          <%= (plan.requirements_template && plan.requirements_template.name) || 'seriously, more junk data?' %>
        </td>
        <td class="nowrap">
          <%= plan.owners.first.institution.name %>
        </td>
        <td class="nowrap">
          <%= plan.owners.first.full_name %>
        </td>
        <td class="nowrap">
          <%= link_to("PDF icon here", plan_path(plan, format: "pdf")) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="buttons pagination">
  <%= link_to "View All", plans_path(:page => "all"), :method => :get, :class => "btn", :id => 'view_all_plans'%>
  <%= paginate @plans %>
</div>
