<table class="table table-striped">
  <thead>
    <tr>
      <th class="span5"><%= link_to "Plan Title", {order_scope: "PlanTitle", all_scope: @all_scope}%></th>
      <th class="span5"><%= link_to "Funder Template", {order_scope: "FunderTemplate", all_scope: @all_scope}%></th>
      <th class="span5"><%= link_to "Institution", {order_scope: "OwnerInstitution", all_scope: @all_scope}%></th>
      <th class="span5"><%= link_to "Owner", {order_scope: "Owner", all_scope: @all_scope}%></th>
      <th>Download</th>
    </tr>
  </thead>
  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td class="plan_name">
          <div class="toggle-links">
            <strong><%= plan.name %></strong>
          </div>
        </td>
        <td>
          <%= (plan.requirements_template && plan.requirements_template.name) || 'seriously, more junk data?' %>
        </td>
        <td>
          <%= plan.owner.institution.name %>
        </td>
        <td>
          <%= plan.owner.full_name %>
        </td>
        <td>
          <%= link_to('', plan_path(plan, format: "pdf"), :class => 'icon pdf', :target => '_blank') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<% if @all_scope == "all" %>
  <div class="buttons pagination">
    <%= link_to "View Less", { :action => "public", :all_scope => "less", order_scope: @order_scope}, { :class => "btn" } %>
    <%= paginate @plans %>
  </div>
<% else %>
  <div class="buttons pagination">
    <%= link_to "View All", { :action => "public", :all_scope => "all", order_scope: @order_scope}, { :class => "btn", :id => 'view_all_plans' } %>
    <%= paginate @plans %>
  </div>
<%end%>






















