<%# this partial requires plan_id to be passed in as a local variable %>
<%= form_for(@comment, :url => {controller: "plan_states", :action => "reject_with_comments"}, html: { :class => 'form-horizontal' }) do |f| %>
  <%= render partial: "shared/errors", locals: {model: @comment} %>
  <div class="control-group">
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :plan_id, value: plan_id %>
  </div>
  <div class="control-group">
      <%= f.text_area :value, placeholder: 'Add a Comment', :class => "input-block-level", rows: "6"%>
  </div>
  <div class="control-group">
      <%= f.hidden_field :visibility, value: :reviewer %>
  </div>
  <div class="control-group">
    <%= f.hidden_field :comment_type, value: :reviewer %>
  </div>
  <div>
    <%= f.submit "Reject", :class => 'btn btn-success pull-right', method: 'post' %>
    <%= button_tag "Cancel", type: :reset, :class => 'btn btn-success pull-left', id: "cancel_action" %>
  </div>
<% end %>
