<!-- <h2><%= heading %><%#= requirement_counter + 1 %> <strong><%= requirement.text_brief %></strong><h2> -->

<DL>

  <%= heading %><%#= requirement_counter + 1 %> <strong><%= requirement.text_brief %></strong>
    <%- if requirement.children.size > 0 then -%>
      <div class="dmp-preview">
        
        <%#= render(partial: "requirement",
                   collection: requirement.children.order(:position),
                   locals: { heading: "#{heading}#{requirement_counter + 1}."}) %> 
        <dt>
          <dd>
                <%= render(partial: "requirement",
                         collection: requirement.children.order(:position),
                         locals: { heading: "#{heading}"}) %>
          </dd>
        </dt>
        
      </div>
    <%- end -%>

  <div>
    <%= requirement.response_html(@plan) %>
  </div>

</DL>


 <!--  <DL>
<DT>Term
<DD>Description
</DL>
 -->