<% @plan_id = nil %>
<h1 class="row-fluid"><span class="icon dmp-template"></span>My DMPs</h1>
<div class="table-scope">
  <%= link_to "All (#{@all}) ", {scope: "all_limited"}, :class => "all_limited" %>
  |
  <%= link_to "Owned (#{@owned}) ", {scope: "owned"}, :class => "owned" %>
  |
  <%= link_to "Coowned (#{@coowned}) ", {scope: "coowned"}, :class => "coowned" %>
  |
  <%= link_to "Approved (#{@approved}) ", {scope: "approved"}, :class => "approved" %>
  |
  <%= link_to "Submitted (#{@submitted}) ", {scope: "submitted"}, :class => "submitted" %>
  |
  <%= link_to "Committed (#{@committed}) ", {scope: "committed"}, :class => "committed" %>
  |
  <%= link_to "Rejected (#{@rejected}) ", {scope: "rejected"}, :class => "rejected" %>
</div>

<table class="table table-striped" id="dmp_plans">
  <thead>
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Status</th>
      <th>Visibility</th>
      <th>Last Modification Date</th>
    </tr>
  </thead>
  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td class="plan_name">
          <div class="toggle-links">
            <strong id ="#{plan.name}"><%= plan.name %></strong>
            <div class="template-links">
                <%= link_to('Overview', edit_plan_path(plan)) %>
              | <%= link_to('Details', details_plan_path(plan)) %>
              | <%= link_to('Share', '#', {:class => 'change_visibility_link', :'data-planid' => plan.id }) %>
              <% @plan_id = plan.id %>
              <% if ( plan.requirements_template.try(:review_type) && plan.requirements_template.review_type != :no_review) %>
                | <%= link_to('Submit', preview_plan_path(plan)) %>
              <% end %>
              | <%= link_to('Copy', copy_existing_plans_template_path(:plan => plan)) %>
              | Export as <%= link_to('PDF', plan_path(plan, :format => "pdf")) %>
              | <%= link_to('RTF', plan_path(plan, :format => "rtf")) %>
              | <%= link_to('Delete', plan, :class => "delete", :id => "delete_#{plan.name}", method: :delete, data: { confirm: 'Are you sure?' }) %>
            </div>
          </div>
        </td>
        <td><%= owner_name(plan) %></td>
        <td><strong><%= state(plan).capitalize %></strong></td>
        <%if plan.visibility == :private %>
          <td class="span1"><span class="private-visibility icon" title="Private"></span></td>
        <% elsif plan.visibility == :public %>
          <td class="span1"><span class="public-visibility icon" title="Public"></span></td>
        <% else %>
          <td class="span1"><span class="institutional-visibility icon" title="Institutional"></span></td>
        <% end %>
        <td><%= plan.updated_at.strftime("%m/%d/%Y %I:%M%p") %></td>
      </tr>
    <% end %>
  <tbody>
</table>
    <div class="buttons pagination">
      <%= link_to "View All", plans_path(:scope => "all"), :method => :get, :class => "btn", :id => 'view_all_plans'%>
      <%= paginate @plans %>
    </div>
    </tr>
  </tbody>
</table>
<%= button_to 'Create New DMP', plan_template_information_path, :method => :get, :class => 'btn' %>
<div id = 'visibility_dialog_form'>
  <%= render partial: 'change_visibility', locals: {:plan_id => @plan_id} %>
</div>
