%h1 Listing plans

%table
  %tr
    %th Name
    %th Requirements templates
    %th Solicitation identifier
    %th Submission deadline
    %th Visibility
    %th
    %th
    %th

  - @plans.each do |plan|
    %tr
      %td= plan.name
      %td= plan.requirements_templates_id
      %td= plan.solicitation_identifier
      %td= plan.submission_deadline
      %td= plan.visibility
      %td= link_to 'Show', plan
      %td= link_to 'Edit', edit_plan_path(plan)
      %td= link_to 'Destroy', plan, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Plan', new_plan_path
