<% @plan_id = nil %>
<h1 class="row-fluid"><span class="icon dmp-template"></span>My DMPs</h1>
<div class="table-scope">
  <%= link_to "All (#{@all}) ", {scope: "all_limited", order_scope: @order_scope}, :class => "all_limited" %>
  |
  <%= link_to "Owned (#{@owned}) ", {scope: "owned", order_scope: @order_scope}, :class => "owned" %>
  |
  <%= link_to "Coowned (#{@coowned}) ", {scope: "coowned", order_scope: @order_scope}, :class => "coowned" %>
  |
  <%= link_to "Approved (#{@approved}) ", {scope: "approved", order_scope: @order_scope}, :class => "approved" %>
  |
  <%= link_to "Submitted (#{@submitted}) ", {scope: "submitted", order_scope: @order_scope}, :class => "submitted" %>
  |
  <%= link_to "Committed (#{@committed}) ", {scope: "committed", order_scope: @order_scope}, :class => "committed" %>
  |
  <%= link_to "Rejected (#{@rejected}) ", {scope: "rejected", order_scope: @order_scope}, :class => "rejected" %>
</div>

<table class="table table-striped" id="dmp_plans">
  <thead>
    <tr>
      <th class="span4">
        <%= link_to "Name", {order_scope: "Name", scope: @scope}%>
      </th>
      <th class="span3">
        <%= link_to "Owner", {order_scope: "Owner", scope: @scope}%>
      </th>
      <th>
        <%= link_to "Status", {order_scope: "Status", scope: @scope}%>
      </th>
      <th>
        <%= link_to "Visibility", {order_scope: "Visibility", scope: @scope}%>
      </th>
      <th>
        <%= link_to "Last Modification Date",
              {order_scope: "Last_Modification_Date", scope: @scope}%>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td class="plan_name">
          <div class="toggle-links">
            <strong id ="#{plan.name}"><%= plan.name %></strong>
            <div class="template-links">
              <% @plan_id = plan.id %>
                <%= link_to('Overview', edit_plan_path(plan)) %>
              | <%= link_to('Details', details_plan_path(plan)) %>
              | <%= link_to('Share', '#', {:class => 'change_visibility_link', :'data-planid' => plan.id, :'data-visibility' => plan.visibility }) %>

              <% if ( plan.requirements_template.try(:review_type) && plan.requirements_template.review_type != :no_review) %>
                | <%= link_to('Submit', preview_plan_path(plan)) %>
              <% end %>
              | <%= link_to('Copy', copy_existing_plans_template_path(:plan => plan)) %>
              | Export as <%= link_to('PDF', plan_path(plan, :format => "pdf")) %>
              | <%= link_to('RTF', plan_path(plan, :format => "rtf")) %>
              <% unless coowner(plan) == true %>
              | <%#= link_to 'Delete', plan, method: :delete, data: { confirm: 'Are you sure?' },:class => "delete" %>
              <% end %>
            </div>
          </div>
        </td>
        <td><%= owner_name(plan) %></td>
        <td><strong><%= state(plan).capitalize %></strong></td>
        <%if plan.visibility == :private %>
          <td class="span1"><span class="private-visibility icon" title="Private"></span></td>
        <% elsif plan.visibility == :public %>
          <td class="span1"><span class="public-visibility icon" title="Public"></span></td>
        <% else %>
          <td class="span1"><span class="institutional-visibility icon" title="Institutional"></span></td>
        <% end %>
        <td><%= plan.updated_at.strftime("%m/%d/%Y %I:%M%p") %></td>
      </tr>
    <% end %>
  <tbody>
</table>
    <div class="buttons pagination">
      <%= link_to "View All", plans_path(:scope => "all", order_scope: @order_scope), :method => :get, :class => "btn", :id => 'view_all_plans'%>
      <%= paginate @plans %>
    </div>
    </tr>
  </tbody>
</table>
<%= button_to 'Create New DMP', plan_template_information_path, :method => :get, :class => 'btn' %>
<div id = 'visibility_dialog_form'>
  <%= render partial: 'change_visibility', locals: {:plan_id => @plan_id} %>
</div>
