<h1 class="row-fluid"><span class="icon dmp-template"></span>My DMPs</h1>
<div class="table-scope">
  <%= link_to "All (#{@all}) ", {scope: "all_limited"}, :class => "all_limited" %>
  |
  <%= link_to "Coowned (#{@coowned}) ", {scope: "coowned"}, :class => "coowned" %>
  |
  <%= link_to "Approved (#{@approved}) ", {scope: "approved"}, :class => "approved" %>
  |
  <%= link_to "Submitted (#{@submitted}) ", {scope: "submitted"}, :class => "submitted" %>
  |
  <%= link_to "Rejected (#{@rejected}) ", {scope: "rejected"}, :class => "rejected" %>
</div>

<table class="table table-striped" id="dmp_plans">
  <thead>
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Status</th>
      <th>Visibility</th>
      <th>Last Modification Date</th>
    </tr>
  </thead>
  <tbody>
    <% @plans.each do |plan| %>
      <tr>
        <td class="plan_name">
          <div class="toggle-links">
            <%= link_to (content_tag(:strong, plan.name)), '#', :id => "#{plan.name}" %>
            <div class="template-links">
                <%= link_to('Overview', edit_plan_path(plan)) %>
              | <%= link_to('Details', details_plan_path(plan)) %>
              | <%= link_to('Share', '#', remote: true, :class => 'change_visibility_link') %>
              <% if ( plan.requirements_template.try(:review_type) && plan.requirements_template.review_type != :no_review) %>
                | <%= link_to('Submit', preview_plan_path(plan)) %>
              <% end %>
              | <%= link_to('Copy', copy_existing_plans_template_path(:plan => plan)) %>
              | <%= link_to('Delete', plan, :class => "delete", :id => "delete_#{plan.name}", method: :delete, data: { confirm: 'Are you sure?' }) %>
              | Export as <%= link_to('PDF', plan_path(plan, :format => "pdf")) %>
              | <%= link_to('RTF', plan_path(plan, :format => "rtf")) %>
            </div>
          </div>
        </td>
        <td><%= owner_name(plan) %></td>
        <td><%= state(plan) %></td>
        <td><%= plan.visibility.capitalize %></td>
        <td><%= plan.updated_at.strftime("%m/%d/%Y %I:%M%p") %></td>
      </tr>
    <% end %>
  <tbody>
</table>
    <div class="buttons pagination">
      <%= link_to "View All", plans_path(:scope => "all"), :method => :get, :class => "btn", :id => 'view_all_plans'%>
      <%= paginate @plans %>
    </div>
    </tr>
  </tbody>
</table>
<%= button_to 'Create New DMP', plan_template_information_path, :method => :get, :class => 'btn' %>
