<h1 class="row-fluid"><span class="icon review"></span>Review DMPs</h1>
<br/>
<h3><strong>Perform Review </strong></h3>
<div class="scrollable-container">
  <div class="scrollable-content">
    <%= render :partial => 'html_render', locals: {plan: @plan} %>
  </div>
  <div class="scrollable-bottom-handle ui-resizable-handle ui-resizable-s"></div>
</div>

<br/>
<fieldset class="comment_box">
	<h3><strong>Comments </strong></h3>
  <div class="comments">
	 <%= render partial: "comments/index_reviewer_comments" %>
  </div>
  <p><%= link_to "Add Comments", "#", data: {:comment_type => :reviewer}, :class => "btn add_comments_link" %></p>
  <div>
    <%= paginate @reviewer_comments %>
  </div>
</fieldset>

<% if @plan.requirements_template.review_type == :formal_review %>
  <fieldset class="spaced_below">
    <label class ="control-label">Review Decision:</label>
    <% if state(@plan) == :approved || state(@plan) == :rejected %>
      <strong>The Plan is set to <span class ="blue"><%= state(@plan).capitalize %></span> state.</strong>
    <% else %>
      <%= link_to "Approve", plan_plan_states_approved_path(@plan), method: :post, :class => "btn btn-green" %>
      <%= link_to "Reject", plan_plan_states_rejected_path(@plan), method: :post, data: {:comment_type => :reviewer}, :class => "btn add_comments_link"  %>
    <% end %>
  </fieldset>
<% elsif @plan.requirements_template.review_type == :informal_review %>
  <fieldset class="spaced_below">
    <%= link_to "Plan Reviewed", plan_plan_states_reviewed_path(@plan), method: :post, :class => "btn btn-green" %>
  </fieldset>
<% end %>
<div id = "comment_dialog_form">
	<%= render partial: 'comments/form', locals: {:plan_id => params[:id]} %>
</div>
<hr/>
<%= link_to 'Back', review_dmps_path(@plan), method: :get, :class => 'btn btn-green pull-left' %>

<script type="text/javascript">
  $("div.scrollable-container").resizable({ containment: "parent", minHeight: 150, handles: "s" });
</script>