<style>

  .content
  {
    height:300px;
    background:#fff;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }

  .text
  {
    position : relative;
    height:100%;
    overflow:auto;
    background:#fff;
    padding: 5px 10px 5px 10px;
  }


  #handle {
    height : 8px;
    background : #dedede;
    bottom:-40;
  }


</style>

<h1 class="row-fluid"><span class="icon review"></span>Review DMPs</h1>
<br/>
<strong>Perform Review </strong>


<div class="content border-box">
  <div class="text">
    <%= render :partial => 'html_render', locals: {plan: @plan} %>
  </div>
  <div id="handle" class = "ui-resizable-handle ui-resizable-s"></div>
</div>


<fieldset class="comments" style= "border:0.5px solid #B6B6B7;padding:1em;margin-top:2em;">
	<strong>Comments </strong>
	<%= render partial: "comments/index_reviewer_comments" %>
  <p><%= link_to "Add Comments", "#", data: {:comment_type => :reviewer}, :class => "btn add_comments_link" %></p>
</fieldset>
<fieldset style= "border:0.5px solid #B6B6B7;padding:1em;margin-top:2em;">
  <label class ="control-label">Review Decision:</label>
	<%= link_to "Approve", "#", method: :get, :class => 'btn btn-success' %>
	<%= link_to "Reject", "#", data: {:comment_type => :reviewer}, :class => "btn btn-danger add_comments_link"  %>
</fieldset>
<div id = "comment_dialog_form">
	<%= render partial: 'comments/form', locals: {:plan_id => params[:id]} %>
</div>
<hr/>
<%= link_to 'Back', review_dmps_path(@plan), method: :get, :class => 'btn btn-green pull-left' %>

<script type="text/javascript">
  $(".content").resizable({ containment: "parent", minHeight: 150, minWidth: 150, handles: "s" });
</script>