<h1 class="row-fluid"><span class="icon template-preview"></span>DMP Preview</h1>
<br/>
<div class="row-fluid">
	<%= link_to "Export", "#", :class => "btn pull-left" %>
	<%= link_to "Submit", "#", :class => "btn btn-green pull-right" %>
</div>
<br/>
<div class="border-box">
	<table>
		<tr>
			<td><strong>DMP Template:</strong></td>
			<td>DMP Template Name</td>
			<td><strong>Solicitation Number:</strong></td>
			<td>NSF123456789</td>
		</tr>
		<tr>
			<td><strong>Institution:</strong></td>
			<td>Intitution Name</td>
			<td><strong>Submission Deadline:</strong></td>
			<td>08/30/2013</td>
		</tr>
		<tr>
			<td><strong>DMP Name:</strong></td>
			<td>DMP Name</td>
			<td></td>
			<td></td>
		</tr>
	</table>
	<hr/>
	<div class="row-fluid">
		<%= link_to(content_tag(:span, "", :class => "icon print") + "Print", "#", :class => "icon print pull-right")  %>
	</div>
	<div class="dmp-preview">
          <%= render(partial: "requirement",
                     collection: (@plan.requirements_template.requirements.order(:position).roots),
                     locals: { heading: "" }) %>
	</div>
</div>
<div class="buttons">
	<p class="pull-left"><strong>This DMP is</strong> <span style="color: red;">private</span>.</p>
	<%= link_to "Change Settings", "#", :class => "btn" %>
</div>
<div class="row-fluid">
	<%= link_to "<< DMP Details", "#", :class => "btn btn-green pull-left" %>
	<%= link_to "My Dashboard >>", dashboard_path, :class => "btn btn-green pull-right" %>
</div>

<div class="row-fluid">
	<br/>
	<h1>Below is an alternate tab view</h1>
</div>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Preview</a></li>
    <li><a href="#tab2" data-toggle="tab">View Settings</a></li>
    <li><a href="#tab3" data-toggle="tab">Export</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
			<div class="border-box">
				<table>
					<tr>
						<td><strong>DMP Template:</strong></td>
						<td>DMP Template Name</td>
						<td><strong>Solicitation Number:</strong></td>
						<td>NSF123456789</td>
					</tr>
					<tr>
						<td><strong>Institution:</strong></td>
						<td>Intitution Name</td>
						<td><strong>Submission Deadline:</strong></td>
						<td>08/30/2013</td>
					</tr>
					<tr>
						<td><strong>DMP Name:</strong></td>
						<td>DMP Name</td>
						<td></td>
						<td></td>
					</tr>
				</table>
				<hr/>
				<div class="row-fluid">
					<%= link_to(content_tag(:span, "", :class => "icon print") + "Print", "#", :class => "icon print pull-right")  %>
				</div>
				<div class="dmp-preview">
					<h2>Lorem Ipsum</h2>
					<p>Lorem ipsum dolor sit amet, ad duo alii omnium invidunt, at atomorum mediocrem eam, velit assentior an sed. Ne mea porro iracundia scriptorem, usu ne quot vocibus cotidieque. Posse omnesque vulputate eos an. Id novum soluta indoctum sit. Et pro alia equidem salutandi, vivendo invidunt sententiae qui ex, duo at porro epicurei.</p>
					<h2>Nostro Audiam</h2>
					<p>Nostro audiam eu sed, et doming euripidis quo. In nec veniam accusam. Id veniam blandit democritum vis, persius aliquid nam at, ea delicata periculis consulatu eam. Nonumy singulis vituperatoribus has et. Et sed modus facete, sumo facilisis ne qui. Has et pertinacia mnesarchum, eu sit commodo fabellas posidonium.</p>
					<h2>Aperiam Omittam Intellegat</h2>
					<p>Aperiam omittam intellegat an vis. Nullam audire omnesque ex mei. His no error labores. Ex vim lorem ludus numquam. Ea eos debitis accusata.</p>	
					<p>Ubique menandri corrumpit mea in, duo ullum patrioque no. Ad vide populo nominati pro, mucius essent possim ei usu. Tale agam praesent vis ea, duo modus sanctus complectitur ea. His et minim nominavi conclusionemque, esse illud eu qui, tamquam sensibus te has. No vis iudicabit delicatissimi, ad mel aliquip laoreet. Essent probatus vim ne. In dolore verear sit.</p>
					<h2>Ne Ignota Aliquando</h2>
					<p>Ne ignota aliquando nam, adhuc tractatos adversarium et nec. Te has veritus assueverit. An mel eirmod noluisse eloquentiam, in nec possit convenire. Ius virtute euismod ex, cu graecis honestatis vim, mentitum expetendis ut his.</p>
				</div>
			</div>
			<div class="buttons">
				<%= link_to "Submit", "#", :class => "btn btn-green" %>
			</div>
		</div>
		<div class="tab-pane" id="tab2">
			<form>
			<p><strong>This DMP is</strong> <span style="color: red;">private</span>.</p>
			<hr/>
			<div class="control-group">
					<div class="controls checkbox-controls">
						<input type="radio" name="private" checked="checked" />
						<label for="private">Private</label><br/>
						<input type="radio" name="public" />
						<label for="public">Public</label>
					</div>
				</div>
			<div class="buttons">
				<%= link_to "Change Settings", "#", :class => "btn btn-green" %>
			</div>
			</form>
		</div>
    <div class="tab-pane" id="tab3">
			<form>
				<p><strong>Export my DMP:</strong></p>
				<hr/>
				<div class="control-group">
					<div class="controls checkbox-controls">
						<input type="radio" name="plain" />
						<label for="plain">Plain Text</label><br/>
						<input type="radio" name="rtf" />
						<label for="rtf">Rich Format Text</label><br/>
						<input type="radio" name="pdf" />
						<label for="pdf">PDF</label>
					</div>
				</div>
				<div class="buttons">
					<input type="submit" value="Export">
				</div>
			</form>
    </div>
  </div>
</div>
<div class="row-fluid">
	<%= link_to "<< DMP Details", "#", :class => "btn btn-green pull-left" %>
	<%= link_to "My Dashboard >>", dashboard_path, :class => "btn btn-green pull-right" %>
</div>
<script type="text/javascript">
	tab_jump();
	add_tab_to_pagination();
</script>



