<h1 class="row-fluid"><span class="icon template-preview"></span>DMP Preview</h1>
<br/>
<div class="row-fluid">
	<%= link_to "Export as PDF", plan_path(@plan, :format=>"pdf"), :class => "btn pull-left" %>
	<%= link_to "Export as RTF", plan_path(@plan, :format=>"rtf"), :class => "btn pull-left" %>
        <%= link_to(content_tag(:span, "", :class => "icon print") + "Print",
                    plan_path(@plan, :format=>"html"),
                    :class => "btn pull-left")  %>
 	<% if (@plan.requirements_template.review_type == :formal_review) || (@plan.requirements_template.review_type == :informal_review) %>
    <%= link_to "Submit", "#", :class => "btn btn-green pull-right" %>
  <% else %>
		<%= link_to "Finish", "#", :class => "btn btn-green pull-right" %>
	<% end %>
</div>
<br/>

<div class="border-box">
  <%= render :partial => 'html_render', locals: {plan: @plan} %>
</div>

<div class="buttons">
	<p class="pull-left"><strong>This DMP is</strong> <span style="color: blue;">private</span>.</p>
	<%= link_to "Change Settings", "#", remote: true, :class => "btn change_visibility_link" %>
</div>
<div class="row-fluid">
	<%= link_to "<< DMP Details", details_plan_path(@plan), :class => "btn btn-green pull-left" %>
	<%= link_to "My Dashboard >>", dashboard_path, :class => "btn btn-green pull-right" %>
</div>
<div id = 'visibility_dialog_form'>
	<%= render partial: 'change_visibility', locals: {:plan_id => params[:id]} %>
</div>
<script type="text/javascript">
	tab_jump();
	add_tab_to_pagination();
</script>


