<h1 class="row-fluid"><span class="icon template-preview"></span>DMP Preview</h1>
<br/>
<div class="row-fluid">
	<%= link_to "Export as PDF", plan_path(@plan, :format=>"pdf"), :class => "btn pull-left" %>
	<%= link_to "Export as RTF", plan_path(@plan, :format=>"rtf"), :class => "btn pull-left" %>
        <%= link_to(content_tag(:span, "", :class => "icon print") + "Print", "#", :class => "btn pull-left")  %>
	<%= link_to "Submit", "#", :class => "btn btn-green pull-right" %>
</div>
<br/>
<div class="border-box">
	<table>
		<tr>
			<td><strong>DMP Template:</strong></td>
			<td><%= @plan.requirements_template.name %></td>
			<td><strong>Solicitation Number:</strong></td>
			<td><%= @plan.solicitation_identifier %></td>
		</tr>
		<tr>
			<td><strong>Institution:</strong></td>
			<td><%= @plan.owner.institution.name %></td>
			<td><strong>Submission Deadline:</strong></td>
			<td><%= @plan.submission_deadline || "[not specified]" %></td>
		</tr>
		<tr>
			<td><strong>DMP Name:</strong></td>
			<td><%= @plan.name %></td>
			<td></td>
			<td></td>
		</tr>
	</table>
	<hr/>
	<div class="row-fluid">
	</div>
	<div class="dmp-preview">
          <%= render(partial: "requirement",
                     collection: (@plan.requirements_template.requirements.order(:position).roots),
                     locals: { heading: "" }) %>
	</div>
</div>
<div class="buttons">
	<p class="pull-left"><strong>This DMP is</strong> <span style="color: blue;">private</span>.</p>
	<%= link_to "Change Settings", "#", remote: true, :class => "btn change_visibility_link" %>
</div>
<div class="row-fluid">
	<%= link_to "<< DMP Details", details_plan_path(@plan), :class => "btn btn-green pull-left" %>
	<%= link_to "My Dashboard >>", dashboard_path, :class => "btn btn-green pull-right" %>
</div>
<div id = 'visibility_dialog_form'>
	<%= render partial: 'change_visibility', locals: {:plan_id => params[:id]} %>
</div>
<script type="text/javascript">
	tab_jump();
	add_tab_to_pagination();
</script>


