<h1 class="row-fluid"><span class="icon review"></span>Review DMPS</h1>
<div class="dmptool-page">
	<h2>DMPs Pending My Review</h2>
	<table class="table table-striped" id="review_dmps">
	  <thead>
	    <tr>
	      <th>DMP Name</th>
	      <th>Owner</th>
	      <th>Submission Date</th>
	      <th class="span1">Status</th>
	      <th class="span1">Review DMP</th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @plans.each do |plan| %>
	      <tr>
					<td class="span7"><%=link_to (content_tag(:strong, plan.name)), '#', :id => "#{plan.name}" %></td>
	        <td><%= owner_name(plan) %></td>
	        <td><%= plan.updated_at.strftime("%m/%d/%Y %I:%M%p") %></td>
	        <td class="span1"><strong class="blue"><%= state(plan) %></strong></td>
	        <td class="span1">
	        	<div class="actions">
		        	<%= link_to "", "#", :class => "icon approve-template" %>
		        </div>
	        </td>
	      </tr>
	    <% end %>
	  <tbody>
	</table>
	    <div class="buttons pagination">
	      <%= link_to "View All", review_dmps_path(:scope => "all"), :method => :get, :class => "btn" %>
	      <%= paginate @plans %>
	    </div>
	    </tr>
	  </tbody>
	</table>
</div>
