<% @title_text = "Review DMPs" %>
<% @display_menu = "review_dmp" %>
<h1 class="row-fluid"><span class="icon review"></span>Review DMPs</h1>
<div class="table-scope">
<%= link_to "All (#{@all}) ", {scope: "all_limited", order_scope: @order_scope, all_scope: @all_scope}, :class => "all_limited" %>
|
<%= link_to "Pending My Review (#{@submitted}) ", {scope: "submitted", order_scope: @order_scope, all_scope: @all_scope}, :class => "submitted" %>
|
<%= link_to "Approved (#{@approved}) ", {scope: "approved", order_scope: @order_scope, all_scope: @all_scope}, :class => "approved" %>
|
<%= link_to "Rejected (#{@rejected}) ", {scope: "rejected", order_scope: @order_scope, all_scope: @all_scope}, :class => "rejected" %>
|
<%= link_to "Reviewed (#{@reviewed}) ", {scope: "reviewed", order_scope: @order_scope, all_scope: @all_scope}, :class => "reviewed" %>
|
<%= link_to "Committed (#{@committed}) ", {scope: "committed", order_scope: @order_scope, all_scope: @all_scope}, :class => "committed" %>
</div>
<table class="table table-striped" id="review_dmps">
  <thead>
    <tr>
      <th><%= link_to "DMP Name", {scope: @scope, order_scope: "DMPName", all_scope: @all_scope}%></th>
      <th><%= link_to "Owner", {scope: @scope, order_scope: "Owner", all_scope: @all_scope}%></th>
      <th><%= link_to "Submission Date", {scope: @scope, order_scope: "SubmissionDate", all_scope: @all_scope}%>
        <%= content_tag(:span, '', :title => 'Date the DMP was submitted for review by the plan owner.', 'data-toggle' => 'tooltip', 'data-placement' => 'right', 'data-html' => 'true', :class => 'icon questionmark tip') %>
      </th>
      <th class="span1"><%= link_to "Status", {scope: @scope, order_scope: "Status", all_scope: @all_scope}%></th>
      <th class="span1">Review DMP</th>
    </tr>
  </thead>
  <tbody>
    <% @plans.each do |plan| %>
      <tr>
				<td class="span7", id="#{plan.name}"><strong><%= plan.name %></strong></td>
        <td><%= owner_name(plan) %></td>
        <td><%= plan.updated_at.strftime("%m/%d/%Y %I:%M%p") %></td>
        <td class="span1"><strong><%= plan.display_state %></strong></td>
        <td class="span1">
        	<div class="actions">
	        	<%= link_to "", perform_review_plan_path(plan), :class => "icon approve-template" %>
	        </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @all_scope == "all" %>
<div class="buttons pagination">
  <%= link_to "View Less", review_dmps_path(all_scope: "less", order_scope: @order_scope, scope: @scope), :method => :get, :class => "btn", role: "button" %>
  <%= paginate @plans %>
</div>
<% else %>
  <div class="buttons pagination">
    <%= link_to "View All", review_dmps_path(all_scope: "all", order_scope: @order_scope, scope: @scope), :method => :get, :class => "btn", role: "button" %>
    <%= paginate @plans %>
  </div>
<%end%>

</tr>

</table>