<div class="login row-fluid">
	<h3 class="dashboard-heading"><span class="icon login"></span>Complete Password Reset</h3>
	<div class="span5 user_login">
	  <p>
	    You are resetting the password for <%= @user.email %>. The DMPTool requires that your password be at least
	    eight characters long and contain at least one number and one letter.
	  </p>
	  <%= form_tag({:action => 'complete_password_reset'}, {:method => 'post'}) do %>
	    
	    <div class="control-group">
	      <%= label_tag :password, 'New Password' %>
	      <%= password_field_tag :password, params[:password], {:tabindex => '1'} %>
	    </div>
	    
	    <div class="control-group">
	      <%= label_tag :password_confirmation, 'Confirm' %>
	      <%= password_field_tag :password_confirmation, params[:password_confirmation], {:tabindex => '2'} %>
	    </div>
	    
	    <%= submit_tag "Reset Password", {:tabindex => '3'} %>
	    
	    <%= hidden_field_tag(:id, @user.id) %>
	    <%= hidden_field_tag(:token, @user.token) %>
	  <% end %>
	</div>
</div>