<h4> Log In on DMPTool </h4>
<div class="user_login">
  <%= form_tag '/auth/ldap/callback', method: :post do %>
    <%= label_tag :username %>
    <%= text_field_tag :username %>
    <br/>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <br/>
    <%= check_box_tag :remember_my_username %>
    <%= label_tag :remember_my_username %>
    <%= submit_tag "Login" %>
  <% end %>

  <div>
    <p>Don't have a DMPTool account yet? </p>
    <br/>
    <p>You can
    <%= link_to "Create An Account", new_user_path %>
    in DMPtool first and Log In.</p>
    <%= link_to "Forgot your username?" %>
    <br/>
    <%= link_to "Forgot your password?" %>
  </div>
</div>
