<li class='current-parent'>
  <%= link_to(content_tag(:span, 'DMP Templates'), requirements_templates_path) %>
  <ul class="children dmp-templates">
    <!-- The following adds "current" class when on Customization Overview page -->
    <% if menu_level(0) == 'customizations' && menu_level(1) == 'overview' %>
      <li class="current"><%= link_to(content_tag(:span, 'Customization Overview'), '#') %></li>
      <% unless @resource_context.new_record? %>
        <li><%= link_to(content_tag(:span, 'Customization Details'), customization_requirement_path(@resource_context)) %></li>
      <%end%>
      <li class="last"></li>
    <% end %>
    <!-- The following adds "current" class when on Customization Details page -->
    <% if menu_level(0) == 'customizations' && menu_level(1) == 'details'%>
      <li><%= link_to(content_tag(:span, 'Customization Overview'), edit_resource_context_path(@resource_context)) %></li>
      <li class="current"><%= link_to(content_tag(:span, 'Customization Details'), '#') %></li>
      <li class="last"></li>
    <% end %>
  </ul>
</li>