<div class ='dashboard_header'>
	<%= link_to 'My Dashboard ', dashboard_path %>
	|
	<%= link_to 'My DMPs', '#' %>
	|
	<%= link_to 'Create New DMP' ,'#' %>
	|
	<%= link_to 'Review DMPs', '#' %>
	|
	<%= link_to 'DMP Templates', requirements_templates_path %>
	|
	<%= link_to 'Resources', resource_templates_path %>
	|
	<%= link_to 'Institution Profile', institutions_path %>
	|
	<%= link_to 'My Profile', edit_user_path(current_user) %>

	<% if can? :manage, :all %>
	|
			
		<%=  link_to 'DMP Administration', users_path %>

	<% end %>
</div>