<div class='dashboard'>
	<div class='dashboard_header'>
		<div class='cdl_logo'>
			<%= image_tag('cdl_logo.png', :width => '164', :height => '51', :alt => 'California Digital Library') %>	
		</div>
		<div class='cdl_title'>
			<h3>University of California Curation Center of the California Digital Library</h3>
		</div>
		<div class='inst_url'>
			<%= link_to '#', :id => 'inst-url' do %>
				<span></span>www.domainname.com
			<% end %>
			<%= link_to '#', :id => 'inst-contact' do %>
				<span></span>Contact Institution Administration
			<% end %>
		</div>
	</div>
	<div class ='dashboard_nav'>
		<%= link_to 'My Dashboard ', '#' %>
		|
		<%= link_to 'My DMPs', '#' %>
		|
		<%= link_to 'Create New DMP' ,'#' %>
		|
		<%= link_to 'Review DMPs', '#' %>
		|
		<%= link_to 'DMP Templates', requirements_templates_path %>
		|
		<%= link_to 'Resources', resource_templates_path %>
		|
		<%= link_to 'Institution Profile', '#' %>
		|
		<%= link_to 'My Profile', '#' %>
		|
		<%= link_to 'DMP Administration', '#' %>
	</div>
</div>
