<div class="dashboard">
	<div class="dashboard-header row-fluid">
		<% unless current_user.institution.nil? %>
			<div class="inst-logo span3">
				<%= image_tag current_user.institution.logo, :alt => "#{current_user.institution.nickname}" %>
			</div>
			<div class="inst-title span5">
				<h2><%= current_user.institution.full_name %></h2>
			</div>
			<div class="inst-info span4">
				<%= link_to "http://#{current_user.institution.url}", :id => 'inst-domain' do %>
					<span class="icon inst-domain"></span><%= current_user.institution.url %>
				<% end %>
				<%= mail_to current_user.institution.contact_email, :id => "inst-contact" do %>
					<span class="icon inst-contact"></span>Contact <%= current_user.institution.contact_info %>
				<% end %>
			</div>
		<% else %>
			<div class="inst-logo">
				<%= image_tag("", :width => '164', :height => '51', :alt => 'Institution Logo') %>
			</div>
			<div class="inst-title">
				<h3>Institution Name</h3>
			</div>
			<div class="inst-info">
				<%= link_to '#', :id => 'inst-domain' do %>
					<span class="icon inst-domain"></span>www.domainname.edu
				<% end %>
				<%= link_to '#', :id => 'inst-contact' do %>
					<span class="icon inst-contact"></span>Contact Institution Admin
				<% end %>
			</div>
		<% end %>
	</div>
	<div class="dashboard-nav row-fluid" id="quick_dashboard">
		<ul class="nav">
			<li <%= "class=current" if current_page?(dashboard_path) %> ><%= link_to(content_tag(:span, 'My Dashboard'),  dashboard_path) %></li>
			<li><%= link_to(content_tag(:span, 'My DMPs'), '#') %></li>
			
			<% if (safe_has_role?(Role::DMP_ADMIN) || safe_has_role?(Role::INSTITUTIONAL_ADMIN)|| safe_has_role?(Role::TEMPLATE_EDITOR))%>
			
			
				<% if(current_page?(controller: 'requirements_templates', action: 'new')) || (current_page?(edit_requirements_template_path(@requirements_template)) || (current_page?(requirements_template_requirements_path(@requirements_template)))) %>
				
				<li><%= link_to(content_tag(:span, 'Create New DMP'),'#', :class => 'child-page') %>
					<ul>
							<% if(current_page?(controller: 'requirements_templates', action: 'new')) || (current_page?(edit_requirements_template_path(@requirements_template))) %>
							<!-- Highlight the DMP Template link if the user is on this page- Requirements Template Overview -->
								<li class="current"><%= link_to(content_tag(:span, 'DMP Template'), '#') %></li>
								<li><%= link_to(content_tag(:span, 'DMP Overview'), '#') %></li>
								<li class="last"></li>
							<% end %>
							<% if (current_page?(requirements_template_requirements_path(@requirements_template))) %>
							<!-- Highlight the DMP Overview link if the user is on this page -Requiremnts Template Details -->
								<li><%= link_to(content_tag(:span, 'DMP Template'), '#') %></li>
								<li class="current"><%= link_to(content_tag(:span, 'DMP Overview'), '#') %></li>
								<li class="last"><%= content_tag(:span, '') %></li>
							<% end %>
					</ul>
			</li>
			<% else %>
			
			<li><%= link_to(content_tag(:span, 'Create New DMP'),'#') %></li>
			
			<% end %>
			<% end %>
			
			<% if (safe_has_role?(Role::INSTITUTIONAL_REVIEWER) ||  safe_has_role?(Role::DMP_ADMIN))%>
				<li><%= link_to(content_tag(:span, 'Review DMPs'), '#') %></li>
			<% end %>

			<% if (safe_has_role?(Role::DMP_ADMIN) || safe_has_role?(Role::INSTITUTIONAL_ADMIN)|| safe_has_role?(Role::TEMPLATE_EDITOR))%>
				<% if(current_page?(controller: 'requirements_templates', action: 'new')) || (current_page?(edit_requirements_template_path(@requirements_template))) || (current_page?(requirements_template_requirements_path(@requirements_template))) %>
				<li <%= 'class=child-page' if current_page?(controller: 'requirements_templates', action: 'new') || current_page?(edit_requirements_template_path(@requirements_template)) || current_page?(requirements_template_requirements_path(@requirements_template)) %>> <%= link_to(content_tag(:span, 'DMP Templates'), requirements_templates_path) %>
					<ul class="dmp-templates-children">
							<% if(current_page?(controller: 'requirements_templates', action: 'new')) || (current_page?(edit_requirements_template_path(@requirements_template))) %>
							<!-- Highlight the Template Overview link if the user is on this page- Requirements Template Overview -->
								<li class="current"><%= link_to(content_tag(:span, 'Template Overview'), '#') %></li>
								<li><%= link_to(content_tag(:span, 'Template Details'), '#') %></li>
								<li class="last"></li>
							<% end %>
							<% if (current_page?(requirements_template_requirements_path(@requirements_template))) %>
							<!-- Highlight the Template Details link if the user is on this page -Requiremnts Template Details -->
								<li><%= link_to(content_tag(:span, 'Template Overview'), '#') %></li>
								<li class="current"><%= link_to(content_tag(:span, 'Template Details'), '#') %></li>
								<li class="last"><%= content_tag(:span, '') %></li>
							<% end %>
					</ul>
				</li>
				<% else %>
				<li <%= 'class=current' if current_page?(requirements_templates_path) %>> <%= link_to(content_tag(:span, 'DMP Templates'), requirements_templates_path) %></li>
				<% end %>
			<% end %>
			<% if (safe_has_role?(Role::RESOURCE_EDITOR) || safe_has_role?(Role::DMP_ADMIN) || safe_has_role?(Role::INSTITUTIONAL_ADMIN))%>
				<li <%= 'class=current' if current_page?(resource_templates_path)%> > <%= link_to(content_tag(:span, 'Resources'), resource_templates_path) %></li>
			<% end %>

			<% if ( safe_has_role?(Role::INSTITUTIONAL_ADMIN)||  safe_has_role?(Role::DMP_ADMIN) )%>
				<li <%= 'class=current' if current_page?(institutions_path) %> > <%= link_to(content_tag(:span, 'Institution Profile'), institutions_path) %></li>
			<% end %>

			<li <%= 'class=current' if current_page?(edit_user_path(current_user)) %> > <%= link_to(content_tag(:span, 'My Profile'), edit_user_path(current_user)) %></li>

			<% if safe_has_role?(Role::DMP_ADMIN) %>
				<li <%= 'class=current' if current_page?(users_url) %> > <%= link_to(content_tag(:span, 'DMP Administration'), users_url) %></li>
			<% end %>
		</ul>
	</div>
</div>
