%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      = link_to 'DMPTool', '#', id: 'logo'
      %nav
        %ul.nav.pull-right

          %li= link_to 'Home', root_path
          %li= link_to 'DMP Guidance', '#'
          %li= link_to 'Example DMPs', '#'
          %li= link_to 'DMPTool News', '#'
          %li= link_to 'Help', help_path
          %li= link_to 'Contact Us', contact_path
          %li= link_to 'Logout', logout_path if signed_in?

