<header class='navbar navbar-fixed-top navbar-inverse' >
  <div class='navbar-inner'>
    <div class='container'
      <nav>
        <%= link_to 'DMPTool', '#', id: 'logo' %>
        <ul class='nav pull-right'>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'DMP Guidance', '#' %></li>
          <li><%= link_to 'Example DMPs', '#' %></li>
          <li><%= link_to 'DMPTool News', '#' %></li>
          <li><%= link_to 'Help', help_path %></li>
          <li><%= link_to 'Contact Us', contact_path %></li>
          <li><%= link_to 'LogIn', choose_institution_path if !current_user %></li>
          <li><%= link_to 'Logout', logout_path if current_user %></li>
        </ul>
      </nav>
    <div>
  </div>
</header>
