<!DOCTYPE html>
<html>
  <head>
    <title>Dmptool2</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <script>
    	if (navigator.userAgent.match(/AppleWebKit/) && ! navigator.userAgent.match(/Chrome/)) {
   			document.write('<link rel="stylesheet" media="all" href="/assets/safari.css?body=1" data-tubolinks-track="true" />')
			}
    </script>
  </head>
  <body>
  <%= render 'layouts/header' %>

  <div class="container">
  	<% if current_user %>
  		<%= render 'layouts/dashboard_header' unless ['static_pages', 'user_sessions'].include?(controller_name) && !['guidance'].include?(action_name) %>
  	<% end %>
    <% flash.each do |key, value| %>
      <div class="alert alert-#{key}">
        <p><%= value %></p>
      </div>
    <% end %>

    <%= yield %>
  </div>
  
  <%= render 'layouts/footer' %>
  </body>
</html>