<% set_page_history %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @title_text %>: DMPTool</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag "favicon.ico" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <script>
    	/* Test for Safari */
    	if (navigator.userAgent.match(/AppleWebKit/) && ! navigator.userAgent.match(/Chrome/)) {
    		/* include safari stylesheet*/
   			document.write('<link rel="stylesheet" media="all" href="/stylesheets/safari.css" />');
			}
			/* Test for Chrome */
			if (navigator.userAgent.match(/Chrome/)) {
				/* include chrome stylesheet */
   			document.write('<link rel="stylesheet" media="all" href="/stylesheets/chrome.css" />');
			}
    </script>
    

   
    <!--[if IE 8]><link rel="stylesheet" media="all" href="/stylesheets/ie.css" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" media="all" href="/stylesheets/ie.css" /><![endif]-->
    <%= render :partial => 'layouts/analytics' %>
  </head>
  <body>

  <% if !current_user %>
    <div><p class="text-center alert alert-info">
      The DMPTool will be unavailable on 27 Feb 8am-5pm Pacific Time while we migrate to the new version.<br>Please plan accordingly.
    </p></div>
  <% end %>

  <%= render 'layouts/header' %>

  <div class="container">
  	<% if current_user %>

      <div><p class="text-center alert alert-info">
        The DMPTool will be unavailable on 27 Feb 8am-5pm Pacific Time while we migrate to the new version.<br>Please plan accordingly.
      </p></div>

  		<%= render 'layouts/dashboard_header' unless ['static_pages', 'user_sessions'].include?(controller_name) && !['guidance', 'public_dmps', 'contact'].include?(action_name) %>
  	<% end %>

    <%= render partial: "shared/flash_messages", flash: flash %>



    <%= yield %>
  </div>

  <%= render 'layouts/footer' %>
  </body>
</html>