<!DOCTYPE html>
<html>
  <head>
    <title>Dmptool2</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
  <%= render 'layouts/header' %>
  <%= render 'layouts/dashboard_header' unless controller_name == ('static_pages' ||  'user_sessions') %>

  <div class='container' >
    <% flash.each do |key, value| %>
      <div class="alert alert-#{key}">
        <%= value %>
      </div>
    <% end %>

    <%= yield %>
  </div>

  <%= render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development? %>
  </body>
</html>