<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dmptool2</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag "favicon.ico" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <script>
    	/* Test for Safari */
    	if (navigator.userAgent.match(/AppleWebKit/) && ! navigator.userAgent.match(/Chrome/)) {
    		/* include safari stylesheet*/
   			document.write('<link rel="stylesheet" media="all" href="/assets/safari.css?body=1" />');
			}
			/* Test for Chrome */
			if (navigator.userAgent.match(/Chrome/)) {
				/* include chrome stylesheet */
   			document.write('<link rel="stylesheet" media="all" href="/assets/chrome.css?body=1" />');
			}
    </script>
    <!--[if IE 8]><link rel="stylesheet" media="all" href="/assets/ie.css" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" media="all" href="/assets/ie.css" /><![endif]-->
    <%= render :partial => 'layouts/analytics' %>
  </head>
  <body>
  <%= render 'layouts/header' %>

  <div class="container">
  	<% if current_user %>
  		<%= render 'layouts/dashboard_header' unless ['static_pages', 'user_sessions'].include?(controller_name) && !['guidance', 'public_dmps'].include?(action_name) %>
  	<% end %>

    <%= render partial: "shared/flash_messages", flash: flash %>



    <%= yield %>
  </div>

  <%= render 'layouts/footer' %>
  </body>
</html>