<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DmpTool2: <%= @title_text %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_link_tag "favicon.ico" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <script>
    	if (navigator.userAgent.match(/AppleWebKit/) && ! navigator.userAgent.match(/Chrome/)) {
   			document.write('<link rel="stylesheet" media="all" href="/stylesheets/safari.css" />')
			}
			if (navigator.userAgent.match(/Chrome/)) {
   			document.write('<link rel="stylesheet" media="all" href="/stylesheets/chrome.css" />')
			}
    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
